<%= form_for(@ally) do |f| %>
  <% if @ally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ally.errors.count, "error") %> prohibited this ally from being saved:</h2>

      <ul>
      <% @ally.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :allies %><br>
    <%= f.text_field :allies %>
  </div>
  <div class="actions">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
