
<div class="align_left">
<%= link_to 'Invite your loved ones!', new_user_invitation_path %>
</div>
<div class="align_right">
  <%= render :partial => '/search/form' %>
</div>
<div class="clear"></div>

<div class="spacer"></div>

<% if !@outgoing_ally_requests.empty? %>
  <strong><%= t('.outgoing') %></strong>
  <br>
  <br>
  <% @outgoing_ally_requests.each_with_index do |ally, index| %>
    <% if index + 1 == @outgoing_ally_requests.length %>
      <div class="ally no_margin_bottom">
    <% else %>
      <div class="ally">
    <% end %>
        <div class="align_left">
          <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
        </div>
        <div class="align_right location">
          <%= ally.location %>
        </div>
        <div class="clear"></div>
        <%= link_to 'Cancel', remove_allies_path(ally_id: ally.id, refresh: allies_path), :method => :post, data: { confirm: t('.confirm') } %>
      </div>
  <% end %>
<% end %>

<% if !@incoming_ally_requests.empty? %>
  <% if !@outgoing_ally_requests.empty? %>
    <div class="spacer"></div>
  <% end %>
  <strong><%= t('.incoming') %></strong>
  <br>
  <br>
  <% @incoming_ally_requests.each_with_index do |ally, index| %>
    <% if index + 1 == @incoming_ally_requests.length %>
      <div class="ally no_margin_bottom">
    <% else %>
      <div class="ally">
    <% end %>
        <div class="align_left">
          <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
        </div>
        <div class="align_right location">
          <%= ally.location %>
        </div>
        <div class="clear"></div>
        <%= link_to 'Accept', add_allies_path(ally_id: ally.id, refresh: allies_path), method: :post %> | <%= link_to 'Reject', remove_allies_path(ally_id: ally.id, refresh: allies_path), :method => :post, data: { confirm: t('.confirm') } %>
      </div>
  <% end %>
<% end %>

<% @accepted_allies.each_with_index do |ally, index| %>
  <% if !@incoming_ally_requests.empty? || !@outgoing_ally_requests.empty? %>
    <div class="spacer"></div>
  <% end %>
  <% if index+1 == @accepted_allies.length %>
    <div class="ally no_margin_bottom">
  <% else %>
    <div class="ally">
  <% end %>
      <div class="table">
        <div class="table_cell padding_right profile_picture_div">
          <%= image_tag fetch_profile_picture(ally.avatar.url), class: 'profile_picture' %>
        </div>
        <div class="table_cell vertical_align_top">
          <div class="align_left">
            <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
          </div>
          <div class="align_right location">
            <%= ally.location %>
          </div>
          <div class="clear"></div>
            <%= link_to 'Remove', remove_allies_path(ally_id: ally.id, refresh: allies_path), :method => :post, data: { confirm: t('.confirm') } %>
        </div>
      </div>
    </div>
<% end %>

<% if @outgoing_ally_requests.empty? && @incoming_ally_requests.empty? && @accepted_allies.count == 0 %>
  <%= t('.none') %>
<% end %>
