<% if !@ally_requests.empty? %>
  <strong>Requests</strong>
  <br />
  <br />
  <% @ally_requests.each do |ally| %>
    <div class="ally">
      <div class="align_left">
        <h1 class="ally_name"><%= link_to User.where(:id => ally).first.firstname + " " + User.where(:id => ally).first.lastname, profile_index_path(:userid => ally) %></h1>
      </div>
      <div class="align_right location">
        <%= User.where(:id => ally).first.location %>
      </div>
      <div class="clear"></div>
      <%= link_to 'Accept', add_allies_path(:userid => ally), :method => :post %>
    </div>
  <% end %>
<% end %>

<% if !@allies.empty? %>
  <% @allies.each do |ally| %>
    <% ally.allies.each do |ally_item| %>
      <div class="ally">
        <div class="table">
          <div class="table_cell" style="width: 200px; padding-right: 20px; vertical-align: top">
            <%= image_tag avatar_url(User.where(:id => ally_item).first), :class => 'profile_pic' %>
          </div>
          <div class="table_cell" style="vertical-align: top">
            <div class="align_left">
              <h1 class="ally_name"><%= link_to User.where(:id => ally_item).first.firstname + " " + User.where(:id => ally_item).first.lastname, profile_index_path(:userid => ally_item) %></h1>
            </div>
            <div class="align_right location">
              <%= User.where(:id => ally_item).first.location %>
            </div>
            <div class="clear"></div>
            <% if !Ally.where(:userid => ally_item).exists? || !Ally.where(:userid => ally_item).first.allies.include?(current_user.id.to_s) %>
              (Pending Request)
              <br />
              <%= link_to 'Cancel Request', remove_allies_path(:userid => ally_item), :method => :post, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <br />
              <%= link_to 'Remove as Ally', remove_allies_path(:userid => ally_item), :method => :post, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>