<% title t('allies.index.title') %>
<div id="allies_search">
  <%= render partial: '/search/form' %>
  <div class="small_margin_top">
  <%= link_to t('allies.index.invite'), new_user_invitation_path %>
  </div>
</div>

<% if @outgoing_ally_requests.any? %>
  <strong><%= t('allies.index.outgoing') %></strong>
  <div class="spacer"></div>
  <div class="gridThree">
  <% @outgoing_ally_requests.each do |ally| %>
    <div class="gridThreeItemBoxLight center">
      <%= ProfilePicture.fetch(ally.avatar.url, className: 'profile_picture') %>
      <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
      <div class="subtle"><%= ally.location %></div>
      <%= link_to t('allies.index.cancel'), remove_allies_path(ally_id: ally.id), method: :post, data: { confirm: t('common.actions.confirm') } %>
    </div>
  <% end %>
  </div>
<% end %>

<% if @incoming_ally_requests.any? %>
  <% if @outgoing_ally_requests.any? %>
    <div class="spacer"></div>
  <% end %>
  <strong><%= t('allies.index.incoming') %></strong>
  <div class="spacer"></div>
  <div class="gridThree">
  <% @incoming_ally_requests.each do |ally| %>
    <div class="gridThreeItemBoxLight center">
      <%= ProfilePicture.fetch(ally.avatar.url, className: 'profile_picture') %>
      <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
      <div class="subtle"><%= ally.location %></div>
      <%= link_to t('allies.accept'), add_allies_path(ally_id: ally.id), method: :post %> | <%= link_to t('common.actions.remove'), remove_allies_path(ally_id: ally.id), method: :post, data: { confirm: t('common.actions.confirm') } %>
    </div>
  <% end %>
  </div>
<% end %>

<% if @accepted_allies.present? %>
  <div class="spacer"></div>
  <strong><%= t('allies.index.title') %></strong>
  <div class="spacer"></div>
<% end %>

<% if @accepted_allies.present? %>
  <div class="gridThree">
    <% @accepted_allies.each do |ally| %>
      <div class="gridThreeItemBoxLight center">
        <%= ProfilePicture.fetch(ally.avatar.url, className: 'profile_picture') %>
        <h1 class="ally_name"><%= link_to ally.name, profile_index_path(uid: get_uid(ally.id)) %></h1>
        <div class="subtle"><%= ally.location %></div>
        <%= link_to t('common.actions.remove'), remove_allies_path(ally_id: ally.id), method: :post, data: { confirm: t('common.actions.confirm') } %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @outgoing_ally_requests.empty? && @incoming_ally_requests.empty? && @accepted_allies.count == 0 %>
  <%= t('allies.index.none') %>
<% end %>
