<% if !@outgoing_ally_requests.empty? %>
  <strong>Outgoing Requests</strong>
  <br>
  <br>
  <% @outgoing_ally_requests.each do |ally_id| %>
    <div class="ally">
      <div class="align_left">
        <h1 class="ally_name"><%= link_to User.where(:id => ally_id).first.firstname + " " + User.where(:id => ally_id).first.lastname, profile_index_path(:userid => ally_id) %></h1>
      </div>
      <div class="align_right location">
        <%= User.where(:id => ally_id).first.location %>
      </div>
      <div class="clear"></div>
      <%= link_to 'Cancel', remove_allies_path(:userid1 => current_user.id, :userid2 => ally_id), :method => :post, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>

<% if !@incoming_ally_requests.empty? %>
  <strong>Incoming Requests</strong>
  <br>
  <br>
  <% @incoming_ally_requests.each do |ally_id| %>
    <div class="ally">
      <div class="align_left">
        <h1 class="ally_name"><%= link_to User.where(:id => ally_id).first.firstname + " " + User.where(:id => ally_id).first.lastname, profile_index_path(:userid => ally_id) %></h1>
      </div>
      <div class="align_right location">
        <%= User.where(:id => ally_id).first.location %>
      </div>
      <div class="clear"></div>
      <%= link_to 'Accept', add_allies_path(:userid1 => current_user.id, :userid2 => ally_id, :status => AllyStatus::ACCEPTED), :method => :post %> | <%= link_to 'Reject', remove_allies_path(:userid1 => current_user.id, :userid2 => ally_id), :method => :post, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>

<% @accepted_allies.each do |ally_id| %>
    <div class="ally">
      <div class="table">
        <div class="table_cell" style="width: 200px; padding-right: 40px">
          <% profile = User.where(:id => ally_id).first %>
          <%= image_tag fetch_profile_picture(profile.avatar.url), class: 'profile_picture' %>
        </div>
        <div class="table_cell" style="vertical-align: top">
          <div class="align_left">
            <h1 class="ally_name"><%= link_to User.where(:id => ally_id).first.firstname + " " + User.where(:id => ally_id).first.lastname, profile_index_path(:userid => ally_id) %></h1>
          </div>
          <div class="align_right location">
            <%= User.where(:id => ally_id).first.location %>
          </div>
          <div class="clear"></div>
            <%= link_to 'Remove', remove_allies_path(:userid1 => current_user.id, :userid2 => ally_id), :method => :post, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
<% end %>