<%= form_for(@mood) do |f| %>
<% if @mood.errors.any? %>
  <div class="error_explanation">
    <%= t('moods.form.error_explanation') %>
  </div>
<% end %>

  <div class="field">
    <div class="label">
      <%= f.label t('moods.form.name'), for: 'mood_name' %>
      <i class="fa fa-asterisk align_right"></i>
      <div class="clear"></div>
    </div>
    <%= f.text_field :name, :class => "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label t('moods.form.description'), for: 'mood_description' %>
    </div>
    <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
  </div>

  <div class="actions align_right no_margin_bottom">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>

  <div class="clear"></div>

<% end %>
