<%= form_for(@mood) do |f| %>
<% if @mood.errors.any? %>
  <div class="error_explanation">
    <%= t('error_explanation') %>
  </div>
<% end %>

<div class="table_cell">

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <%= f.text_field :name, :class => "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label :description %>
    </div>
    <%= f.cktext_area :description %>
  </div>

  <div class="actions align_right">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>

  <div class="clear"></div>

</div>

<% end %>
