<%= form_for(@mood) do |f| %>
  <% if @mood.errors.any? %>
    <div class="errorText">
      <%= t('common.form.error_explanation') %>
    </div>
  <% end %>

  <div class="field">
    <div class="label">
      <%= f.label t('common.name'), for: 'mood_name' %>
      <i class="fa fa-asterisk"></i>
    </div>
    <%= f.text_field :name, class: "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label t('common.form.description'), for: 'mood_description' %>
    </div>
    <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
  </div>

  <div class="actions no_margin_bottom">
    <%= f.submit t('common.actions.submit') %>
  </div>
<% end %>
