<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @moods.length > 0 %>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @moods.each do |mood| %>
        <tr>
          <td><%= link_to mood.name, mood %></td>
          <td>
            <%= simple_format(mood.description[0..80]) %>
            <% if mood.description.length >= 80 %>
              <%= " [...]" %>
            <% end %>
          </td>
          <td>
            <i class="fa fa-pencil action"></i><%= link_to t('.edit'), edit_mood_path(mood) %>
            <i class="fa fa-trash-o action small_margin_left"></i><%= link_to t('.delete'), mood, method: :delete, data: { confirm: t('.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  You haven't created any custom moods yet. Click <i class="fa fa-plus-circle"></i> to add some! 
  <br>You can also add the following premade moods and customize them another time.

  <div class="actions align_right">
    <%= button_to "Add all", premade_moods_path %>
  </div>

  <div class="clear"></div>

  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    
        <tr>
          <td><%= t('moods.index.premade1_name') %></td>
          <td><%= t('moods.index.premade1_description') %></td>
        </tr>

        <tr>
          <td><%= t('moods.index.premade2_name') %></td>
          <td><%= t('moods.index.premade2_description') %></td>
        </tr>

        <tr>
          <td><%= t('moods.index.premade3_name') %></td>
          <td><%= t('moods.index.premade3_description') %></td>
        </tr>

        <tr>
          <td><%= t('moods.index.premade4_name') %></td>
          <td><%= t('moods.index.premade4_description') %></td>
        </tr>

        <tr>
          <td><%= t('moods.index.premade5_name') %></td>
          <td><%= t('moods.index.premade5_description') %></td>
        </tr>
    </tbody>
  </table>
<% end %>