<% title 'Moods' %>
<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @moods.length > 0 %>
  <%= render :partial => '/search/posts', locals: { data_type: 'mood' } %>

  <%= render :partial => '/shared/stats', locals: { data_type: 'mood' } %>

  <div id="pages">
    <div class="page">
    <%= render @moods %>
    </div>
  </div>

  <%= paginate @moods %>
<% else %>
  You haven't created any custom moods yet. Click <i class="fa fa-plus-circle"></i> to add some!
  <br>You can also add the following premade moods and customize them another time.

  <div class="actions align_right">
    <%= button_to "Add all", premade_moods_path %>
  </div>

  <div class="clear"></div>

  <div class="mood">
    <h1 class="mood_name"><%= t('moods.index.premade1_name') %></h1>

    <%= strip_tags(t('moods.index.premade1_description')[0..80]) %>
    <% if t('moods.index.premade1_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="mood">
    <h1 class="mood_name"><%= t('moods.index.premade2_name') %></h1>

    <%= strip_tags(t('moods.index.premade2_description')[0..80]) %>
    <% if t('moods.index.premade2_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="mood">
    <h1 class="mood_name"><%= t('moods.index.premade3_name') %></h1>

    <%= strip_tags(t('moods.index.premade3_description')[0..80]) %>
    <% if t('moods.index.premade3_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="mood no_margin_bottom">
    <h1 class="mood_name"><%= t('moods.index.premade4_name') %></h1>

    <%= strip_tags(t('moods.index.premade4_description')[0..80]) %>
    <% if t('moods.index.premade4_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>
<% end %>
