<% title @mood.name %>
<% if @mood.description.present? && @mood.description.length > 0 %>
  <%= sanitize(@mood.description) %>
<% else %>
  <div class="messageMain">
    <%= t('warnings.no_description') %>
  </div>
  <div class="messageBody noMarginBottom">
    <%= t('warnings.yes_description') %>
  </div>
<% end %>
<div class="gridItemBoxDark gridRowSpaceBetween smallMarginTop">
	<div class="gridRowSpaceBetween">
		<div class="smallMarginRight tinyTitle"><%= t('common.actions.plural') %></div>
			<%= react_component('StoryActions', props: element_visibility_based_props(@mood)) %>
	</div>
</div>
<%= render partial: '/tag_usage/index' %>
