<h2><%= t('devise.confirmations.resend_confirmation')  %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><div class="label"><%= f.label t('common.form.email') %></div>
  <%= f.email_field :email %></div>

  <div class="actions"><%= f.submit t('devise.confirmations.resend_confirmation'), class: 'buttonGhostM' %></div>
<% end %>

<%= render "devise/shared/links" %>
