<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div class="errorText">
      <%= t('common.form.error_explanation') %>
    </div>
  <% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top sidebar">

    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('common.name'), for: 'meeting_name' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.text_field :name, class: 'name_field' %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('common.form.location'), for: 'meeting_location' %>:
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.text_field :location, placeholder: t('meetings.form.location_placeholder'), class: 'full_field' %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('meetings.info.meeting_time'), for: 'meeting_time' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.text_field :time, class: 'full_field' %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('common.date'), for: 'meeting_date' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.text_field :date, { readonly: true, class: 'full_field' } %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('meetings.form.maximum_members'), for: 'meeting_maxmembers' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.number_field :maxmembers, min: 0, placeholder: t('meetings.form.maximum_placeholder'), class: 'full_field' %>
    </div>

  </div>

  <div class="table_cell vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('common.form.description'), for: 'meeting_description' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.cktext_area :description, class: 'special_textarea ckeditor' %>
    </div>

    <div class="actions">
      <%= f.hidden_field :group_id, value: @group_id || @meeting.group_id %>
      <%= f.submit t('common.actions.submit') %>
    </div>

  </div>

</div>

<% end %>
