<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script>
	$(function(){
		$("#timepicker").timepicker();
	});
  </script>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :description %></div>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :location %></div>
    <%= f.text_field :location, placeholder: 'URL or street address' %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :time %></div>
    <%= f.text_field :time, :id => "timepicker" %>
  </div>
  <div class="field">
    <div class="label"><%= f.label 'Maximum Members' %></div>
    <%= f.number_field :maxmembers, min: 0, placeholder: '0 if no maximum' %>
  </div>
  <div class="actions">
     <%= f.hidden_field :groupid, value: @groupid %>
    <%= f.submit %>
  </div>
<% end %>
