<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div class="error_explanation">
      <%= t('.error_explanation') %>
    </div>
  <% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.name') %>
      </div>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.location') %>
      </div>
      <%= f.text_field :location, placeholder: t('.location_placeholder') %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.time') %>
      </div>
      <%= f.text_field :time %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.date') %>
      </div>
      <%= f.text_field :date %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.maximum_members') %>
      </div>
      <%= f.number_field :maxmembers, min: 0, placeholder: t('.maximum_placeholder') %>
    </div>

  </div>

  <div class="table_cell vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.description') %>
      </div>
      <%= f.cktext_area :description, class: 'no_title special_textarea' %>
    </div>

    <div class="actions">
      <%= f.hidden_field :groupid, value: @groupid || @meeting.groupid %>
      <%= f.submit %>
    </div>

  </div>

</div>

<% end %>