<style>
	#header a#settings_link:link {
    	border-bottom: 1px solid #ffffff;
  	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		function get_timezone() {
			var cityfqcn = $("#user_location").val();
		    if (cityfqcn) {
			    $.getJSON(
			    	"http://gd.geobytes.com/GetCityDetails?callback=?&fqcn="+cityfqcn,
			       	function (data) {
			        	$("#user_timezone").val(data.geobytestimezone);
			     	}
			    );
			}
		}
	    $("#user_location").autocomplete({
	    	source: function (request, response) {
		       	$.getJSON(
		        	"http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
		        	function (data) {
		         		response(data);
		        	}
		       	);
	      	},
	      	minLength: 3,
	      	select: function (event, ui) {
		       	var selectedObj = ui.item;
		       	$("#user_location").val(selectedObj.value);
		       	return false;
	      	},
	      	open: function () {
	       		$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
	      	},
	      	close: function () {
	       		$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
	       		get_timezone();
	      	}
	    });
	    $("#user_location").autocomplete("option", "delay", 100);
	});
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>

	<div class="field"><div class="label"><%= f.label "Full name" %></div>
	<%= f.text_field :firstname, autofocus: true, class: "spacing", placeholder: "First name" %>
	<%= f.text_field :lastname, placeholder: "First name" %></div>

	<div class="field"><div class="label"><%= f.label :location %></div>
	<%= f.text_field :location %></div>

	<div class="field"><div class="label"><%= f.label :email %></div>
	<%= f.email_field :email %></div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="field"><div class="label"><%= f.label "Profile picture" %></div>
	<% profile = User.where(:id => current_user.id).first %>
	<%= image_tag fetch_profile_picture(profile.avatar.url), class: 'mini_profile_picture' %>
	<br>
	<%= f.file_field :avatar %></div>

	<div class="field"><div class="label"><%= f.label :about %></div>
	<%= f.text_area :about, placeholder: "Introduce yourself! Why are you here and what are you looking to achieve? List some fun facts!" %></div>

	<div class="field"><div class="label"><%= f.label "New password" %></div>
	<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
	<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Repeat password" %></div>

	<div class="field"><div class="label"><%= f.label :current_password %></div>
	<%= f.password_field :current_password, autocomplete: "off", placeholder: "Required" %></div>

	<div class="actions">
		<%= f.hidden_field :timezone %>
		<%= f.submit "Update" %>
	</div>
<% end %>

<div class="label"><label>Is <strong>if me</strong> not working out for you?</label></div>
<%= button_to "Permanently delete my account", registration_path(resource_name), data: { confirm: "Are you sure? You'll lose all of your data. But you can always sign up again!" }, method: :delete %>

