<script type="text/javascript">
  $(document).ready(function(){
    function get_timezone() {
      var cityfqcn = $("#user_location").val();
        if (cityfqcn) {
          $.getJSON(
            "http://gd.geobytes.com/GetCityDetails?callback=?&fqcn="+cityfqcn,
              function (data) {
                $("#user_timezone").val(data.geobytestimezone);
            }
          );
      }
    }
      $("#user_location").autocomplete({
        source: function (request, response) {
            $.getJSON(
              "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
              function (data) {
                response(data);
              }
            );
          },
          minLength: 3,
          select: function (event, ui) {
            var selectedObj = ui.item;
            $("#user_location").val(selectedObj.value);
            return false;
          },
          open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
          },
          close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            get_timezone();
          }
      });
      $("#user_location").autocomplete("option", "delay", 100);
  });
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><div class="label"><%= f.label 'First Name' %></div>
  <%= f.text_field :firstname, autofocus: true %></div>

  <div class="field"><div class="label"><%= f.label 'Last Name' %></div>
  <%= f.text_field :lastname %></div>

<div class="field"><div class="label"><%= f.label :location %></div>
  <%= f.text_field :location %></div>

  <div class="field"><div class="label"><%= f.label :email %></div>
  <%= f.email_field :email %></div>

  <div class="field"><div class="label"><%= f.label :password %></div>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="field"><div class="label"><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="actions">
    <%= f.hidden_field :timezone %>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
