<div class="subtitle"><%= t('devise.registrations.new.subtitle') %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="center">
    <div class="label"><%= t('common.name') %></div>
    <%= f.text_field :name, 'aria-label': t('common.name') %>

    <div class="label smallMarginTop"><%= t('devise.registrations.new.label') %></div>
    <%= react_component 'Input', props: { type: 'location', placeholder: t('common.form.location'), googleAPIKey: ENV['GOOGLE_API_KEY'], id: 'user_input'} %>

    <div class="smallMarginTop">
      <%= f.email_field :email, placeholder: t('common.form.email'), 'aria-label': t('common.form.email') %>
    </div>

    <div class="label smallMarginTop"><%= t('devise.password') %></div>
    <%= f.password_field :password, autocomplete: 'off', class: 'smallMarginBottom', placeholder: t('devise.password'), 'aria-label': t('devise.password') %>
    <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: t('devise.registrations.placeholders.repeat_password'), 'aria-label': ('devise.registrations.placeholders.repeat_password') %>

    <%= f.submit t('account.sign_up'), class: 'buttonGhostM smallMarginTop' %>
  </div>
<% end %>

<div class="center">
  <%= render 'devise/shared/links' %>
</div>
