<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="subtitle">Start telling your stories and maintaining your health in a safe, private space</div>
  <div class="spacer"></div>

  <div class="center">
    <div class="field"><div class="label"><%= f.label 'Name' %></div>
    <%= f.text_field :name %></div>

    <div class="field"><div class="label"><%= f.label 'A few details' %></div>
    <%= f.text_field :location, class: 'spacing', placeholder: 'Location' %>
    <%= f.email_field :email, placeholder: 'Email' %></div>

    <div class="field"><div class="label"><%= f.label :password %></div>
      <%= f.password_field :password, autocomplete: "off", class: 'spacing', placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Repeat password' %></div>

    <div class="actions">
      <%= f.hidden_field :timezone %>
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>

<div class="center">
  <%= render "devise/shared/links" %>
</div>
