<script type="text/javascript">
  jQuery(function () {
    function get_timezone() {
      var cityfqcn = jQuery("#user_location").val();
        if (cityfqcn) {
          jQuery.getJSON(
            "http://gd.geobytes.com/GetCityDetails?callback=?&fqcn="+cityfqcn,
              function (data) {
                jQuery("#user_timezone").val(data.geobytestimezone);
            }
          );
      }
    }
      jQuery("#user_location").autocomplete({
        source: function (request, response) {
          jQuery.getJSON(
            "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
            function (data) {
              response(data);
            }
          );
          },
          minLength: 3,
          select: function (event, ui) {
            var selectedObj = ui.item;
            jQuery("#user_location").val(selectedObj.value);
              return false;
          },
          open: function () {
            jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
          },
          close: function () {
            jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            get_timezone();
          }
      });
      jQuery("#user_location").autocomplete("option", "delay", 100);
  });
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><div class="label"><%= f.label 'First Name' %></div>
  <%= f.text_field :firstname, autofocus: true %></div>

  <div class="field"><div class="label"><%= f.label 'Last Name' %></div>
  <%= f.text_field :lastname %></div>

<div class="field"><div class="label"><%= f.label :location %></div>
  <%= f.text_field :location %></div>

  <div class="field"><div class="label"><%= f.label :email %></div>
  <%= f.email_field :email %></div>

  <div class="field"><div class="label"><%= f.label :password %></div>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="field"><div class="label"><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="actions">
    <%= f.hidden_field :timezone %>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
