<div class="align_right">
	<%= render 'form' %>
</div>
<div class="clear"></div>

<div class="spacer"></div>

<% @matching_users.each do |user| %>
	<% if @matching_users.last == user %>
		<div class="ally no_margin_bottom">
	<% else %>
		<div class="ally">
	<% end %>
		<div class="table">
        	<div class="table_cell profile_picture_div small_padding_right vertical_align_top">
        		<%= image_tag fetch_profile_picture(user.avatar.url), class: 'profile_picture' %>
          	</div>
          	<div class="table_cell vertical_align_top">
				<div class="align_left">
	       			<h1 class="ally_name"><%= link_to user.name, profile_index_path(uid: get_uid(user.id)) %></h1>
	       		</div>
	       		<div class="align_right location">
	       			<%= user.location %>
	       		</div>
	       		<div class="clear"></div>

	       		<% if current_user.allies_by_status(:pending_from_ally).include?(user) %>
			        <%= link_to t('.cancel_request'), remove_allies_path(ally_id: user.id, refresh: allies_path), :method => :post, data: { confirm: t('.confirm') } %>
			    <% elsif current_user.allies_by_status(:pending_from_user).include?(user) %>
			    	<%= link_to t('.accept_ally'), add_allies_path(ally_id: user.id, refresh: allies_path), :method => :post %>
			    <% elsif current_user.allies_by_status(:accepted).include?(user) %>
			        <%= link_to t('.remove_ally'), remove_allies_path(ally_id: user.id, refresh: allies_path), :method => :post, data: { confirm: t('.confirm') } %>
			    <% else %>
			    	<%= link_to t('.add_ally'), add_allies_path(ally_id: user.id, refresh: allies_path), :method => :post %>
			    <% end %>
			</div>
		</div>
	</div>
<% end %>
