<%= render 'form' %>
<div class="spacer"></div>
<% @matching_users.each do |user| %>
	<div class="ally">
		<div class="table">
        	<div class="table_cell" style="width: 200px; padding-right: 20px; vertical-align: top">
        		<%= image_tag fetch_profile_picture(user.avatar.url), class: 'profile_picture' %>
          	</div>
          	<div class="table_cell" style="vertical-align: top">
				<div class="align_left">
	       			<h1 class="ally_name"><%= link_to user.name, profile_index_path(:userid => user.id) %></h1>
	       		</div>
	       		<div class="align_right location">
	       			<%= user.location %>
	       		</div>
	       		<div class="clear"></div>

	       		<% if user_relation(current_user.id, user.id) == UserRelation::OUTGOING_REQUEST %>
			        <%= link_to 'Cancel Request', remove_allies_path(:userid => user.id), :method => :post, data: { confirm: 'Are you sure?' } %>
			    <% elsif user_relation(current_user.id, user.id) == UserRelation::INCOMING_REQUEST %>
			    	<%= link_to 'Accept', add_allies_path(:userid1 => current_user.id, :userid2 => user.id, :status => AllyStatus::ACCEPTED), :method => :post %>
			    <% elsif user_relation(current_user.id, user.id) == UserRelation::ALLY %>
			        <%= link_to 'Remove', remove_allies_path(:userid => user.id), :method => :post, data: { confirm: 'Are you sure?' } %>
			    <% elsif user_relation(current_user.id, user.id) == UserRelation::OTHER %>
			    	<%= link_to 'Add to Allies', add_allies_path(:userid1 => current_user.id, :userid2 => user.id, :status => AllyStatus::PENDING_FROM_USERID1), :method => :post %>
			    <% end %>
			</div>
		</div>
	</div>
<% end %>