<div id="categories_moods" class="display_none no_center">
	<div id="categories_moods_text">
		<% if !local_assigns[:categories].nil? && local_assigns[:categories].length > 0 && !local_assigns[:moods].nil? && local_assigns[:moods].length > 0 %>
			<% modal_title = t('moments.categories_and_moods') %>
		<% elsif !local_assigns[:categories].nil? && local_assigns[:categories].length > 0 %>
			<% modal_title = t('categories.plural') %>
		<% elsif !local_assigns[:moods].nil? && local_assigns[:moods].length > 0 %>
			<% modal_title = t('moods.plural') %>
		<% end %>

		<%= render partial: '/shared/modal',
			locals: {
				modal_title: modal_title,
				modal_close_id: 'close_categories_moods'
			}
		%>

		<div class="modal_text">
		<% if !local_assigns[:categories].nil? && local_assigns[:categories].length > 0 %>
			<div id="categories_cell">
				<% if !local_assigns[:moods].nil? && local_assigns[:moods].length > 0 %>
				<%= local_assigns[:f].label t('categories.plural') %>
				<% end %>

			    <% local_assigns[:categories].each do |item| %>
			    	<div class="checkbox">
				    	<%= local_assigns[:f].check_box(:category, {:multiple => true}, item.id, nil) %>
				      	<span class="notification_wrapper">
				        	<span class="tip_notifications_button link_style"><%= item.name %></span>
				        	<%= render partial: '/notifications/preview', locals: { data: item, edit: edit_category_path(item) } %>
				      	</span>
				    </div>
			    <% end %>
		    </div>
		<% end %>

		<% if !local_assigns[:moods].nil? && local_assigns[:moods].length > 0 %>
			<div id="moods_cell">
				<% if !local_assigns[:categories].nil? && local_assigns[:categories].length > 0 %>
				<%= local_assigns[:f].label t('moods.plural'), class: 'small_margin_top' %>
				<% end %>
				<% local_assigns[:moods].each do |item| %>
					<div class="checkbox">
						<%= local_assigns[:f].check_box(:mood, {:multiple => true}, item.id, nil) %>
						<span class="notification_wrapper">
							<span class="tip_notifications_button link_style"><%= item.name %></span>
						<%= render partial: '/notifications/preview', locals: { data: item, edit: edit_mood_path(item) } %>
						</span>
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>
