<div class="tip_notifications display_none no_center">
  <div class="tip_notifications_text">
    <%= render partial: '/shared/modal',
      locals: {
        modal_title: local_assigns[:data].name,
        modal_close_class: 'tip_close_notifications',
      }
    %>

    <div class="modal_text">
      <% if local_assigns[:data].description.present? && local_assigns[:data].description.length > 0 %>
        <%= sanitize(local_assigns[:data].description) %>
      <% elsif current_user.id == local_assigns[:data].user_id %>
        <strong><%= t('warnings.no_description') %></strong>
        <br><%= t('warnings.yes_description') %>
      <% end %>

      <% if local_assigns[:data].class.name == 'Strategy' && (local_assigns[:data].viewers.include?(current_user.id) || local_assigns[:data].user_id == current_user.id) %>
        <div class="small_margin_top">
          <%= link_to t('notifications.preview'), local_assigns[:data], target: "blank" %>
        </div>
      <% end %>

      <div class="small_margin_top">
        <% if local_assigns[:data].user_id == current_user.id %>
          <i class="fa fa-pencil-alt action"></i><%= link_to t('common.actions.edit'), local_assigns[:edit], target: "blank" %>
        <% else %>
          <%= t('notifications.created_by_html',
            name: link_to(User.where(id: local_assigns[:data].user_id).first.name,
              profile_index_path(uid: get_uid(local_assigns[:data].user_id)))) %>
        <% end %>
      </div>
    </div>
	</div>
</div>
