<%= form_for(@group) do |f| %>
<% if @group.errors.any? %>
  <div class="error_explanation">
    <%= t('.error_explanation') %>
  </div>
<% end %>

<% if action_name == "new" || action_name == "create" %>
  <div class="field">
    <div class="label">
      <%= f.label t('.name'), for: 'group_name' %>
      <i class="fa fa-exclamation-circle align_right"></i>
      <div class="clear"></div>
    </div>
    <%= f.text_field :name, :class => "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label t('.description'), for: 'group_description' %>
      <i class="fa fa-exclamation-circle align_right"></i>
      <div class="clear"></div>
    </div>
    <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
  </div>

<% elsif action_name == "edit" || action_name == "update" %>
<div class="table">

  <div class="table_cell vertical_align_top padding_right">
    <div class="sidebar_field">
      <div class="sidebar_label"><%= f.label t('.name') %></div>
      <%= f.text_field :name, :class => "name_field" %>
    </div>

      <div class="sidebar_field">

      <% if @group_members.count > 1 %>
        <div class="sidebar_label">
          <%= f.label t('.leaders') %>
        </div>

        <% @group_members.each do |member| %>
        <%= f.check_box(:leader, {:multiple => true, :checked => member.leader}, member.user_id, nil) %>
        <%= link_to User.where(id: member.user_id).first.name, profile_index_path(uid: get_uid(member.user_id)) %>
        <br>
        <% end %>
      <% else %>
        <div class="small_font subtle">
          <%= t('.only_leader') %>
        </div>
      <% end %>
      </div>
  </div>

  <div class="table_cell vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.description') %>
      </div>

      <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
    </div>

  </div>

</div>
<% end %>

<div class="clear"></div>

<div class="actions align_right no_margin_bottom right">
  <% if action_name == "new" || action_name == "create" %>
    <div class="small_margin_bottom subtle small_font">
      <%= t('.cannot_delete') %>
    </div>
  <% end %>
  <%= f.submit %>
</div>

<div class="clear"></div>

<% end %>
