<% title 'Groups' %>

<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @groups.any? %>
  <h1 class="group_type">Joined Groups</h1>
  <% @groups.each do |group| %>
    <div class="group <%= 'no_margin_bottom' if group == @groups.last %>">
      <h1 class="group_name">
        <%= link_to group.name, group %>
        (<%= t('.leader') if user_is_leader_of? group %>)
      </h1>

      <div class="notification_wrapper small_margin_bottom">
        <strong class="tip_notifications_button">
          <i class="fa fa-list small_margin_right"></i>
          <%= group.group_members.count %>
          <%= member_pluralized_for(group) %>
        </strong>
        <%= render_group_member_partial(group) %>
      </div>

      <%= strip_tags(group.description[0..80]) %>
      <%= " [...]" if group.description.length >= 80 %>

      <div class="small_margin_top">
        <% if user_can_edit?(group) %>
          <i class="fa fa-pencil action"></i>
          <%= edit_group_link(group) %>
        <% end %>
        <% if user_can_leave?(group) %>
          <i class="fa fa-times action"></i>
          <%= leave_group_link(group) %>
        <% end %>
        <% if user_can_delete?(group) %>
          <i class="fa fa-trash-o action"></i>
          <%= delete_group_link(group) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  You aren't a part of any groups yet! Click <i class="fa fa-plus-circle"></i> to create one or join any available groups below.
  <br>
  <br>Support groups are great for having open discussions about mental health! You can create groups, invite members, and organize meetup events online or offline. You can also join groups your allies have created.
<% end %>

<% if @available_groups.any? %>
  <div class="spacer"></div>

  <h1 class="group_type">Available Groups</h1>

  <% @available_groups.each do |group| %>
    <div class="group <%= 'no_margin_bottom' if group == @available_groups.last %>">
      <h1 class="group_name">
        <%= link_to group.name, group %>
      </h1>

      <div class="notification_wrapper small_margin_bottom">
        <strong class="tip_notifications_button">
          <i class="fa fa-list small_margin_right"></i>
          <%= group.group_members.count %>
          <%= member_pluralized_for(group) %>
        </strong>
        <%= render_group_member_partial(group) %>
      </div>

      <%= strip_tags(group.description[0..80]) %>
      <%= " [...]" if group.description.length >= 80 %>

      <div class="small_margin_top">
        <%= join_group_link(group) %>
      </div>
    </div>
  <% end %>
<% end %>
