<% title t('groups.plural') %>
<% page_new new_group_path %>

<div class="subtitle">
  <%= t('groups.index.subtitle') %>
</div>

<% if @groups.any? %>
  <h1 class="group_type"><%= t('groups.index.joined_groups') %></h1>
  <div class="gridTwo">
    <% @groups.each do |group| %>
      <div class="gridTwoItemBoxLight">
        <h1 class="group_name">
          <%= link_to group.name, group %>
          <%= t('groups.index.leader') if user_is_leader_of? group %>
        </h1>

        <div class="small_margin_bottom">
          <%= react_component('Modal', props: {
            element: "<button class=\"buttonDarkS groupMembersButton\">#{t('members', count: group.group_members.count)}</button>",
            title: t('notifications.members.title'),
            body: render_group_member_partial(group)
          }) %>
        </div>

        <%= strip_tags(group.description[0..80]) %>
        <%= t('ellipsis') if group.description.length >= 80 %>

        <div class="small_margin_top">
          <% if user_can_edit?(group) %>
            <i class="fa fa-pencil-alt action"></i>
            <%= edit_group_link(group) %>
          <% end %>
          <% if user_can_leave?(group) %>
            <i class="fa fa-times action"></i>
            <%= leave_group_link(group) %>
          <% end %>
          <% if user_can_delete?(group) %>
            <i class="fa fa-trash-alt action"></i>
            <%= delete_group_link(group) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= raw t('groups.index.instructions') %>
  <div class="spacer"></div>

  <div class="title">
    <%= t('pages.faq.group_question') %>
  </div>

  <%= raw t('pages.faq.group_answer') %>
<% end %>

<% if @available_groups.any? %>
  <div class="spacer"></div>

  <h1 class="group_type"><%= t('groups.index.available_groups') %></h1>

  <div class="gridTwo">
    <% @available_groups.each do |group| %>
      <div class="gridTwoItemBoxLight">
        <h1 class="group_name">
          <%= link_to group.name, group %>
        </h1>

        <div class="small_margin_bottom">
          <%= react_component('Modal', props: {
            element: "<button class=\"buttonDarkS groupMembersButton\">#{t('members', count: group.group_members.count)}</button>",
            title: t('notifications.members.title'),
            body: render_group_member_partial(group)
          }) %>
        </div>

        <%= strip_tags(group.description[0..80]) %>
        <%= t('ellipsis') if group.description.length >= 80 %>

        <div class="small_margin_top">
          <%= join_group_link(group) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
