<%= simple_format(@group.description) %>

<div class="notification_wrapper">
	<strong class="tip_notifications_button"><i class="fa fa-list small_margin_right"></i><%= GroupMember.where(groupid: @group.id).count %> <% if GroupMember.where(groupid: @group.id).count == 1 %><%= t('.member') %><% else %><%= t('.members') %><% end %></strong> 

	<%= render :partial => '/notifications/members', locals: { data: GroupMember.where(groupid: @group.id).all } %>
</div>

<br>
<strong><i class="fa fa-key small_margin_right"></i><%= t('.led_by') %></strong>
<% is_leader = false %>
<% @group_leaders.each_with_index do |leader, index| %>
	<% if leader.userid == current_user.id %>
		<% is_leader = true %>
		<%= link_to t('.self'), profile_index_path(:userid => leader.userid) %>
	<% else %>
		<%= link_to User.where(id: leader.userid).first.name, profile_index_path(userid: leader.userid) %>
	<% end %>
	<% if index+1 < @group_leaders.length %>
		<%= ', ' %>
	<% end %>
<% end %>

<% if @is_group_member %>
	<%= link_to t('.leave_cta'), leave_groups_path(groupid: @group.id), class: 'align_right' %>
<% else %>
	<%= link_to t('.join_cta'), join_groups_path(groupid: @group.id), class: 'align_right' %>	
<% end %>

<div class="clear"></div>

<% if @meetings.length > 0 %>
  <div class="spacer"></div>
  <% @meetings.each do |meeting| %>
  	<% if @meetings.last == meeting %>
  		<div class="meeting no_margin_bottom">
  	<% else %>
    	<div class="meeting">
    <% end %>
    	<% if is_leader %>
    		<h1 class="meeting_name"><%= link_to meeting.name, edit_meeting_path(meeting) %></h1>
    	<% else %>
    		<h1 class="meeting_name"><%= meeting.name %></h1>
    	<% end %>
	      	<%= simple_format(meeting.description) %>
	      	<strong><%= t('.location') %></strong>
	      	<% if meeting.location.include? "http://" or meeting.location.include? "https://" or meeting.location.include? "www." %>
	      		<%= link_to meeting.location, meeting.location %>
	      	<% else %>
	      		<%= link_to meeting.location, "https://www.google.com/maps/place/" + meeting.location %>
	      	<% end %>
	      	<br><strong><%= t('.time') %></strong> <%= meeting.time %>
	      	<br><strong><%= t('.led_by') %></strong>

	      	<% is_leader = false %>
	      	<% meeting_leaders = MeetingMember.where(meetingid: meeting.id, leader: true).all %>
	      	<% meeting_leaders.each_with_index do |leader, index| %>
				<% if leader.userid == current_user.id %>
					<% is_leader = true %>
					<%= link_to t('.self'), profile_index_path(:userid => leader.userid) %>
				<% else %>
					<%= link_to User.where(id: leader.userid).first.name, profile_index_path(userid: leader.userid) %>
				<% end %>
				<% if index+1 < meeting_leaders.length %>
					<%= ', ' %>
				<% end %>
			<% end %>

			<% if is_leader %>
				<br>
				<i class="fa fa-trash-o action"></i><%= link_to t('.delete'), meeting, method: :delete, data: { confirm: t('.confirm') } %>
				<br>
			<% end %>

	      	<br>
	      	<% if MeetingMember.where(meetingid: meeting.id, userid: current_user.id).exists? %>
				<strong>You are attending. Change your mind? <%= link_to t('.leave_cta'), leave_meetings_path(meetingid: meeting.id) %></strong>
			<% elsif !meeting.maxmembers.nil? && meeting.maxmembers > 0 %>
				<strong>You are not attending. There are <%= meeting.maxmembers-MeetingMember.where(id: meeting.id).count %> spots left to fill! <%= link_to t('.join_cta'), join_meetings_path(meetingid: meeting.id) %></strong>
			<% else %>
				<strong>You are not attending. There is still room to <%= link_to t('.join'), join_meetings_path(meetingid: meeting.id) %>!</strong>
		 	<% end %>
	    </div>
  <% end %>
<% end %>
