<%= simple_format(@group.description) %>

<div class="notification_wrapper">
  <strong class="tip_notifications_button">
    <i class="fa fa-list small_margin_right"></i>
    <%= @group_members.count %>
    <% if @group_members.count == 1 %>
      <%= t('.member') %>
    <% else %>
      <%= t('.members') %>
    <% end %>
  </strong>

  <%= render_group_member_partial(@group_members) %>
</div>

<strong>
  <i class="fa fa-key small_margin_right"></i>
  <%= t('.led_by') %>
</strong>

<% @group_leaders.each do |leader| %>
  <% if leader == current_user %>
    <%= link_to t('.self'), profile_index_path(uid: leader.uid) %>
  <% else %>
    <%= link_to leader.name, profile_index_path(uid: leader.uid) %>
  <% end %>

  <%= ',' unless leader == @group_leaders.last %>
<% end %>

<% if @current_user_is_leader && @group_members.count == 1 %>
  <%= delete_group_link(@group, class: 'align_right') %>
<% elsif @is_group_member %>
  <%= leave_group_link(@group, class: 'align_right') %>
<% else %>
  <%= join_group_link(@group, class: 'align_right') %>
<% end %>

<div class="clear"></div>

<% if !@meetings.blank? && @meetings.length > 0 %>
  <div class="spacer"></div>
  <% @meetings.each do |meeting| %>
    <% user_is_meeting_leader = meeting.leaders.include? current_user %>

    <% if @meetings.last == meeting %>
      <div class="meeting no_margin_bottom">
    <% else %>
      <div class="meeting">
    <% end %>

      <% if @current_user_is_leader %>
        <h1 class="meeting_name">
          <%= link_to meeting.name, meeting_path(meeting) %>
          <% if user_is_meeting_leader %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'),
              edit_meeting_path(meeting),
              class: 'align_right display_inline_block' %>
          <% end %>
        </h1>
      <% else %>
        <h1 class="meeting_name">
          <%= link_to meeting.name, meeting_path(meeting) %>
        </h1>
      <% end %>
      <%= render partial: '/shared/meeting_info',
                 locals: { meeting: meeting,
                           is_leader: user_is_meeting_leader } %>
    </div>
  <% end %>
<% end %>
