<% title @group.name %>
<% page_new new_meeting_path(group_id: @group.id) %>

<div class="group_info">
  <div class="small_margin_bottom">
    <%= sanitize(@group.description) %>
  </div>

  <div class="small_margin_bottom">
    <%= react_component('Modal', props: {
      element: "<button class=\"buttonS\">#{t('members', count: @group.group_members.count)}</button>",
      title: t('notifications.members.title'),
      body: render_group_member_partial(@group)
    }) %>
  </div>

  <strong>
    <i class="fa fa-key"></i>
    <%= t('groups.show.led_by') %>
  </strong>

  <%= @group.leaders.map { |leader| leader_link(leader) }.to_sentence.html_safe %>

  <% if user_can_delete? @group %>
    <div class="spacer"></div>
    <%= delete_group_link(@group, class: 'buttonM') %>
  <% elsif @group.members.include? current_user %>
    <div class="spacer"></div>
    <%= leave_group_link(@group, class: 'buttonM') %>
  <% else %>
    <div class="spacer"></div>
    <%= join_group_link(@group, class: 'buttonM') %>
  <% end %>
</div>

<% if @meetings.present? %>
  <div class="spacer"></div>
  <div class="gridTwo">
    <% @meetings.each do |meeting| %>
      <div class="gridTwoItemBoxLight">
        <h1 class="meeting_name">
          <%= link_to meeting.name, meeting_path(meeting) %>
          <%= edit_meeting_link(meeting, class: 'display_inline_block') %>
        </h1>
        <%= render_meeting_partial(meeting) %>
      </div>
    <% end %>
  </div>
<% end %>
