<%= simple_format(@group.description) %>

<div class="notification_wrapper">
  <strong class="tip_notifications_button">
    <i class="fa fa-list small_margin_right"></i>
    <%= GroupMember.where(groupid: @group.id).count %>
    <% if GroupMember.where(groupid: @group.id).count == 1 %>
      <%= t('.member') %>
    <% else %>
      <%= t('.members') %>
    <% end %>
  </strong>

  <%= render :partial => '/notifications/members',
    locals: { data: GroupMember.where(groupid: @group.id).all } %>
</div>

<strong>
  <i class="fa fa-key small_margin_right"></i>
  <%= t('.led_by') %>
</strong>
<% is_leader = false %>
<% @group_leaders.each_with_index do |leader, index| %>
  <% if leader.userid == current_user.id %>
    <% is_leader = true %>
    <%= link_to t('.self'), profile_index_path(uid: get_uid(leader.userid)) %>
  <% else %>
    <%= link_to User.where(id: leader.userid).first.name,
                profile_index_path(uid: get_uid(leader.userid)) %>
  <% end %>

  <% if index + 1 < @group_leaders.length %>
    <%= ', ' %>
  <% end %>
<% end %>

<% if @group_deletable %>
  <%= link_to t('.delete'), @group, method: :delete, class: 'align_right',
              data: { confirm: t('.confirm') } %>
<% elsif @is_group_member %>
  <%= link_to t('.leave_cta'), leave_groups_path(groupid: @group.id),
              class: 'align_right', id: 'leave' %>
<% else %>
  <%= link_to t('.join_cta'), join_groups_path(groupid: @group.id),
              id: 'join', class: 'align_right' %>
<% end %>

<div class="clear"></div>

<% if !@meetings.blank? && @meetings.length > 0 %>
  <div class="spacer"></div>
  <% @meetings.each do |meeting| %>
    <% if @meetings.last == meeting %>
      <div class="meeting no_margin_bottom">
    <% else %>
      <div class="meeting">
    <% end %>

      <% if is_leader %>
        <h1 class="meeting_name">
          <%= link_to meeting.name, meeting_path(meeting) %>
          <% if MeetingMember.where(meetingid: meeting.id,
              userid: current_user.id, leader: true).exists? %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'),
              edit_meeting_path(meeting),
              class: 'align_right display_inline_block' %>
          <% end %>
        </h1>
      <% else %>
        <h1 class="meeting_name">
          <%= link_to meeting.name, meeting_path(meeting) %>
        </h1>
      <% end %>
      <%= render partial: '/shared/meeting_info',
                 locals: { meeting: meeting,
                           is_leader: MeetingMember.where(meetingid: meeting.id,
                                                          userid: current_user.id,
                                                          leader: true).exists? } %>
    </div>
  <% end %>
<% end %>
