<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  	<div class="field">
	  	<div class="label">
	  		<%= f.label :password, "New password" %>
	  	</div>
    	<%= f.password_field :password, autocomplete: "off" %>
	</div>

  	<div class="field">
  		<div class="label">
  			<%= f.label :password_confirmation, "Confirm new password" %>
  		</div>
    	<%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

  	<div class="actions">
  		<%= f.submit "Change my password" %>
  	</div>
<% end %>

<%= render "devise/shared/links" %>
