<%= form_for(@medication) do |f| %>
<% if @medication.errors.any? %>
  <div class="error_explanation">
    <%= t('error_explanation') %>
  </div>
<% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align">

    <div class="field" >
      <%= f.text_field :name, :placeholder => "Name", :class => "name_field" %>
    </div>

    <div class="field">
      <%= f.text_area :comments, :placeholder => "Comments", :class => "comments" %>
    </div>

  </div>

  <div class="table_cell vertical_align">

    <div class="field">
      <%= f.number_field :strength, :placeholder => "Strength (e.g. 100)"%>
      <%= f.select(:strength_unit, [['mg', 'mg'], ['ml', 'ml']]) %>
    </div>

    <div class="field">
      <%= f.number_field :total, :placeholder => "Total Quantity (e.g. 30)" %>
      <%= f.select(:total_unit, [['tablets', 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
    </div>

    <div class="field">
      <%= f.number_field :dosage, :placeholder => "Daily Dosage (e.g. 2)" %>
      <%= f.select(:dosage_unit, [['tablets', 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
    </div>

    <div class="field">
      <%= f.text_field :refill, :placeholder => "Refill Date" %>
    </div>

    <div class="actions">
      <%= f.hidden_field :userid, :value => current_user.id %>
      <%= f.submit %>
    </div>

  </div>

</div>

<% end %>
