<%= form_for(@medication) do |f| %>
<% if @medication.errors.any? %>
  <div class="error_explanation">
    <%= t('.error_explanation') %>
  </div>
<% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top">

    <div class="field" >
      <div class="label">
        <%= f.label t('.name') %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
      </div>
      <%= f.text_field :name, :class => "name_field" %>
    </div>

    <div class="field">
      <div class="label"><%= f.label t('.comments') %></div>
      <%= f.text_area :comments, :class => "comments" %>
    </div>

  </div>

  <div class="table_cell padding_right vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.strength') %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
        </div>
      <div class="inline-block">
        <%= f.number_field :strength, :placeholder => t('.strength_placeholder') %>
        <%= f.select(:strength_unit, [['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :total %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
      </div>
      <div class="inline-block">
        <%= f.number_field :total, :placeholder => t('.total_placeholder') %>
        <%= f.select(:total_unit, [[t('.tablets'), 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

  </div>

  <div class="table_cell vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.dosage') %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
      </div>
      <div class="inline-block">
        <%= f.number_field :dosage, :placeholder => t('.dosage_placeholder') %>
        <%= f.select(:dosage_unit, [[t('.tablets'), 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.refill') %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
      </div>
      <%= f.text_field :refill %>
    </div>

  </div>

</div>

<div class="align_right">
  <%= f.hidden_field :userid, :value => current_user.id %>
  <%= f.submit %>
</div>

<div class="clear"></div>

<% end %>
