<%= form_for(@medication) do |f| %>
<% if @medication.errors.any? %>
  <div class="error_explanation">
    <%= t('.error_explanation') %>
  </div>
<% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top">

    <div class="field" >
      <div class="label">
        <%= f.label t('.name'), for: 'medication_name' %>
        <i class="fa fa-exclamation-circle align_right"></i>
        <div class="clear"></div>
      </div>
      <%= f.text_field :name, :class => "name_field" %>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.comments') %>
        <div class="align_right">
          <span class="yes_title" title="Additional comments, log your symptoms here"><i class="fa fa-question-circle"></i></span>
        </div>
        <div class="clear"></div>
      </div>
      <%= f.text_area :comments, :class => "comments" %>
    </div>

  </div>

  <div class="table_cell padding_right vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.strength'), for: 'medication_strength' %>
        <div class="align_right">
          <span class="yes_title" title="Medication strength, usually found beside the name"><i class="fa fa-question-circle"></i></span>
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="clear"></div>
      </div>
      <div class="inline-block">
        <%= f.number_field :strength, :placeholder => t('.strength_placeholder') %>
        <%= f.select(:strength_unit, [['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label :total, for: 'medication_total' %>
        <div class="align_right">
          <span class="yes_title" title="Total number of pills or amount of medication"><i class="fa fa-question-circle"></i></span>
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="clear"></div>
      </div>
      <div class="inline-block">
        <%= f.number_field :total, :placeholder => t('.total_placeholder') %>
        <%= f.select(:total_unit, [[t('.tablets'), 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

  </div>

  <div class="table_cell vertical_align_top">

    <div class="field">
      <div class="label">
        <%= f.label t('.dosage'), for: 'medication_dosage' %>
        <div class="align_right">
          <span class="yes_title" title="Number of pills or servings daily"><i class="fa fa-question-circle"></i></span>
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="clear"></div>
      </div>
      <div class="inline-block">
        <%= f.number_field :dosage, :placeholder => t('.dosage_placeholder') %>
        <%= f.select(:dosage_unit, [[t('.tablets'), 'tablets'], ['mg', 'mg'], ['ml', 'ml']]) %>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%= f.label t('.refill'), for: 'medication_refill' %>
        <div class="align_right">
          <span class="yes_title" title="When to refill this prescription"><i class="fa fa-question-circle"></i></span>
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="clear"></div>
      </div>
      <%= f.text_field :refill %>
    </div>

    <div class="field">
      <%= f.fields_for :refill_reminder do | reminder | %>
        <div class="inline-block">
          <%= reminder.check_box(:active, { id: "refill_reminder" }, 'true', 'false') %>
          <div class="label">
            <%= reminder.label t('.refill_reminder'), for: 'refill_reminder' %>
            <div class="align_right">
              <span class="yes_title" title="We'll email you a reminder the week before your medication needs to be refilled"><i class="fa fa-question-circle"></i></span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.fields_for :take_medication_reminder do | reminder | %>
        <div class="inline-block">
          <%= reminder.check_box(:active, { id: 'take_medication_reminder' }, 'true', 'false') %>
         <div class="label">
           <%= reminder.label t('.daily_reminder'), for: 'take_medication_reminder' %>
          <div class="align_right">
            <span class="yes_title" title="We'll email you a daily reminder to take this medication"><i class="fa fa-question-circle"></i></span>
          </div>
         </div>
         <div class="clear"></div>
        </div>
      <% end %>
    </div>

    <% if current_user.google_oauth2_enabled? %>
      <div class="field">
        <div class="inline-block">
          <%= f.check_box :add_to_google_cal %>
          <div class="label">
            <%= f.label t('.add_to_google_cal') %>
            <div class="align_right">
              <span class="yes_title" title="Adds a reminder for this medication onto your Google Calendar"><i class="fa fa-question-circle"></i></span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="align_right">
  <%= f.hidden_field :userid, :value => current_user.id %>
  <%= f.submit %>
</div>

<div class="clear"></div>

<% end %>
