<%= form_for(@medication) do |f| %>
  <% if @medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medication.errors.count, "error") %> prohibited this medication from being saved:</h2>

      <ul>
      <% @medication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :dosage %></div>
    <%= f.text_field :dosage %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :refill %></div>
    <%= f.text_field :refill %>
  </div>
  <div class="actions">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
