<div>
  <strong><%= t('medications.strength') %></strong>
  <%= t('medications.units.display', count: local_assigns[:medication].strength, unit: t("medications.units.#{local_assigns[:medication].strength_unit}", count: local_assigns[:medication].strength)) %>
</div>
<div>
  <strong><%= t('medications.quantity') %></strong>
  <%= t('medications.units.display', count: local_assigns[:medication].total, unit: t("medications.units.#{local_assigns[:medication].total_unit}", count: local_assigns[:medication].total)) %>
</div>
<div>
  <strong><%= t('medications.dosage') %></strong>
  <%= t('medications.units.display', count: local_assigns[:medication].dosage, unit: t("medications.units.#{local_assigns[:medication].dosage_unit}", count: local_assigns[:medication].dosage)) %>
</div>
<div>
  <strong><%= t('medications.refill') %></strong>
  <%= format_date(local_assigns[:medication].refill) %>
</div>
