<% title 'Medications' %>
<% page_new new_medication_path %>

<div class="subtitle">
  <%= t('medications.index.subtitle') %>
</div>

<div class="spacer"></div>

<% if @medications.length > 0 %>
  <%= render :partial => '/search/posts', locals: { data_type: 'medication' } %>

  <div id="pages">
    <div class="page">
    <%= render @medications %>
    </div>
  </div>

  <%= paginate @medications %>
<% else %>
You haven't saved any medications yet. Click <i class="fa fa-plus-circle"></i> to add some!
<br>
<br>Here's an example of a saved medication! You can also write about your experience.

<div class="spacer"></div>

<div class="medication no_margin_bottom">
  <h1 class="medication_name">Prozac</h1>

  <strong><%= t('medications.index.strength') %></strong> 10 mg
  <br><strong><%= t('medications.index.total') %></strong> 2 tablets
  <br><strong><%= t('medications.index.dosage') %></strong> 40 tablets
  <br><strong><%= t('medications.index.refill') %></strong> 05/31/2016
</div>
<% end %>
