<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosage</th>
      <th>Refill</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= link_to medication.name, medication %></td>
        <td><%= medication.dosage %></td>
        <td><%= medication.refill %></td>
        <td>
          <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_medication_path(medication) %>
          <i class="fa fa-trash-o action" style="margin-left: 20px"></i><%= link_to 'Delete', medication, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>