<% title @medication.name %>
<strong><%= t('.strength') %></strong>
<%= @medication.strength.to_s + " " + @medication.strength_unit %>

<br><strong><%= t('.quantity') %></strong>
<%= @medication.total.to_s + " " + @medication.total_unit %>

<br><strong><%= t('.dosage') %></strong>
<%= @medication.dosage.to_s + " " + @medication.dosage_unit %>

<br><strong><%= t('.refill') %></strong>
<%= @medication.refill %>

<% if !@medication.comments.blank? %>
  <div class="spacer"></div>
	<strong><%= t('.comments') %></strong>
	<%= @medication.comments %>
<% end %>

<%= print_reminders(@medication) %>
