<strong>Strength:</strong>
<%= @medication.strength.to_s + " " + @medication.strength_unit %>

<p>
  <strong>Total Quantity:</strong>
  <%= @medication.total.to_s + " " + @medication.total_unit %>
</p>

<p>
  <strong>Daily Dosage:</strong>
  <%= @medication.dosage.to_s + " " + @medication.dosage_unit %>
</p>

<p>
  <strong>Refill:</strong>
  <%= @medication.refill %>
</p>

<% if !@medication.comments.blank? %>
	<p>
	  <strong>Comments:</strong>
	  <%= @medication.comments %>
	</p>
<% end %>