<% title @medication.name %>
<strong><%= t('.strength') %></strong>
<%= @medication.strength.to_s + " " + @medication.strength_unit %>

<p>
  <strong><%= t('.quantity') %></strong>
  <%= @medication.total.to_s + " " + @medication.total_unit %>
</p>

<p>
  <strong><%= t('.dosage') %></strong>
  <%= @medication.dosage.to_s + " " + @medication.dosage_unit %>
</p>

<p>
  <strong><%= t('.refill') %></strong>
  <%= @medication.refill %>
</p>

<% if !@medication.comments.blank? %>
	<p>
	  <strong><%= t('.comments') %></strong>
	  <%= @medication.comments %>
	</p>
<% end %>
