<div class="footer">
  <div class="footerLinks">
    <div>
      <div class="footerLinksTitle"><%= t('app_name') %></div>
      <%= link_to(t('navigation.about'), about_path) %>
      <%= link_to(t('navigation.blog'), blog_path) %>
      <%= link_to(t('navigation.contribute'), contribute_path) %>
      <%= link_to(t('navigation.faq'), faq_path) %>
      <%= link_to(t('navigation.give_feedback'), 'http://goo.gl/forms/8EqoJDDiXY', target: 'blank') %>
      <%= link_to(t('navigation.partners'), partners_path) %>
      <%= link_to(t('navigation.press'), press_path) %>
      <%= link_to(t('navigation.privacy'), privacy_path) %>
    </div>
    <div>
      <div class="footerLinksTitle"><%= t('shared.footer.connect') %></div>
      <%= link_to(t('common.form.email'), 'mailto:join.ifme@gmail.com') %>
      <%= link_to(t('navigation.facebook'), 'http://facebook.com/ifmeorg', target: 'blank') %>
      <%= link_to(t('navigation.github'), 'https://github.com/ifmeorg/ifme', target: 'blank') %>
      <%= link_to(t('navigation.instagram'), 'https://www.instagram.com/ifmeorg', target: 'blank') %>
      <%= link_to(t('navigation.medium'), 'https://medium.com/ifme', target: 'blank') %>
      <%= link_to(t('navigation.opencollective'), 'https://opencollective.com/ifme', target: 'blank') %>
      <%= link_to(t('navigation.patreon'), 'http://patreon.com/ifme', target: 'blank') %>
      <%= link_to(t('navigation.rss'), 'https://medium.com/feed/ifme', target: 'blank') %>
      <%= link_to(t('navigation.twitter'), 'http://twitter.com/ifmeorg', target: 'blank') %>
    </div>
    <div>
      <div class="footerLinksTitle"><%= t('navigation.resources') %></div>
      <%= link_to(t('pages.resources.communities'), resources_path(resource: 'communities')) %>
      <%= link_to(t('pages.resources.education'), resources_path(resource: 'education')) %>
      <%= link_to(t('pages.resources.hotlines'), resources_path(resource: 'hotlines')) %>
      <%= link_to(t('pages.resources.services'), resources_path(resource: 'services')) %>
    </div>
  </div>

  <div class="footerExtras">
    <div>
      <!-- TODO: Use DropdownGhostSmall after React version update, issues with selected not appearing -->
      <%= select_tag 'locale', options_for_select(@locales.collect{ |l| [l[:name], l[:locale]] }, @locale) %>
    </div>

    <div>
      <%= sanitize t('shared.footer.licence_subtitle',
        licence: link_to(t('shared.footer.licence'), 'https://github.com/ifmeorg/ifme/blob/master/LICENSE.txt', target: 'blank'))
      %>
    </div>
  </div>
</div>
