<header id="header">
  <div id="header_content">

    <nav class="small-screen">
      <div class="header-logo">
        <%= link_to root_path do %>
          If <span class="me">Me</span>
        <% end %>
      </div>

      <i class="expand fa fa-bars" id="expand_nav"></i>

      <ul id="small_nav" class="top-nav display_none">
      <% if user_signed_in? %>
          <%= nav_link_to(t('moments.plural'), moments_path) %>
          <%= nav_link_to(t('categories.plural'), categories_path) %>
          <%= nav_link_to(t('moods.plural'), moods_path) %>
          <%= nav_link_to(t('strategies.plural'), strategies_path) %>
          <%= nav_link_to(t('medications.index.title'), medications_path) %>
          <%= nav_link_to(t('groups.plural'), groups_path) %>
          <%= nav_link_to(t('allies.index.title'), allies_path) %>
          <div class="horizonal_divider"></div>
          <%= nav_link_to(t('notifications.plural'), "", class: 'notifications_button') %>
          <%= nav_link_to(t('profile.index.title'), profile_index_path(uid: current_user.uid)) %>
          <%= nav_link_to(t('account.singular'), edit_user_registration_path) %>
          <%= nav_link_to(t('navigation.resources'), resources_path) %>
          <%= nav_link_to(t('shared.header.signout'), destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= nav_link_to(t('account.sign_in'), new_user_session_path) %>
          <%= nav_link_to(t('common.actions.join'), new_user_registration_path) %>
          <div class="horizonal_divider"></div>
          <%= nav_link_to(t('navigation.about'), about_path) %>
          <%= nav_link_to(t('navigation.blog'), blog_path) %>
          <%= nav_link_to(t('navigation.resources'), resources_path) %>
        <% end %>
      </ul>
    </nav>

    <nav class="large-screen">
      <%= render "shared/menu_logo" %>

      <ul class="top-nav primary-nav">
        <% if user_signed_in? %>
          <%= nav_link_to(t('shared.header.home'), root_path)  %>
          <%= nav_link_to(t('moments.plural'), moments_path, :data => { 'nav-name': 'moments' }) %>
          <%= nav_link_to(t('strategies.plural'), strategies_path) %>
          <%= nav_link_to(t('medications.index.title'), medications_path) %>
          <%= nav_link_to(t('groups.plural'), groups_path) %>
          <%= nav_link_to(t('allies.index.title'), allies_path) %>
        <% else %>
          <%= nav_link_to(t('account.sign_in'), new_user_session_path) %>
          <%= nav_link_to(t('common.actions.join'), new_user_registration_path) %>
          <li><div class="vertical_divider"></div></li>
          <%= nav_link_to(t('navigation.about'), about_path) %>
          <%= nav_link_to(t('navigation.blog'), blog_path) %>
          <%= nav_link_to(t('navigation.resources'), resources_path) %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="secondary-nav collapsed">
          <ul data-primary-parent="moments" class="top-nav display_none">
            <%= nav_link_to(t('categories.plural'), categories_path) %>
            <%= nav_link_to(t('moods.plural'), moods_path) %>
          </ul>

          <ul id="nav-me" data-primary-parent="me" class="top-nav display_none">
            <%= nav_link_to(t('notifications.plural'), "", class: 'notifications_button') %>
            <%= nav_link_to(t('profile.index.title'), profile_index_path(uid: current_user.uid)) %>
            <%= nav_link_to(t('account.singular'), edit_user_registration_path) %>
            <%= nav_link_to(t('navigation.resources'), resources_path) %>
            <%= nav_link_to(t('shared.header.signout'), destroy_user_session_path, :method => :delete) %>
          </ul>
        </div>
      <% end %>
    </nav>
  </div>
</header>
