<div id="header">
  <div id="header_content">
    <ul class="top-nav primary-nav">
      <% if user_signed_in? %>
        <%= nav_link_to('Home', root_path)  %>
        <%= nav_link_to('Triggers', triggers_path, :class => "expand_trigger_button") %>
        <%= nav_link_to('Strategies', strategies_path) %>
        <%= nav_link_to('Medications', medications_path) %>
        <%= nav_link_to('Groups', groups_path) %>
        <%= nav_link_to('Allies', allies_path) %>
      <% else %>
        <%= nav_link_to('Sign in', new_user_session_path) %>
        <%= nav_link_to('Join', new_user_registration_path) %>
      <% end %>
    </ul>

    <%= link_to root_path, :id => "title_expand", :class => "expand_button" do %>
      If <span id="me">Me</span>
      <% if user_signed_in? %>
        <i class="expand fa fa-sort-asc"></i>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <ul id="expand_trigger" class="top-nav" style="display: none">
        <%= nav_link_to('Categories', categories_path) %>
        <%= nav_link_to('Moods', moods_path) %>
      </ul>
      <ul id="expand_me" class="top-nav" style="display: none">
        <%= nav_link_to('Profile', profile_index_path(:userid => current_user.id)) %>
        <%= nav_link_to('Account', edit_user_registration_path) %>
        <%= nav_link_to('Sign out', destroy_user_session_path, :method => :delete) %>
      </ul>
    <% end %>
  </div>
</div>