<div class="small_margin_bottom">
  <%= raw(meeting.description) %>
</div>

<strong>
  <%= t('location') %>:
</strong>

<% if meeting.location.match(/^https?:\/\/|www\./) %>
  <%= link_to meeting.location, meeting.location %>
<% else %>
  <%= link_to meeting.location,
    "https://www.google.com/maps/place/" + meeting.location %>
<% end %>
<br>
<strong>
  <%= t('date') %>
</strong>
<%= meeting.date %>
<br>
<strong>
  <%= t('meeting_time') %>:
</strong>
<%= meeting.time %>

<div class="notification_wrapper">
  <strong class="tip_notifications_button">
    <i class="fa fa-list small_margin_right"></i>
    <%= meeting.members.count %>
    <%= t('member'.pluralize(meeting.members.count)) %>
  </strong>

  <% if local_assigns[:show_group] %>
    <strong><%= ' of ' %>
    <%= link_to meeting.group.name, meeting.group %>
    </strong>
  <% end %>

  <%= render partial: '/notifications/members', locals: { group: meeting } %>
</div>

<strong>
  <% if meeting.members.include? current_user %>
    You are attending. Change your mind?
    <%= link_to t('leave_cta'),
                leave_meetings_path(meetingid: meeting.id) %>
  <% elsif meeting.maxmembers.present? && meeting.maxmembers > 0 %>
    You are not attending. There are
    <%= meeting.maxmembers - meeting.members %> spots left to fill!
    <%= link_to t('join_cta'),
      join_meetings_path(meetingid: meeting.id) %>
  <% else %>
    You are not attending. There is still room to
    <%= link_to t('join'),
      join_meetings_path(meetingid: meeting.id) %>!
  <% end %>
</strong>

<% if meeting.leaders.include? current_user %>
  <br>
  <br>
  <i class="fa fa-trash-o action"></i>
  <%= link_to t('cancel_meeting'),
              meeting, method: :delete,
                       data: { confirm: t('confirm') } %>
<% end %>
