<div class="small_margin_bottom">
  <%= sanitize(meeting.description) %>
</div>

<strong>
  <%= t('common.form.location') %>:
</strong>

<% if meeting.location.match(/^https?:\/\/|www\./) %>
  <%= link_to meeting.location, meeting.location %>
<% else %>
  <%= link_to meeting.location,
    "https://www.google.com/maps/place/" + meeting.location %>
<% end %>
<br>
<strong>
  <%= t('common.date') %>
</strong>
<%= format_date(meeting.date) %>
<br>
<strong>
  <%= t('meetings.info.meeting_time') %>:
</strong>

<%= format_time(meeting.time) %>

<div class="notification_wrapper">
  <%
    if local_assigns[:show_group]
      elementText = t('meetings.info.members_of_group_html',
        count: meeting.members.count,
        group: link_to(meeting.group.name, meeting.group))
    else
      elementText = t('members', count: meeting.members.count)
    end
  %>
  <%= react_component('Modal', props: {
    element: "<button class=\"buttonDarkS meetingMembersButton\">#{elementText}</button>",
    title: t('notifications.members.title'),
    body: render_group_member_partial(meeting)
  }) %>
</div>

<strong>
  <%= get_meeting_members(meeting) %>
</strong>

<% if meeting.leaders.include? current_user %>
  <br>
  <br>
  <i class="fa fa-trash-alt action"></i>
  <%= link_to t('meetings.info.cancel_meeting'), meeting, method: :delete, data: { confirm: t('common.actions.confirm') } %>
<% end %>
