<div class="small_margin_bottom">
<%= raw(local_assigns[:meeting].description) %>
</div>

<strong><%= t('groups.show.location') %></strong>
<% if local_assigns[:meeting].location.include? "http://" or local_assigns[:meeting].location.include? "https://" or local_assigns[:meeting].location.include? "www." %>
	<%= link_to local_assigns[:meeting].location, local_assigns[:meeting].location %>
<% else %>
	<%= link_to local_assigns[:meeting].location, "https://www.google.com/maps/place/" + local_assigns[:meeting].location %>
<% end %>
<br><strong><%= t('groups.show.date') %></strong> <%= local_assigns[:meeting].date %>
<br><strong><%= t('groups.show.time') %></strong> <%= local_assigns[:meeting].time %>

<div class="notification_wrapper">
	<strong class="tip_notifications_button"><i class="fa fa-list small_margin_right"></i><%= MeetingMember.where(meetingid: local_assigns[:meeting].id).count %> <% if MeetingMember.where(meetingid: local_assigns[:meeting].id).count == 1 %><%= t('group.show.member') %><% else %><%= t('group.show.members') %><% end %></strong>

		<% if local_assigns[:show_group] %><strong><%= ' of ' %><%= link_to Group.where(id: local_assigns[:meeting].groupid).first.name, group_path(local_assigns[:meeting].groupid) %></strong><% end %>

	<%= render :partial => '/notifications/members', locals: { data: MeetingMember.where(meetingid: local_assigns[:meeting].id).all, is_meeting_member: true } %>
</div>

<% if MeetingMember.where(meetingid: local_assigns[:meeting].id, userid: current_user.id).exists? %>
<strong>You are attending. Change your mind? <%= link_to t('groups.show.leave_cta'), leave_meetings_path(meetingid: local_assigns[:meeting].id) %></strong>
<% elsif !local_assigns[:meeting].maxmembers.nil? && local_assigns[:meeting].maxmembers > 0 %>
<strong>You are not attending. There are <%= local_assigns[:meeting].maxmembers-MeetingMember.where(id: local_assigns[:meeting].id).count %> spots left to fill! <%= link_to t('groups.show.join_cta'), join_meetings_path(meetingid: local_assigns[:meeting].id) %></strong>
<% else %>
<strong>You are not attending. There is still room to <%= link_to t('groups.show.join'), join_meetings_path(meetingid: local_assigns[:meeting].id) %>!</strong>
<% end %>

<% if local_assigns[:is_leader] %>
<br>
<br>
<i class="fa fa-trash-o action"></i><%= link_to t('groups.show.cancel_meeting'), local_assigns[:meeting], method: :delete, data: { confirm: t('groups.show.confirm') } %>
<% end %>
