<% if !not_signed_in_root_path? %>
  <% if sign_in_path? %>
  <div class="pageTitle">
    <%= t('layouts.application.signin') %>
  </div>
  <% elsif join_path? %>
    <div class="pageTitle">
      <%= t('layouts.application.create_account') %>
    </div>
  <% elsif forgot_password_path? %>
    <div class="pageTitle">
      <%= t('account.forgot_password') %>
    </div>
  <% elsif update_account_path? %>
    <div class="pageTitle">
      <%= t('layouts.application.update_account') %>
    </div>
  <% elsif send_ally_invitation_path? %>
    <div class="pageTitle">
      <%= t('devise.invitations.new.header') %>
    </div>
  <% elsif ally_accept_invitation_path? %>
    <div class="pageTitle">
      <%= t('devise.invitations.edit.header') %>
    </div>
  <% elsif reset_password_path? %>
    <div class="pageTitle">
      <%= t('layouts.title.reset_password') %>
    </div>
  <% elsif new_user_confirmation_path? %>
    <div class="pageTitle">
      <%= t('devise.confirmations.resend_confirmation') %>
    </div>
  <% elsif yield(:page_new).present? && @page_new %>
    <div class="pageTitle">
      <div>
        <%= yield(:title) %>
      </div>
      <div class="pageTitleRight">
        <%= link_to @page_new, yield(:page_new), class: 'buttonM' %>
      </div>
    </div>
  <% elsif @page_author.present? %>
    <div class="pageTitle">
      <div>
        <%= yield(:title) %>
      </div>
      <div class="pageTitleRight">
        <%= render partial: '/shared/page_author', locals: { author: @page_author } %>
      </div>
    </div>
  <% elsif yield(:title).present? %>
    <div class="pageTitle">
      <%= yield(:title) %>
    </div>
  <% end %>
<% end %>
