<% if local_assigns[:data_type] == 'category' || local_assigns[:data_type] == 'mood' || local_assigns[:data_type] == 'strategy' %>
	<% most_focus = most_focus(local_assigns[:data_type], local_assigns[:profile]) %>
	<% if most_focus.length > 0 %>
    <div class="stats">
      <% if local_assigns[:profile] %>
        <div class="title">
          <%= local_assigns[:data_type].pluralize.titleize %>
        </div>
      <% end %>
      <div class="subtitle">
        <% if !local_assigns[:profile] || local_assigns[:profile] == current_user.id %>
          <%= t('shared.stats.you_are_focusing') %>
        <% elsif local_assigns[:profile] %>
          <%= t('shared.stats.user_is_focusing', name: User.where(id: local_assigns[:profile]).first.name) %>
        <% end %>
      </div>

      <div class="mostFocus">
        <% most_focus.each do |key, value| %>
          <%= render 'focus' %>
        <% end %>
      </div>
    </div>
	<% end %>
<% elsif local_assigns[:data_type] == 'moment' %>
	<%= sanitize(moments_stats) %>
<% end %>
