<% if local_assigns[:data_type] == 'category' || local_assigns[:data_type] == 'mood' || local_assigns[:data_type] == 'strategy' %>
	<% most_focus = most_focus(local_assigns[:data_type], local_assigns[:profile]) %>
	<% if most_focus.length > 0 %>
    <div id="stats">
      <% if local_assigns[:profile] %>
        <div class="title">
          <%= local_assigns[:data_type].pluralize.titleize %>
        </div>
      <% end %>
      <div class="subtitle">
        <% if !local_assigns[:profile] || local_assigns[:profile] == current_user.id %>
          <%= t('shared.stats.you_are_focusing') %>
        <% elsif local_assigns[:profile] %>
          <%= t('shared.stats.user_is_focusing', name: User.where(id: local_assigns[:profile]).first.name) %>
        <% end %>
      </div>

      <div id="most_focus">
        <% most_focus.each do |key, value| %>
          <div class="some_focus">
            <div class="some_focus_text">
              <% if local_assigns[:data_type] == 'category' && (!local_assigns[:profile] || local_assigns[:profile] == current_user.id) %>
                <%= viewers_hover(get_viewers_for(Category.where(id: key).first, 'category'), Category.where(id: key).first) %>
              <% elsif local_assigns[:data_type] == 'category' && local_assigns[:profile] %>
                <%= Category.where(id: key).first.name %>
              <% elsif local_assigns[:data_type] == 'mood' && (!local_assigns[:profile] || local_assigns[:profile] == current_user.id) %>
                <%= viewers_hover(get_viewers_for(Mood.where(id: key).first, 'mood'), Mood.where(id: key).first) %>
              <% elsif local_assigns[:data_type] == 'mood' && local_assigns[:profile] %>
                <%= Mood.where(id: key).first.name %>
              <% elsif local_assigns[:data_type] == 'strategy' && (!local_assigns[:profile] || local_assigns[:profile] == current_user.id) %>
                <%= viewers_hover(get_viewers_for(Strategy.where(id: key).first, 'strategy'), Strategy.where(id: key).first) %>
              <% elsif local_assigns[:data_type] == 'strategy' && local_assigns[:profile] %>
                <%= Strategy.where(id: key).first.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
	<% end %>
<% elsif local_assigns[:data_type] == 'moment' %>
	<%= sanitize(moments_stats) %>
<% end %>
