<div class="main_message">
  <%= t('pages.home.not_signed_in.main_message_one') %>
</div>
<div class="message_text">
  <%= t('pages.home.not_signed_in.message_text_one') %>
  <div class="spacer"></div>
</div>
<div class="center">
  <div class="message">
    <div class="message_row">
      <div class="message_cell">
        <div id="book"></div>
        <div class="icon_border"></div>
        <%= t('pages.home.not_signed_in.message_one') %>
      </div>
      <div class="message_cell">
        <div id="you"></div>
        <div class="icon_border"></div>
        <%= t('pages.home.not_signed_in.message_two') %>
      </div>
      <div class="message_cell no_margin_bottom">
        <div id="time"></div>
        <div class="icon_border"></div>
        <%= t('pages.home.not_signed_in.message_three') %>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="horizonal_divider"></div>
<div class="main_message">
  <div class="spacer"></div>
  <%= t('pages.home.not_signed_in.main_message_two') %>
</div>
<div class="message_text">
  <%= raw t('pages.home.not_signed_in.message_text_two', {
    blog: link_to(t('navigation.blog').downcase, 'https://medium.com/ifme')
  }) %>
  <div class="spacer"></div>
</div>
<div class="message" id="medium_posts">
  <div class="message_row">
    <% @posts.first(3).each do |post, index| %>
      <div class="message_cell">
        <%= link_to "#{post['link_name']}", post['link'], target: true %>
        <div class="post_author"><%= post['author'] %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="spacer"></div>
<div class="horizonal_divider"></div>
<div class="main_message">
  <div class="spacer"></div>
  <%= t('pages.home.not_signed_in.main_message_three') %>
</div>
<div class="message_text">
  <%= raw t('pages.home.not_signed_in.message_text_three', {
    help: link_to(t('pages.home.not_signed_in.help'), contribute_path),
    feedback: link_to(t('navigation.feedback'), 'http://goo.gl/forms/8EqoJDDiXY', target: 'blank')
  }) %>
  <div class="spacer"></div>
  <div class="contributors_grid">
    <% @blurbs.each do |blurb| %>
      <div class="contributors_grid_child">
        <%= ProfilePicture.fetch(blurb['image'], className: 'home_picture', name: blurb['name']) %>
      </div>
    <% end %>
  </div>
</div>
