<% title t('navigation.about') %>

<div class="messageMain">
  <div class="messageMainLogo">
    <%= react_component('Logo', props: { lg: true }) %>
  </div>
</div>

<div class="messageBody">
  <%= raw t('pages.about.main_message_one', {
    app_name: t('app_name')
  }) %>
  <p>
    <%= t('pages.about.message_text_one') %>
  </p>
</div>

<div class="largeMarginTop largeMarginBottom center">
  <i class="fas fa-heart purpleYay" aria-disabled="true"></i>
</div>

<div class="messageMain">
  <%= t('pages.about.main_message_two') %>
</div>

<div class="messageBody largeMarginBottom">
  <%= raw t('pages.about.message_text_two') %>
</div>

<div class="messageMain">
  <%= t('pages.home.not_signed_in.main_message_two') %>
</div>

<div class="messageBody">
  <%= raw t('pages.contribute.message_text_one', {
    email_link: link_to(t('common.write_to_us'), "https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack"),
    slack_link: link_to(t('pages.contribute.slack'), 'https://ifme.slack.com', target: 'blank'),
    github_link: link_to(t('navigation.github'), 'https://github.com/ifmeorg/ifme', target: 'blank')
    })
  %>
  <p>
    <%= raw t('pages.about.message_text_three', {
      fund_club_link: link_to(t('pages.about.fund_club'), 'http://joinfundclub.com', target: 'blank'),
      open_collective_link: link_to(t('navigation.opencollective'), 'https://opencollective.com/ifme', target: 'blank')
    }) %>
  </p>
</div>

<div class="messageBody gridMany marginTop">
  <% @blurbs.each do |blurb| %>
    <%= render partial: 'contributor_blurb', locals: { blurb: blurb } %>
  <% end %>
</div>

<div class="messageMain marginTop">
  <%= t('pages.contribute.more_contributors') %>
</div>

<div class="messageBody">
  <%= t('pages.contribute.thanks') %>
  <div class="gridThreeAlways marginTop">
    <% @contributors.each do |c| %>
      <div class="gridThreeAlwaysItem">
        <%= link_to c['name'], c['link'], target: 'blank' %>
      </div>
    <% end %>
  </div>
</div>
