<html lang="<%= @locale %>">
<% title t('admin.dashboard') %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <h1>Reports Table for Admin </h1>
  <table class="table table-hover" border=1px >
    <thead>
      <tr>
        <th>Report-Id</th>
        <th>Reporter-Id</th>
        <th>Reported-Id</th>
        <th>Reasons</th>
        <th>Report Type</th>
        <th>Comment-Id</th>
        <th>Reporter's email</th>
        <th>Reported User's email</th>
        <th>Delete Report</th>
      </tr>
    </thead>
    <tbody>
      <% Report.all.each do |report| %>
        <tr>
        <td><%= report.id%></td>
        <td><%= report.reporter_id %></td>
        <td><%= report.reportee_id %></td>
        <td><%= report.reasons %></td>
        <% if report.comment_id == -1 %>
          <td>user</td>
        <% else %>
          <td><%= Comment.where(id: report.comment_id).pluck(:commentable_type)[0] %></td>
        <% end %>
        <td><%= report.comment_id %></td>
        <td><%= User.where(id: report.reporter_id).pluck(:email)[0] %></td>
        <td><%= User.where(id: report.reportee_id).pluck(:email)[0] %></td>
        <td><%= link_to t('common.actions.delete'),  report_path(id: report.id), method: :delete, data: { confirm: t('common.actions.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h1>List of Banned Users </h1>
  <table class="table table-hover" border=1px >
    <thead>
      <tr>
        <th>Banned User Name</th>
        <th>Banned User ID</th>
        <th>Remove Ban for the User</th>
      </tr>
    </thead>
    <tbody>
      <% User.where(banned: true).each do |user| %>
        <tr>
        <td><%= user.name%></td>
        <td><%= user.id %></td>
        <td><%= link_to "Remove Ban", remove_ban_profile_index_path(ban_user_id: user.id), method: :post %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
