<% title t('reports.admin_dashboard') %>
<% if Report.count > 0 %>
  <div class="title"><%= t('reports.reported_users') %></div>
  <div class="gridTwo">
    <% Report.all.each do |report| %>
      <div class="gridTwoItemBoxLight">
        <div>
          <strong><%= t('reports.reportee')%>:</strong> <%= link_to reportee(report).name, profile_index_path(uid: reportee(report).uid) %>
        </div>
        <div>
          <strong><%= t('reports.reporter')%>:</strong> <%= link_to reporter(report).name, profile_index_path(uid: reporter(report).uid) %>
        </div>
        <% if report.comment_id.present? %>
          <div class="smallMarginTop">
            <%= react_component('Modal', props: {
              element: "<button class=\"buttonDarkXS\">#{t('comment.singular')}</button>",
              title: t('comment.singular'),
              body: sanitize(Comment.find_by(id: report.comment_id).comment)
            }) %>
          </div>
        <% end %>
        <div class="smallMarginTop">
          <%= react_component('Modal', props: {
            element: "<button class=\"buttonDarkXS\">#{t('reports.reasons')}</button>",
            title: t('reports.reasons'),
            body: sanitize(report.reasons)
          }) %>
        </div>
        <%= react_component('StoryDate', props: {
          date: TimeAgo.created_or_edited(report)
        }) %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="title">
    <%= "#{t('no_text')} #{t('reports.reported_users')}".titleize %>
  </div>
<% end %>

<% if banned_users.exists? %>
  <div class="title"><%= t('reports.banned_users') %></div>
  <div class="gridTwo">
    <% banned_users.each do |user| %>
      <div class="gridTwoItemBoxLight">
        <%= link_to user.name, profile_index_path(uid: user.uid) %>
        <div class="smallMarginTop">
          <%= link_to t('reports.remove_ban'), remove_ban_profile_index_path(user_id: user.id), method: :post %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="title">
    <%= "#{t('no_text')} #{t('reports.banned_users')}".titleize %>
  </div>
<% end %>
