<% title t('navigation.contribute') %>

<div class="messageMain">
  <%= t('pages.contribute.main_message_one') %>
</div>

<div class="messageBody">
  <%= raw t('pages.contribute.message_text_one', {
    email_link: link_to(t('common.write_to_us'), "https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack"),
    slack_link: link_to(t('pages.contribute.slack'), 'https://ifme.slack.com', target: 'blank'),
    github_link: link_to(t('navigation.github'), 'https://github.com/ifmeorg/ifme', target: 'blank')
    })
  %>
  <div class="spacer"></div>
</div>

<div class="gridThree">
  <% @blurbs.each do |blurb| %>
    <div class="gridThreeItemBoxDark center">
      <%= ProfilePicture.fetch(blurb["image"], className: 'contributor_picture', name: blurb['name']) %>
      <div class="spacer"></div>
      <div class="contributor_profile"><%= blurb["profile"] %></div>
      <div class="spacer"></div>
      <i class="fa fa-location-arrow fa-inline"></i><%= " #{blurb["location"]}" %>
      <br /><%= content_tag(:i, '', class: "#{get_icon_class(blurb["social"])} fa-inline") %><%= link_to(blurb["link_name"], blurb["link"], target: 'blank') %>
    </div>
  <% end %>
</div>

<div class="spacer"></div>

<div class="messageMain">
  <%= t('pages.contribute.more_contributors') %>
</div>

<div class="messageBody">
  <%= t('pages.contribute.thanks') %> <%= print_contributors(@contributors) %>
</div>
