We're always looking for ideas from everyone, including <strong>mental health advocates</strong>, <strong>health professionals</strong>, <strong>software developers</strong>, and <strong>user experience designers</strong>! Please email <a href="mailto:join.ifme@gmail.com">us</a> and we'll connect with you! You will be invited to participate in our <a href="https://ifme.slack.com" target="_blank">Slack</a> page, our primary communication tool. Be sure to fork our repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a>!

<div class="spacer"></div>
<div class="table">
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/julia_nguyen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Julia Nguyen</div>
			<div class="spacer"></div>
			Being open and honest about my journey with obsessive-compulsive disorder, anxiety, and depression helps me to accept myself and reach out for support. My hope is to encourage others to feel more comfortable about sharing their experiences. I created if me as a way to tackle the problem of doing so in daily life.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('julianguyen', 'http://github.com/julianguyen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jennifer_shen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jennifer Shen</div>
			<div class="spacer"></div>
			I am contributing to if me because one's mental health is often disregarded. It is important that everybody watches and observes how they are feeling on a daily basis, and it is also important that we look out for each other.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('jzshen', 'http://github.com/jzshen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jon_tan.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jon Tan</div>
			<div class="spacer"></div>
			Among the millions of web applications, there are only a handful of web applications catering to individuals with mental heatlh. I am glad that Julia has created if me for the purpose of building this community.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Mississauga, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('9bits', 'http://github.com/9bits', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jenny_nguyen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jenny Nguyen</div>
			<div class="spacer"></div>
			As a health science student I have been exposed medical literature that focuses on neuroplasticity, the idea that our environment and actions can change neural circuitry and pathways, and its role in shaping mental health disorders. For example, studies shows the in people with OCD, there is hyperconnectivity between the orbitofrontal cortex and the caudate nucleus, structures of the brain that are responsible for decision-making and thinking. Thus novel treatment of OCD focuses on targeting these principles and beliefs these obsessions and compulsions are founded on in order to rewire the brain. I believe if me provides a platform to habitually reflect and help manage one’s wellbeing in addition to formal medical treatment.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('nguyenjenny', 'http://github.com/nguyenjenny', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/srishti_gupta.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Srishti Gupta</div>
			<div class="spacer"></div>
			if me is important to me because I see the need for it to exist, because it aims to build support networks for its users and help them grow as individuals and externally be truthful to themselves about what they need to do and when they need to do it, as well as be able to reach out and get advice on how to do things better and can choose to be completely anonymous in the process if they so choose to be. And what makes it even more distinctive is its target audience – because with the stigmas surrounding mental health and various other things, it is very difficult for individuals with mental health concerns to find the right kind of support, because only the individual can determine if something is actually benefitting them. if me allows you to build your own support system and change it as you please which I find very unique, and something everyone should at least give a try, regardless of whether or not  you currently have mental health concerns. I enjoy learning and helping make a meaningful impact, and contributing to if me helps me do that.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Mombasa, Kenya
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('srishtig', 'http://github.com/srishtig', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/alex_fa.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Alex Falconer-Athanassakos</div>
			<div class="spacer"></div>
			People can struggle with their minds despite everything being “right” in their lives. People’s minds can also give them remarkable resilience through serious adversity. I have been studying for years, in fields from biology to philosophy, to understand this and make a contribution. The internet needs a comprehensive, community-based mental health resource and if me has the kind of people behind it to make it happen.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-globe fa-inline fa-left"></i><%= link_to('alexfa.net', 'http://alexfa.net/', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-bottom: 40px; padding-right: 40px; vertical-align: middle">
			<%= image_tag 'contributors/gurpreet_gill.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="vertical-align: top">
			<div class="subtitle">Gurpreet Gill</div>
			<div class="spacer"></div>
			Being mentally healthy is very important because it not only helps you overcome everyday stress but also makes you more productive and a better contributor. If me allows you to find help and also gives you the opportunity to help others. It ensures that your mental health is in a well-being state by allowing you to share, relate and connect with others. I joined if me because it is a great web application which ensures we all are there for each other.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Brampton, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('gCrew', 'http://github.com/gcrew', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; vertical-align: middle">
			<%= image_tag 'contributors/lucy_yu.jpg', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="vertical-align: top">
			<div class="subtitle">Lucy Yu</div>
			<div class="spacer"></div>
			“The mind is its own place, and in itself can make a heaven of hell, a hell of heaven.” — John Milton, <i>Paradise Lost</i><br/>
			Our minds are the very screens behind which we perceive the world, yet there is not enough discourse on the importance of sanity. <i>if me</i> is the community I wish existed during my dark times, and I'm hoping to help someone through theirs by contributing to this project.  
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Mississauga, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('lucyyu24', 'https://github.com/lucyyu24', class: "spacing") %>
		</div>
	</div>
</div>
