<% title t('navigation.contribute') %>

<div class="messageMain">
  <%= t('pages.contribute.main_message_one') %>
</div>

<div class="messageBody">
  <%= raw t('pages.contribute.message_text_one', {
    email_link: link_to(t('common.write_to_us'), "https://github.com/ifmeorg/ifme/wiki/Join-Our-Slack"),
    slack_link: link_to(t('pages.contribute.slack'), 'https://ifme.slack.com', target: 'blank'),
    github_link: link_to(t('navigation.github'), 'https://github.com/ifmeorg/ifme', target: 'blank')
    })
  %>
</div>

<div class="messageBody gridMany marginTop">
  <% @blurbs.each do |blurb| %>
    <%= render partial: 'contributor_blurb', locals: { blurb: blurb } %>
  <% end %>
</div>

<div class="messageMain marginTop">
  <%= t('pages.contribute.more_contributors') %>
</div>

<div class="messageBody">
  <%= t('pages.contribute.thanks') %> <%= print_contributors(@contributors) %>
</div>
