We're always looking for ideas from everyone, including <strong>mental health advocates</strong>, <strong>health professionals</strong>, <strong>software developers</strong>, and <strong>user experience designers</strong>! Please email <a href="mailto:join.ifme@gmail.com">us</a> and we'll connect with you! You will be invited to participate in our <a href="https://ifme.slack.com" target="_blank">Slack</a> page, our primary communication tool. Be sure to fork our repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a>!

<div class="spacer"></div>
<div class="table">
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/julia_nguyen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Julia Nguyen</div>
			<div class="spacer"></div>
			Being open and honest about my journey with obsessive-compulsive disorder, anxiety, and depression helps me to accept myself and reach out for support. My hope is to encourage others to feel more comfortable about sharing their experiences. I created if me as a way to tackle the problem of doing so in daily life.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('julianguyen', 'http://github.com/julianguyen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jennifer_shen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jennifer Shen</div>
			<div class="spacer"></div>
			I am contributing to if me because one's mental health is often disregarded. It is important that everybody watches and observes how they are feeling on a daily basis, and it is also important that we look out for each other.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('jzshen', 'http://github.com/jzshen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; vertical-align: middle">
			<%= image_tag 'default_ifme_avatar.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="text-align: center; vertical-align: top">
			<div class="subtitle">Other Contributors</div>
			<div class="spacer"></div>
			<ul id="contributors" class="no_bullet_list">

			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var exclude = ['julianguyen', 'jzshen'];
		$.getJSON("https://api.github.com/repos/julianguyen/ifme/contributors", function (data) {
      		_.each(data, function(dataItem) {
      			if(_.indexOf(exclude, dataItem.login) === -1) {
      				var contributor = '<li><a href="' + dataItem.html_url + '" target="_blank">' + dataItem.login + '</a></li>';
      				$('#contributors').append(contributor);
      			}
      		});
    	});
  });
</script>