We're always looking for ideas from everyone, including <strong>mental health advocates</strong>, <strong>health professionals</strong>, <strong>software developers</strong>, and <strong>user experience designers</strong>! Please email <a href="mailto:join.ifme@gmail.com">us</a> and we'll connect with you! You will be invited to participate in our <a href="https://ifme.slack.com" target="_blank">Slack</a> page, our primary communication tool. Be sure to fork our repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a>!

<div class="spacer"></div>
<div class="table">
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/julia_nguyen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Julia Nguyen</div>
			<div class="spacer"></div>
			Being open and honest about my journey with obsessive-compulsive disorder, anxiety, and depression helps me to accept myself and reach out for support. My hope is to encourage others to feel more comfortable about sharing their experiences. I created if me as a way to tackle the problem of doing so in daily life.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('julianguyen', 'http://github.com/julianguyen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jennifer_shen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jennifer Shen</div>
			<div class="spacer"></div>
			I am contributing to if me because one's mental health is often disregarded. It is important that everybody watches and observes how they are feeling on a daily basis, and it is also important that we look out for each other.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('jzshen', 'http://github.com/jzshen', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; padding-bottom: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jon_tan.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="padding-bottom: 40px; vertical-align: top">
			<div class="subtitle">Jon Tan</div>
			<div class="spacer"></div>
			Among the millions of web applications, there are only a handful of web applications catering to individuals with mental heatlh. I am glad that Julia has created if me for the purpose of building this community.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Mississauga, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('9bits', 'http://github.com/9bits', class: "spacing") %>
		</div>
	</div>
	<div class="table_row">
		<div class="table_cell" style="width: 200px; padding-right: 40px; vertical-align: middle">
			<%= image_tag 'contributors/jenny_nguyen.png', class: 'contributor_picture' %>
		</div>
		<div class="table_cell" style="vertical-align: top">
			<div class="subtitle">Jenny Nguyen</div>
			<div class="spacer"></div>
			As a health science student I have been exposed medical literature that focuses on neuroplasticity, the idea that our environment and actions can change neural circuitry and pathways, and its role in shaping mental health disorders. For example, studies shows the in people with OCD, there is hyperconnectivity between the orbitofrontal cortex and the caudate nucleus, structures of the brain that are responsible for decision-making and thinking. Thus novel treatment of OCD focuses on targeting these principles and beliefs these obsessions and compulsions are founded on in order to rewire the brain. I believe if me provides a platform habitually reflect and help manage one’s wellbeing in addition to formal medical treatment.
			<div class="spacer"></div>
			<i class="fa fa-location-arrow fa-inline"></i> Toronto, Canada
			<i class="fa fa-github fa-inline fa-left"></i><%= link_to('nguyenjenny', 'http://github.com/nguyenjenny', class: "spacing") %>
		</div>
	</div>
</div>