<% title t('pages.faq.title') %>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.data_access_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.data_access_answer') %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.moment_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.moment_answer', moment: link_to(t('moments.singular'), moments_path)) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.strategy_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.strategy_answer', strategy: link_to(t('strategies.singular'), strategies_path)) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.category_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.category_answer', category: link_to(t('categories.singular'), categories_path)) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.mood_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.mood_answer', mood: link_to(t('moods.singular'), moods_path)) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.group_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.group_answer', group: link_to(t('groups.singular'), groups_path)) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.medications_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.medications_answer', medications: link_to(t('medications.index.title'), medications_path )) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading">
    <%= t('pages.faq.invite_question') %>
  </h1>
  <p class="articleContent">
    <%= raw t('pages.faq.invite_answer', allies: link_to(t('allies.index.title'), allies_path )) %>
  </p>
</article>

<article class="article">
  <h1 class="articleHeading"><%= t('pages.faq.email_notifications_question') %></h1>
  <p class="articleContent noMarginBottom">
    <%= raw t('pages.faq.email_notifications_answer', {
        accounts: link_to(t('account.singular'), edit_user_registration_path )
    }) %>
  </p>
</article>
