<% title t('pages.faq.title') %>
<h1><%= t('pages.faq.data_access_question') %></h1>
<p>
  <%= raw t('pages.faq.data_access_answer') %>
</p>

<h1><%= t('pages.faq.moment_question') %></h1>
<p>
  <%= raw t('pages.faq.moment_answer') %>
</p>

<h1><%= t('pages.faq.strategy_question') %></h1>
<p>
  <%= raw t('pages.faq.strategy_answer') %>
</p>

<h1><%= t('pages.faq.category_question') %></h1>
<p>
  <%= raw t('pages.faq.category_answer') %>
</p>

<h1><%= t('pages.faq.mood_question') %></h1>
<p>
  <%= raw t('pages.faq.mood_answer') %>
</p>

<h1><%= t('pages.faq.group_question') %></h1>
<p>
  <%= raw t('pages.faq.group_answer') %>
</p>

<h1><%= t('pages.faq.medications_question') %></h1>
<p>
  <%= raw t('pages.faq.medications_answer') %>
</p>

<h1><%= t('pages.faq.invite_question') %></h1>
<p>
  <%= raw t('pages.faq.invite_answer') %>
</p>

<h1><%= t('pages.faq.email_notifications_question') %></h1>
<p class="no_margin_bottom">
  <%= raw t('pages.faq.email_notifications_answer') %>
</p>
