<% if user_signed_in? && @stories.any? %>
  <% title t('pages.home.stories') %>
<% elsif user_signed_in? %>
  <% title t('pages.home.signed_in_empty.main_message_one', { name: current_user.name }) %>
<% end %>

<% if !user_signed_in? %>
  <%= render partial: 'not_signed_in' %>
<% elsif @stories.any? %>
  <div class="gridTwo">
    <% @stories.each do |story| %>
      <% if current_user.id == story.user_id || (story.viewers.include?(current_user.id) && current_user.mutual_allies?(User.find_by(id: story.user_id))) %>
      <%= render partial: '/stories/moment_or_strategy', locals: { item: story } %>
      <% end %>
    <% end %>
  </div>
  <%= paginate @stories %>
<% else %>
  <%= render partial: 'signed_in_empty' %>
<% end %>

<%= render partial: 'update_password_modal' %>
