<% if !user_signed_in? %>
	<%= render :partial => 'not_signed_in' %>
<% elsif @moments.count > 0 %>
	<%= render :partial => '/moments/quick_moment', locals: { moment: @moment, categories: @categories, moods: @moods } %>

	<% @moments.each_with_index do |moment, index| %>
		<% if current_user.id == moment.userid || (is_viewer(moment.viewers) && are_allies(current_user.id, moment.userid)) %>
			<% if index+1 == @moments.length %>
  				<div class="moment no_margin_bottom">
  			<% else %>
				<div class="moment">
			<% end %>
	      			<div class="align_left">
					    <h1 class="moment_name">
					    	<%= render :partial => '/shared/viewers_hover', locals: { data: moment } %>
					    	<%= link_to moment.name, moment %>
					    </h1>
					</div>
					<div class="align_right">
	        			<h1 class="ally_name">
	        				<% if current_user.id == moment.userid %>
	        					<%= link_to t('.you'), profile_index_path(uid: current_user.uid) %>
	        				<% else %>
	        					<%= link_to User.where(:id => moment.userid).first.name, profile_index_path(uid: get_uid(moment.userid)) %>
	        				<% end %>
	        			</h1>
	     			</div>
	     			<div class="clear"></div>

	     			<%= render :partial => '/moments/info', locals: { data: moment, show_strategies: true, home: true } %>
				</div>
		<% end %>
	<% end %>
<% else %>
	<%= render :partial => 'signed_in_empty' %>
<% end %>
