<% if user_signed_in? && @stories.any? %>
<% title t('pages.home.stories') %>
<% elsif user_signed_in? %>
<% title t('pages.home.signed_in_empty.main_message_one', { name: current_user.name }) %>
<% end %>
<% if !user_signed_in? %>
  <%= render partial: 'not_signed_in' %>
<% elsif @stories.any? %>
  <%= render partial: '/moments/quick_moment', locals: { moment: @moment, categories: @categories, moods: @moods } %>

  <div class="gridTwo">
    <% @stories.each do |story| %>
      <% if current_user.id == story.user_id || (viewer_of?(story.viewers) && are_allies?(current_user.id, story.user_id)) %>
        <div class="gridTwoItemBoxLight">
          <div class="align_left">
            <h1 class="story_name">
              <%= render partial: '/shared/viewers_hover', locals: { data: story } %>
              <%= link_to story.name, story %>
            </h1>
          </div>
          <div class="align_right">
            <h1 class="ally_name">
              <% if current_user.id == story.user_id %>
                <%= link_to t('common.you'), profile_index_path(uid: current_user.uid) %>
              <% else %>
                <%= link_to User.where(id: story.user_id).first.name, profile_index_path(uid: get_uid(story.user_id)) %>
              <% end %>
            </h1>
          </div>
          <div class="clear"></div>

          <%= render partial: '/moments/info', locals: { data: story, show_strategies: true, home: true, class_name: true } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @stories %>
<% else %>
  <%= render partial: 'signed_in_empty' %>
<% end %>
