<style>
	#header a#home_link:link {
		border-bottom: 1px solid #ffffff;
	}
</style>

<% if !user_signed_in? %>
	<div id="version">
		We're constantly improving our app! Wanna <%= link_to('help', contributors_path) %>?
	</div>
	<div class="center">
		<div class="message">
			<div class="message_row">
				<div class="message_cell">
					<div id="book"></div>
					<div class="icon_border"></div>
					Share your stories with loved ones and get the support you deserve
				</div>
				<div class="message_cell">
					<div id="you"></div>
					<div class="icon_border"></div>
					Be you, no strings attached and with security
				</div>
				<div class="message_cell">
					<div id="time"></div>
					<div class="icon_border"></div>
					Keep track of medications, appointments, and create alerts
				</div>
			</div>
		</div>
	</div>
<% elsif @moments.count > 0 %>
	<% @moments.each_with_index do |moment, index| %>
		<% if current_user.id == moment.userid || (is_viewer(moment.viewers) && are_allies(current_user.id, moment.userid)) %>
			<% if index+1 == @moments.length %>
  				<div class="moment no_margin_bottom">
  			<% else %>
				<div class="moment">
			<% end %>
	      			<div class="align_left">
					    <h1 class="moment_name"><%= link_to moment.name, moment %></h1>
					</div>
					<div class="align_right">
	        			<h1 class="ally_name">
	        				<% if current_user.id == moment.userid %>
	        					<%= link_to t('.you'), profile_index_path(:userid => moment.userid) %>
	        				<% else %>
	        					<%= link_to User.where(:id => moment.userid).first.name, profile_index_path(:userid => moment.userid) %>
	        				<% end %>
	        			</h1>
	     			</div>
	     			<div class="clear"></div>
	     			
	     			<%= render :partial => '/moments/info', locals: { data: moment, show_strategies: true, home: true } %>
				</div>
		<% end %>
	<% end %>
<% else %>
	<div id="version">
		Welcome <%= current_user.name %>! Here are some things to get you started with sharing your stories!
	</div>
	<div class="table">
		<div class="table_row">
			<div class="table_cell message_cell center_div">
				<div id="you" class="padding_bottom"></div>
			</div>

			<div class="table_cell vertical_align_middle">
				Customize your <%= link_to(t('.profile_word'), edit_user_registration_path) %> - add a bio and profile picture
				<br>Add custom <%= link_to(t('.moods_word'), moods_path) %> to best describe your emotions
				<br>Add <%= link_to(t('.allies_word'), allies_path) %> - friends, family, and others who you want to share with
			</div>
		</div>

		<div class="table_row">
			<div class="table_cell message_cell center_div">
				<div id="book" class="padding_bottom"></div>
			</div>

			<div class="table_cell vertical_align_middle">
				Is it easier to categorize your life? Create custom <%= link_to(t('.categories_word'), categories_path) %> to help organize your moments
				<br>Write about the <%= link_to(t('.moments_word'), moments_path) %> - the events and situations that affect your mental health
				<br>Need extra support? Join or create a <%= link_to(t('.groups_word'), groups_path) %> to open up
			</div>
		</div>

		<div class="table_row">
			<div class="table_cell message_cell center_div">
				<div id="time" class="padding_bottom"></div>
			</div>

			<div class="table_cell vertical_align_middle">
				Currently taking <%= link_to(t('.medication_word'), medications_path) %>? Keep track of it and add alerts to your Google calendar!
			</div>
		</div>
	</div>
<% end %>
