<style>
	#header a#home_link:link {
		border-bottom: 1px solid #ffffff;
	}
</style>

<% if !user_signed_in? %>
	<div class="center">
		<div class="message">
			<div class="message_row">
				<div class="message_cell">
					<div id="book"></div>
					<div class="icon_border"></div>
					Share your story with trusted allies and get the support you deserve
				</div>
				<div class="message_cell">
					<div id="you"></div>
					<div class="icon_border"></div>
					Be you, no strings attached
				</div>
				<div class="message_cell">
					<div id="time"></div>
					<div class="icon_border"></div>
					Keep track of medications, appointments, and create alerts
				</div>
			</div>
		</div>
	</div>
<% else %>
	<% @triggers.each do |trigger| %>
		<% if current_user.id == trigger.userid || (trigger.viewers.include?(current_user.id) && are_allies(current_user.id, trigger.userid)) %>
			<div class="trigger">
      			<div class="align_left">
				    <h1 class="trigger_name"><%= link_to trigger.name, trigger %></h1>
				</div>
				<div class="align_right">
        			<h1 class="ally_name">
        				<% if current_user.id == trigger.userid %>
        					<%= link_to "You", profile_index_path(:userid => trigger.userid) %>
        				<% else %>
        					<%= link_to User.where(:id => trigger.userid).first.name, profile_index_path(:userid => trigger.userid) %>
        				<% end %>
        			</h1>
     			</div>
     			<div class="clear"></div>
     			<strong>Created:</strong> <%= local_time(trigger.created_at, '%A, %B %e, %Y at %l:%M %P') %>
     			<% if trigger.category.count > 0 %>
	     			<br>
				    <strong>
				      <% if trigger.category.count == 1 %>
				        Category:
				      <% else %>
				        Categories:
				      <% end %>
				    </strong>
				    <% trigger.category.each do |item| %>
				      <%= fetch_taxonomies(trigger, "trigger", item, "category", true) %>
				    <% end %>
				<% end %>
				<% if trigger.mood.count > 0 %>
				    <br>
				    <strong>
				      <% if trigger.mood.count == 1 %>
				        Mood:
				      <% else %>
				        Moods:
				      <% end %>
				    </strong>
				    <% trigger.mood.each do |item| %>
				      <%= fetch_taxonomies(trigger, "trigger", item, "mood", true) %>
				    <% end %>
				<% end %>
			    <% if trigger.strategies.count > 0 %>
				  	<br>
				    <strong>
				      <% if trigger.strategies.count == 1 %>
				        Strategy:
				      <% else %>
				        Strategies:
				      <% end %>
				    </strong>
				    <% trigger.strategies.each do |item| %>
				      <%= fetch_taxonomies(trigger, "trigger", item, "strategy", true) %>
				    <% end %>
				<% end %>
			    <br>
			    <br>
			    <%= simple_format(trigger.why[0..200]) %><%= " [...]" %>
			    <br>
			    <br>
			    <%= fetch_supporters(Support.all, trigger) %>
			</div>
		<% end %>
	<% end %>
<% end %>