<style>
	#header a#home_link:link {
		border-bottom: 1px solid #ffffff;
	}
</style>

<% if !user_signed_in? %>
	<div id="version">
		Currently in development! Beta version to be released soon! We need <%= link_to('your help!', contributors_path, class: "spacing") %>
	</div>
	<div class="center">
		<div class="message">
			<div class="message_row">
				<div class="message_cell">
					<div id="book"></div>
					<div class="icon_border"></div>
					Share your story with trusted allies and get the support you deserve
				</div>
				<div class="message_cell">
					<div id="you"></div>
					<div class="icon_border"></div>
					Be you, no strings attached
				</div>
				<div class="message_cell">
					<div id="time"></div>
					<div class="icon_border"></div>
					Keep track of medications, appointments, and create alerts
				</div>
			</div>
		</div>
	</div>
<% else %>
	<% @triggers.each_with_index do |trigger, index| %>
		<% if current_user.id == trigger.userid || (is_viewer(trigger.viewers) && are_allies(current_user.id, trigger.userid)) %>
			<% if index+1 == @triggers.length %>
  				<div class="trigger" style="margin-bottom: 0">
  			<% else %>
				<div class="trigger">
			<% end %>
	      			<div class="align_left">
					    <h1 class="trigger_name"><%= link_to trigger.name, trigger %></h1>
					</div>
					<div class="align_right">
	        			<h1 class="ally_name">
	        				<% if current_user.id == trigger.userid %>
	        					<%= link_to t('.you'), profile_index_path(:userid => trigger.userid) %>
	        				<% else %>
	        					<%= link_to User.where(:id => trigger.userid).first.name, profile_index_path(:userid => trigger.userid) %>
	        				<% end %>
	        			</h1>
	     			</div>
	     			<div class="clear"></div>
	     			<strong><%= t('.created') %></strong> <%= local_time(trigger.created_at, '%A, %B %e, %Y at %l:%M %P') %>
	     			<% if trigger.category.count > 0 %>
		     			<br>
					    <strong>
					      <% if trigger.category.count == 1 %>
					        <%= t('.category') %>
					      <% else %>
					        <%= t('.categories') %>
					      <% end %>
					    </strong>
					    <% trigger.category.each do |item| %>
					      <%= fetch_taxonomies(trigger, "trigger", item, "category", true, true) %>
					    <% end %>
					<% end %>
					<% if trigger.mood.count > 0 %>
					    <br>
					    <strong>
					      <% if trigger.mood.count == 1 %>
					        <%= t('.mood') %>
					      <% else %>
					        <%= t('.moods') %>
					      <% end %>
					    </strong>
					    <% trigger.mood.each do |item| %>
					      <%= fetch_taxonomies(trigger, "trigger", item, "mood", true, true) %>
					    <% end %>
					<% end %>
				    <% if trigger.strategies.count > 0 %>
					  	<br>
					    <strong>
					      <% if trigger.strategies.count == 1 %>
					        <%= t('.strategy') %>
					      <% else %>
					        <%= t('.strategies') %>
					      <% end %>
					    </strong>
					    <% trigger.strategies.each do |item| %>
					      <%= fetch_taxonomies(trigger, "trigger", item, "strategy", true, true) %>
					    <% end %>
					<% end %>
				    <br>
				    <br>
				    <%= simple_format(trigger.why[0..200]) %>
				    <% if trigger.why.length >= 200 %>
	              		<%= " [...]" %>
	            	<% end %>
				    <%= fetch_supporters(Support.all, trigger) %>
				</div>
		<% end %>
	<% end %>
<% end %>
