<% if user_signed_in? && @stories.any? %>
<% title t('pages.home.stories') %>
<% elsif user_signed_in? %>
<% title t('pages.home.signed_in_empty.main_message_one', { name: current_user.name }) %>
<% end %>
<% if !user_signed_in? %>
  <%= render partial: 'not_signed_in' %>
<% elsif @stories.any? %>
  <%= render partial: '/moments/quick_moment', locals: { moment: @moment, categories: @categories, moods: @moods } %>

  <div class="gridTwo">
    <% @stories.each do |story| %>
      <% if current_user.id == story.user_id || (viewer_of?(story.viewers) && are_allies?(current_user.id, story.user_id)) %>
        <%= render partial: '/shared/story', locals: { story: story, storyBy: true } %>
      <% end %>
    <% end %>
  </div>

  <%= paginate @stories %>
<% else %>
  <%= render partial: 'signed_in_empty' %>
<% end %>
