<% title t('pages.privacy.title') %>
<h1 class="privacy_heading"><%= t('pages.privacy.summary') %></h1>
<%= raw t('pages.privacy.summary_description') %>

<h1 class="privacy_heading"><%= t('pages.privacy.user_data') %></h1>
<%= raw t('pages.privacy.user_data_description') %>

<h1 class="privacy_heading"><%= t('pages.privacy.cookies') %></h1>
<%= raw t('pages.privacy.cookies_description') %>

<h1 class="privacy_heading"><%= t('pages.privacy.social_media') %></h1>
<%= raw t('pages.privacy.social_media_description') %>

<h1 class="privacy_heading"><%= t('pages.privacy.contact') %></h1>
<%= raw t('pages.privacy.contact_description') %>
