<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :trigger %><br />
    <%= f.select :trigger, Trigger.where(:userid => current_user.id).all.collect {|item| [ item.name, item.id ] }, {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <%= f.label :medication %><br />
    <%= f.select :medication, Medication.where(:userid => current_user.id).all.collect {|item| [ item.name, item.id ] }, {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <%= f.label :means %><br />
    <%= f.select :means, [['Email', 'email'], ['SMS', 'sms'], ['Calendar', 'calendar']], {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </div>
  <div class="field">
    <%= f.label :times %><br />
    <%= f.text_field :times %>
  </div>
  <div class="actions">
     <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
