<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :message %></div>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :trigger %></div>
    <%= f.select :trigger, Trigger.where(:userid => current_user.id).all.collect {|item| [ item.name, item.id ] }, {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :medication %></div>
    <%= f.select :medication, Medication.where(:userid => current_user.id).all.collect {|item| [ item.name, item.id ] }, {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :means %></div>
    <%= f.select :means, [['Email', 'email'], ['SMS', 'sms'], ['Calendar', 'calendar']], {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <div class="label"><%= f.label :days %></div>
    <%= f.select :days, [['Everyday', 'everyday']], {include_blank: 'Please select'} %>
  </div>
  <div class="field">
    <div class="label">Time</div>
    <%= f.select :time_hour, (1..12).to_a, {include_blank: 'Hour'} %> 
    <%= ':' %>
    <% the_time = ["01","02","03","04","05","06","07","08","09"].concat (10..59).to_a %>
    <%= f.select :time_minute, the_time, {include_blank: 'Minute'} %>
    <%= f.select :time_period, ['am','pm'], {include_blank: 'Period'} %>
  </div>
  <div class="actions">
     <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>
<% end %>