<% @alerts.each do |alert| %>
  <div class="the_alert">
    <h1 class="alert_name"><%= link_to alert.name, alert %></h1>
    For:
    <% if !alert.trigger.blank? %>
      <%= Trigger.where(:id => alert.trigger, :userid => current_user.id).first.name %>
      <%= ' (Trigger)' %>
    <% end %>
    <% if !alert.trigger.blank? && !alert.medication.blank? %>
      <%= ' and ' %>
    <% end %>
    <% if !alert.medication.blank? %>
      <%= Medication.where(:id => alert.medication, :userid => current_user.id).first.name %>
      <%= ' (Medication)' %>
    <% end %>
    <br>By: <%= alert.means %>
    <br>When: <%= alert.days %> at <%= alert.time_hour %>:<%= alert.time_minute %> <%= alert.time_period %>
    <div style="margin-top: 20px">
      <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_alert_path(alert) %>
      <i class="fa fa-trash-o action" style="margin-left: 20px"></i><%= link_to 'Delete', alert, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

[Set up mailer for these alerts, later attempt SMS]
