<p>
  <strong><%= t('.name') %></strong>
  <%= @alert.name %>
</p>

<p>
  <strong><%= t('.message') %></strong>
  <%= @alert.message %>
</p>


<% if !@alert.trigger.blank? %>
  <p>
    <strong><%= t('.trigger') %></strong>
    <%= Trigger.where(:id => @alert.trigger, :userid => current_user.id).first.name %>
  </p>
<% end %>

<% if !@alert.medication.blank? %>
  <p>
    <strong><%= t('.medication') %></strong>
    <%= Medication.where(:id => @alert.medication, :userid => current_user.id).first.name %>
  </p>
<% end %>

<p>
  <strong><%= t('.means') %></strong>
  <%= @alert.means %>
</p>

<p>
  <strong><%= t('.days') %></strong>
  <%= @alert.days %>
</p>

<p>
  <strong><%= t('.time') %></strong>
  <%= @alert.time_hour %>:<%= @alert.time_minute %> <%= @alert.time_period %>
</p>
