<p>
  <strong>Name:</strong>
  <%= @alert.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @alert.message %>
</p>


<% if !@alert.trigger.blank? %>
  <p>
    <strong>Trigger:</strong>
    <%= Trigger.where(:id => @alert.trigger, :userid => current_user.id).first.name %>
  </p>
<% end %>

<% if !@alert.medication.blank? %>
  <p>
    <strong>Medication:</strong>
    <%= Medication.where(:id => @alert.medication, :userid => current_user.id).first.name %>
  </p>
<% end %>

<p>
  <strong>Means:</strong>
  <%= @alert.means %>
</p>

<p>
  <strong>Days:</strong>
  <%= @alert.days %>
</p>

<p>
  <strong>Time:</strong>
  <%= @alert.time_hour %>:<%= @alert.time_minute %> <%= @alert.time_period %>
</p>
