<div class="subtitle"><%= t('devise.sessions.subtitle') %></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="center">
    <div class="label smallMarginTop"><%= t('common.form.email') %></div>
    <%= f.email_field :email, 'aria-label': t('common.form.email') %>

    <div class="label smallMarginTop"><%= t('devise.password') %></div>
    <%= f.password_field :password, autocomplete: 'off', 'aria-label': t('devise.password') %>

    <% if devise_mapping.rememberable? -%>
      <div class="label smallMarginTop">
        <%= f.check_box :remember_me, 'aria-label': t('devise.remember_me') %>
        <%= t('devise.remember_me') %>
      </div>
    <% end -%>

    <%= f.submit t('account.sign_in'), class: 'buttonGhostM smallMarginTop' %>
  </div>
<% end %>

<div class="center">
  <%= render 'devise/shared/links' %>
</div>
