<%= form_for(@strategy) do |f| %>
<% if @strategy.errors.any? %>
  <div class="error_explanation">
    <%= t('.error_explanation') %>
  </div>
<% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top">

    <div class="sidebar_field">
      <div class="sidebar_label"><%= f.label t('.name') %></div>
      <%= f.text_field :name, :class => "name_field" %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <a href="#" class="toggle_button" id="showCategories">
          <i class="fa fa-plus"></i>
        </a>
        <a href="#" class="toggle_button display_none" id="hideCategories">
          <i class="fa fa-minus" ></i>
        </a>
        <%= f.label t('.categories') %>
      </div>
      <div id="categories" class="display_none">
        <% if !@categories.nil? && @categories.length > 0 %>
          <% Category.where(:userid => current_user.id).all.each do |item| %>
          <%= f.check_box(:category, {:multiple => true, :checked => @strategy.category.include?(item.id)}, item.id, nil) %>
          <%= item.name %><br>
          <% end %>
        <% else %>
          <%= no_taxonomies_error("category") %>
        <% end %>
      </div>
    </div>

    <% if !@viewers.nil? && @viewers.length > 0 %>
    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label t('.viewers') %>
      </div>
      <input type="checkbox" id="viewers" /><span id="viewers_label"></span>
      <br>
      <% @viewers.each do |item| %>
      <%= f.check_box(:viewers, {:multiple => true, :checked => @strategy.viewers.include?(item.id)}, item.id, nil) %><%= User.where(:id => item.id).first.name %><br>
      <% end %>
    </div>
    <% end %>

    <div class="sidebar_field">
      <div class="sidebar_label"><%= f.label t('.allow_comments') %>
        <div class="align_right">
          <%= f.check_box :comment %>
        </div>
      </div>
    </div>
  </div>

  <div class="table_cell vertical_align_top">
    <div class="field">
      <div class="label"><%= f.label t('.describe') %></div>
      <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
    </div>
  </div>

</div>

<div class="clear"></div>

<div class="actions align_right no_margin_bottom">
  <%= f.hidden_field :userid, :value => current_user.id %>
  <%= f.submit %>
</div>

<div class="clear"></div>

<% end %>
