<%= render partial: 'shared/editor_modal' %>

<%= form_for(@strategy) do |f| %>

<div class="table">
  <div class="table_cell padding_right vertical_align_top sidebar">

    <div class="sidebar_field">
      <div class="sidebar_label gridRowSpaceBetween">
        <%= f.label t('common.title'), for: 'strategy_name' %>
        <div class="gridRow">
          <%= react_component('Tooltip', props: {
            element: '<i class="fa fa-question-circle"></i>',
            text: t('strategies.form.name_hint')
          }) %>
          <i class="fa fa-asterisk smaller_margin_left"></i>
        </div>
      </div>
      <%= f.text_field :name, class: 'name_field' %>
    </div>

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
      f: f,
      all_data: @categories,
      this_data: @strategy.category,
      data_type: 'category',
      data_type_plural: 'categories'
    } %>

    <% if !@viewers.nil? && @viewers.any? %>
      <div class="sidebar_field">
        <div class="sidebar_label expand_toggle" data-toggle="#viewers">
          <a href="#" class="toggle_button">
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="gridRow">
            <%= f.label t('shared.viewers.plural'), class: 'smaller_margin_right' %>
            <%= react_component('Tooltip', props: {
              element: '<i class="fa fa-question-circle"></i>',
              text: t('strategies.form.viewers_hint')
            }) %>
          </div>
        </div>
      </div>

      <div id="viewers" class="display_none">
        <div id="viewers_list">
        <label>
          <input type="checkbox" id="viewers_all" />
          <span id="viewers_label"><%= t('common.actions.select_all') %></span>
        </label>

        <% @viewers.each do |item| %>
          <label>
            <%= f.check_box(:viewers, { multiple: true, checked: @strategy.viewers.include?(item.id)}, item.id, nil) %>
            <%= User.where(id: item.id).first.name %>
          </label>
        <% end %>
        </div>
      </div>
    <% end %>

    <div class="sidebar_field">
      <div class="sidebar_label gridRowSpaceBetween">
        <div class="gridRow">
          <%= f.label t('comment.allow_comments'), class: 'smaller_margin_right' %>
          <%= react_component('Tooltip', props: {
            element: '<i class="fa fa-question-circle"></i>',
            text: t('comment.hint')
          }) %>
        </div>
        <%= f.check_box :comment, class: 'no_margin_right' %>
      </div>
    </div>

    <div class="sidebar_field">
      <%= f.fields_for :perform_strategy_reminder do |reminder| %>
        <div class="sidebar_label gridRowSpaceBetween">
          <div class="gridRow">
            <%= reminder.label t('common.daily_reminder'), for: 'perform_strategy_reminder', class: 'smaller_margin_right' %>
            <%= react_component('Tooltip', props: {
              element: '<i class="fa fa-question-circle"></i>',
              text: t('strategies.form.daily_reminder_hint')
            }) %>
          </div>
          <%= reminder.check_box(:active, { id: 'perform_strategy_reminder', class: 'no_margin_right' }, 'true', 'false') %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table_cell vertical_align_top">
    <div class="field">
      <div class="label">
        <%= f.label t('strategies.form.describe'), for: 'strategy_description' %>
        <i class="fa fa-asterisk"></i>
      </div>
      <%= f.cktext_area :description, class: 'special_textarea ckeditor' %>

      <%= render partial: '/shared/character_count', locals: { data: 'strategy_description' } %>
    </div>
    <div class="field slider-container">
      <div class="label draft_label">
        <%= f.label t('strategies.form.draft_question') %>
      </div>
      <%= render partial: '/shared/draft_slider', locals: { published: @strategy.published? } %>
    </div>
  </div>
</div>

<div class="actions no_margin_bottom">
  <%= f.submit t('common.actions.submit') %>
</div>

<% end %>

<%= render partial: '/shared/quick_create', locals: { data_type: 'category', data: @category, tag: 'strategy' } %>
