<div id="myModal" class="modal">
  <div class="modal-content">
  <span class="close">&times;</span>
    <div class="strategy no_margin_bottom premade-box">
      <h1 class="strategy_name">
        <%= content_tag(:span, '<i class="fa fa-lock"></i>'.html_safe, class: 'yes_title small_margin_right', title: t('comment.control')) %>
        <%= t('strategies.index.premade1_name') %>
      </h1>

      <%= strip_tags(t('strategies.index.premade1_description')) %>
      <% if t('strategies.index.premade1_description').length >= 80 %>
        <%= t('ellipsis') %>
      <% end %>
    <button class="confirmbtn" class="actions align_right">
  	 <%=link_to t('common.actions.confirm_add'), premade_strategies_path %>
  </button>
    </div>
  </div>
</div>