<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @strategies.length > 0 %>
  <%= render :partial => '/shared/stats', locals: { data_type: 'strategy' } %>

  <div id="pages">
    <div class="page">
    <%= render @strategies %>
    </div>
  </div>

  <%= paginate @strategies %>
<% else %>
  You haven't created any custom strategies yet. Click <i class="fa fa-plus-circle"></i> to add some!
  <br>You can also add the following premade strategy and customize it another time.

  <div class="actions align_right">
    <%= button_to "Add", premade_strategies_path %>
  </div>

  <div class="clear"></div>

  <div class="strategy no_margin_bottom">
    <h1 class="strategy_name">
      <span class="yes_title small_margin_right" title="Control who can view and comment"><i class="fa fa-lock"></i></span>
      <%= t('strategies.index.premade1_name') %>
    </h1>

    <%= strip_tags(t('strategies.index.premade1_description')[0..80]) %>
    <% if t('strategies.index.premade1_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>
<% end %>