<strong><%= t('.created') %></strong> <%= local_time(@strategy.created_at, '%A, %B %e, %Y at %l:%M %P') %>
<% if @strategy.category.count > 0 %>
  <br>
    <strong>
      <% if @strategy.category.count == 1 %>
        <%= t('.category') %>
      <% else %>
        <%= t('.categories') %>
      <% end %>
    </strong>
    <% @strategy.category.each do |item| %>
      <span class="notification_wrapper">
        <span class="tip_notifications_button link_style"><%= Category.where(id: item).first.name %></span><% if @strategy.category.last != item %><%= ', ' %><% end %>
        <%= render :partial => '/notifications/preview', locals: { data: Category.where(id: item).first, edit: edit_category_path(item) } %>
       </span>
    <% end %>
<% end %>

<% if !@strategy.description.blank? %>
  <p>
    <%= simple_format(@strategy.description) %>
  </p>
<% end %>

<!-- Disabling support feature temporarily -->
<% if false %>
  <% if @no_hide_page %>
    <div class="align_left">
      <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
        <% if @support.errors.any? %>
          <div class="error_explanation">
            <%= t('.error_explanation') %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.hidden_field :userid, :value => current_user.id %>
          <%= f.hidden_field :support_type, :value => 'strategy' %>
          <%= f.hidden_field :support_id, :value => @strategy.id %>
          <% if Support.where(:userid => current_user.id, :support_type => 'strategy').exists? %>
            <% if Support.where(:userid => current_user.id, :support_type => 'strategy').first.support_ids.include?(@strategy.id) %>
              <%= f.submit t('.unsupport'), :id => 'unsupport' %>
            <% else %>
              <%= f.submit t('.support'), :id => 'support' %>
            <% end %>
          <% else %>
            <%= f.submit t('.support'), :id => 'support' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

<% if @strategy.comment && (current_user.id == @strategy.userid || @no_hide_page) %>

  <%= form_for @comment, :url => { :action => "comment" }, :html => { :method => "post" } do |f| %>
    <% if @comment.errors.any? %>
      <div class="error_explanation">
        <%= t('.error_explanation') %>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :comment, class: 'comment_textarea' %>
    </div>

    <div class="actions align_right">
      <%= f.hidden_field :comment_type, :value => 'strategy' %>
      <%= f.hidden_field :comment_by, :value => current_user.id %>
      <%= f.hidden_field :commented_on, :value => @strategy.id %>
      <%= f.select :visibility, [[t('.share_everyone'), 'all'], [t('.share_with') + User.where(:id => @strategy.userid).first.name + t('.only'), 'private']] %>
      <%= f.submit t('.comment'), class: 'no_margin_right' %>
    </div>

    <div class="clear"></div>
  <% end %>

  <div class="table">
  <% @comments.each do |comment| %>
    <% if comment.visibility == 'all' || (comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid)) %>
        <% if @comments.first == comment %>
        <div class="comment no_margin_top" %>
        <% else %>
        <div class="comment">
        <% end %>
          <div class="table_row">
            <div class="table_cell small_profile_picture_div vertical_align_middle padding_right">
              <% profile = User.where(:id => comment.comment_by).first %>
                <%= image_tag fetch_profile_picture(profile.avatar.url), class: 'mini_profile_picture' %>
                <br>
            </div>
            <div class="table_cell">
              <div class="comment_info">
                <%= link_to profile.name, profile_index_path(:userid => comment.comment_by) %> <%= t('.on') %> <%= local_time(comment.created_at, '%A, %B %e, %Y at %l:%M %P') %>
              </div>
              <div class="comment_text"><%= simple_format(comment.comment) %></div>
              <% if comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid) %>
                <div class="subtle"><%= t('.visible_only_to') %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
<% else %>
  <em><%= t('.disabled_comments') %></em>
<% end %>
