<% title @strategy.name %>
<%= render partial: 'shared/draft_badge', locals: { published: @strategy.published? } %>
<%= TimeAgo.created_or_edited(@strategy) %>
<% if @strategy.present? %>
  <br>
    <strong>
      <%= t('categories.label', count: @strategy.category.count) %>
    </strong>
    <% @strategy.category.each do |item| %>
      <span class="notification_wrapper">
        <span class="tip_notifications_button link_style"><%= Category.where(id: item).first.name %></span><% if @strategy.category.last != item %><%= ', ' %><% end %>
        <%= render partial: '/notifications/preview', locals: { data: Category.where(id: item).first, edit: edit_category_path(item) } %>
       </span>
    <% end %>
<% end %>

<% if @strategy.description.present? %>
  <p>
    <%= sanitize(@strategy.description) %>
    <%= print_reminders(@strategy) %>
  </p>
<% end %>

<%= render partial: '/shared/viewers_indicator', locals: { data: @strategy } %>

<%= render partial: '/shared/comments', locals: { data: @strategy, comments: @comments, comment: @comment, no_hide_page: @no_hide_page, commentable_type: 'strategy' } %>

<%= render partial: '/shared/tag_usage', locals: { data: @strategy.id, data_type: 'strategy', user_id: @strategy.user_id } %>
