<strong><%= t('.created') %></strong> <%= local_time_ago(@strategy.created_at) %>
<% if @strategy.category.count > 0 %>
  <br>
    <strong>
      <% if @strategy.category.count == 1 %>
        <%= t('.category') %>
      <% else %>
        <%= t('.categories') %>
      <% end %>
    </strong>
    <% @strategy.category.each do |item| %>
      <span class="notification_wrapper">
        <span class="tip_notifications_button link_style"><%= Category.where(id: item).first.name %></span><% if @strategy.category.last != item %><%= ', ' %><% end %>
        <%= render :partial => '/notifications/preview', locals: { data: Category.where(id: item).first, edit: edit_category_path(item) } %>
       </span>
    <% end %>
<% end %>

<% if !@strategy.description.blank? %>
  <p>
    <%= raw(@strategy.description) %>
  </p>
<% end %>

<!-- Disabling support feature temporarily -->
<% if false %>
  <% if @no_hide_page %>
    <div class="align_left">
      <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
        <% if @support.errors.any? %>
          <div class="error_explanation">
            <%= t('.error_explanation') %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.hidden_field :userid, :value => current_user.id %>
          <%= f.hidden_field :support_type, :value => 'strategy' %>
          <%= f.hidden_field :support_id, :value => @strategy.id %>
          <% if Support.where(:userid => current_user.id, :support_type => 'strategy').exists? %>
            <% if Support.where(:userid => current_user.id, :support_type => 'strategy').first.support_ids.include?(@strategy.id) %>
              <%= f.submit t('.unsupport'), :id => 'unsupport' %>
            <% else %>
              <%= f.submit t('.support'), :id => 'support' %>
            <% end %>
          <% else %>
            <%= f.submit t('.support'), :id => 'support' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

<%= render :partial => '/shared/viewers_indicator', locals: { data: @strategy } %>

<%= render :partial => '/shared/comments', locals: { data: @strategy, comments: @comments, comment: @comment, no_hide_page: @no_hide_page, comment_type: 'strategy' } %>

<%= render :partial => '/shared/tag_usage', locals: { data: @strategy.id, data_type: 'strategy', userid: @strategy.userid } %>