<%= form_for(@category) do |f| %>

  <% if @category.errors.any? %>
    <div class="errorText">
      <%= t('common.form.error_explanation') %>
    </div>
  <% end %>

  <div class="field">
    <div class="label">
      <%= f.label t('common.name'), for: 'category_name' %>
      <%= react_component('Tooltip', props: {
        element: '<i class="fa fa-question-circle"></i>',
        text: t('categories.form.name_hint'),
        right: true
      }) %>
    </div>
    <%= f.text_field :name, class: "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label t('common.form.description'), for: 'category_description' %>
    </div>
    <%= f.cktext_area :description, class: 'special_textarea ckeditor' %>
  </div>

  <div class="actions no_margin_bottom">
    <%= f.submit t('common.actions.submit') %>
  </div>
<% end %>
