<%= form_for(@category) do |f| %>

<% if @category.errors.any? %>
  <div class="error_explanation">
    <%= t('.error_explanation') %>
  </div>
<% end %>

  <div class="field">
    <div class="label">
      <%= f.label t('.name') %>
      <div class="align_right">
        <span class="yes_title" title="Categorize recurring people, places, things, activities, and more"><i class="fa fa-question-circle"></i></span>
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="clear"></div>
    </div>
    <%= f.text_field :name, :class => "name_field" %>
  </div>

  <div class="field">
    <div class="label">
      <%= f.label t('.description') %>
      <i class="fa fa-exclamation-circle align_right"></i>
      <div class="clear"></div>
    </div>
    <%= f.cktext_area :description, class: 'no_title special_textarea ckeditor' %>
  </div>

  <div class="actions align_right no_margin_bottom">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>

  <div class="clear"></div>

<% end %>
