<%= form_for(@category) do |f| %>

<% if @category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="table_cell">

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name", :class => "name_field" %>
  </div>

  <div class="field">
    <div class="label"><%= f.label :description %></div>
    <%= f.cktext_area :description %>
  </div>

  <div class="actions align_right">
    <%= f.hidden_field :userid, :value => current_user.id %>
    <%= f.submit %>
  </div>

  <div class="clear"></div>

</div>

<% end %>
