<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<% if @categories.length > 0 %>
  <div class="spacer"></div>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category %></td>
          <td>
            <%= simple_format(category.description[0..80]) %>
            <% if category.description.length >= 80 %>
              <%= " [...]" %>
            <% end %>
          </td>
          <td>
            <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_category_path(category) %>
            <i class="fa fa-trash-o action" style="margin-left: 20px"></i><%= link_to 'Delete', category, method: :delete, data: { confirm: t('.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>