<% title t('categories.plural') %>
<% page_new new_category_path %>
<div class="subtitle">
  <%= t('categories.index.subtitle') %>
</div>

<% if @categories.length > 0 %>
  <%= render partial: '/search/posts', locals: { data_type: 'category' } %>

  <%= render partial: '/shared/stats', locals: { data_type: 'category' } %>

  <div class="gridTwo">
    <%= render @categories %>
  </div>

  <%= paginate @categories %>
<% else %>
  <%= raw t('categories.index.instructions') %>
  <div class="actions">
    <%= button_to t('common.actions.add_all'), premade_categories_path %>
  </div>

  <div class="spacer"></div>

  <div class="gridTwo">
    <% (1..4).each do |n| %>
      <div class="gridTwoItemBoxLight">
        <%= react_component('Story', props: {
          name: t("categories.index.premade#{n}_name"),
          link: categories_path
        }) %>
      </div>
    <% end %>
  </div>
<% end %>
