<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @categories.length > 0 %>
  <%= render :partial => '/shared/stats', locals: { data_type: 'category' } %>

  <% @categories.each do |category| %>
    <% if @categories.last == category %>
      <div class="category no_margin_bottom">
    <% else %>
      <div class="category">
    <% end %>

      <h1 class="category_name"><%= link_to category.name, category %></h1>

      <%= raw(category.description[0..80]) %>
      <% if category.description.length >= 80 %>
        <%= " [...]" %>
      <% end %>

      <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_category_path(category) %>
      <i class="fa fa-trash-o action small_margin_left"></i><%= link_to 'Delete', category, method: :delete, data: { confirm: t('.confirm') } %>
    </div>
  <% end %>
<% else %>
  You haven't created any custom categories yet. Click <i class="fa fa-plus-circle"></i> to add some!
  <br>You can also add the following premade categories and customize them another time.

  <div class="actions align_right">
    <%= button_to "Add all", premade_categories_path %>
  </div>

  <div class="clear"></div>

  <div class="category">
    <h1 class="category_name"><%= t('categories.index.premade1_name') %></h1>

    <%= raw(t('categories.index.premade1_description')[0..80]) %>
    <% if t('categories.index.premade1_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="category">
    <h1 class="category_name"><%= t('categories.index.premade2_name') %></h1>

    <%= raw(t('categories.index.premade2_description')[0..80]) %>
    <% if t('categories.index.premade2_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="category">
    <h1 class="category_name"><%= t('categories.index.premade3_name') %></h1>

    <%= raw(t('categories.index.premade3_description')[0..80]) %>
    <% if t('categories.index.premade3_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

  <div class="category no_margin_bottom">
    <h1 class="category_name"><%= t('categories.index.premade4_name') %></h1>

    <%= raw(t('categories.index.premade4_description')[0..80]) %>
    <% if t('categories.index.premade4_description').length >= 80 %>
      <%= " [...]" %>
    <% end %>
  </div>

<% end %>