<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @categories.length > 0 %>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category %></td>
          <td>
            <%= simple_format(category.description[0..80]) %>
            <% if category.description.length >= 80 %>
              <%= " [...]" %>
            <% end %>
          </td>
          <td>
            <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_category_path(category) %>
            <i class="fa fa-trash-o action small_margin_left"></i><%= link_to 'Delete', category, method: :delete, data: { confirm: t('.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  You haven't created any custom categories yet. Click <i class="fa fa-plus-circle"></i> to add some! 
  <br>You can also add the following premade categories and customize them another time.

  <div class="actions align_right">
    <%= button_to "Add all", premade_categories_path %>
  </div>

  <div class="clear"></div>

  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    
        <tr>
          <td><%= t('categories.index.premade1_name') %></td>
          <td><%= t('categories.index.premade1_description') %></td>
        </tr>

        <tr>
          <td><%= t('categories.index.premade2_name') %></td>
          <td><%= t('categories.index.premade2_description') %></td>
        </tr>

        <tr>
          <td><%= t('categories.index.premade3_name') %></td>
          <td><%= t('categories.index.premade3_description') %></td>
        </tr>

        <tr>
          <td><%= t('categories.index.premade4_name') %></td>
          <td><%= t('categories.index.premade4_description') %></td>
        </tr>

    </tbody>
  </table>
<% end %>