<p><%= t('salutation', @resource.email) %>!</p>

<p><%= t('devise.mailer.confirmation.link_instructions')  %></p>

<p><%= link_to t('devise.mailer.confirmation.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password.ignore') %></p>
<p><%= t('devise.mailer.reset_password.info') %></p>
