<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <% if f.object.class.require_password_on_accepting %>
    <%= react_component 'Input', props: {
      type: 'text',
      name: 'user[name]',
      id: 'user_name',
      label: t('common.name'),
      autoComplete: 'off',
      light: true,
      required: true
    } %>

    <div class="smallMarginTop">
      <%= react_component 'Input', props: {
        type: 'location',
        googleAPIKey: ENV['GOOGLE_API_KEY'],
        id: 'user_location',
        name: 'user[location]',
        label: t('common.form.location'),
        light: true
      } %>
    </div>

    <div class="smallMarginTop">
      <%= react_component 'Input', props: {
        type: 'password',
        name: 'user[password]',
        id: 'user_password',
        label: t('devise.password'),
        light: true,
        required: true
      } %>
    </div>

    <div class="smallMarginTop">
      <%= react_component 'Input', props: {
        type: 'password',
        name: 'user[password_confirmation]',
        id: 'user_password_confirmation',
        label: t('devise.registrations.placeholders.repeat_password'),
        light: true,
        required: true
      } %>
    </div>
  <% end %>

  <%= f.submit t("devise.invitations.edit.submit_button"), class: 'buttonGhostM marginTop' %>
<% end %>

<div class="smallMarginTop">
  <%= button_to t('devise.shared.sign_up_google'),
    omniauth_authorize_path(resource_name, :google_oauth2, invitation_token: resource.invitation_token),
    method: :post,
    class: 'buttonGhostM'
  %>
</div>
