<%= form_for(@trigger) do |f| %>
<% if @trigger.errors.any? %>
  <div class="error_explanation">
    <%= t('error_explanation') %>
  </div>
<% end %>

<div class="table">

  <div class="table_cell padding_right vertical_align">

    <div class="sidebar_field" >
      <div class="sidebar_label"><%= f.label :name %></div>
      <%= f.text_field :name, :class => "name_field" %>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <a href="#" class="toggle_button" onclick="toggleElements(['categories', 'showCategories', 'hideCategories']); " id="showCategories">
          <i class="fa fa-plus-square"></i>
        </a>
        <a href="#" class="toggle_button" style="display: none" onclick="toggleElements(['categories', 'showCategories', 'hideCategories'])" id="hideCategories">
          <i class="fa fa-minus-square" ></i>
        </a></i>
        <%= f.label 'Categories' %>
      </div>
      <div id="categories" style="display: none">
        <% if !@categories.nil? && @categories.length > 0 %>
          <% @categories.each do |item| %>
          <%= f.check_box(:category, {:multiple => true, :checked => @trigger.category.include?(item.id)}, item.id, nil) %>
          <%= item.name %><br>
          <% end %>
        <% else %>
          <%= no_taxonomies_error("category") %>
        <% end %>
      </div>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <a href="#" class="toggle_button" onclick="toggleElements(['moods', 'showMoods', 'hideMoods']); " id="showMoods">
          <i class="fa fa-plus-square"></i>
        </a>
        <a href="#" class="toggle_button" style="display: none" onclick="toggleElements(['moods', 'showMoods', 'hideMoods'])" id="hideMoods">
          <i class="fa fa-minus-square" ></i>
        </a>
        <%= f.label 'Moods' %>
      </div>

      <div id ="moods" style="display: none">
        <% if !@moods.nil? && @moods.length > 0 %>
          <% @moods.each do |item| %>
          <%= f.check_box(:mood, {:multiple => true, :checked => @trigger.mood.include?(item.id)}, item.id, nil) %>
          <%= fetch_taxonomies(@trigger, "trigger", item.id, "mood", true, false) %><br>
          <% end %>
         <% else %>
          <%= no_taxonomies_error("mood") %>
        <% end %>
      </div>
    </div>

    <div class="sidebar_field">
      <div class="sidebar_label">
        <a href="#" class="toggle_button" onclick="toggleElements(['strategies', 'showStrategies', 'hideStrategies']); " id="showStrategies">
          <i class="fa fa-plus-square"></i>
        </a>
        <a href="#" class="toggle_button" style="display: none" onclick="toggleElements(['strategies', 'showStrategies', 'hideStrategies'])" id="hideStrategies">
          <i class="fa fa-minus-square" ></i>
        </a>
        <%= f.label 'Strategies' %>
      </div>

      <div id ="strategies" style="display: none">
        <% if !@strategies.nil? && @strategies.length > 0 %>
          <% @strategies.each do |item| %>
          <%= f.check_box(:strategies, {:multiple => true, :checked => @trigger.strategies.include?(item.id)}, item.id, nil) %>
          <%= fetch_taxonomies(@trigger, "trigger", item.id, "strategy", true, false) %><br>
          <% end %>
        <% else %>
          <%= no_taxonomies_error("strategy") %>
        <% end %>
      </div>
    </div>

    <% if !@viewers.nil? && @viewers.length > 0 %>
    <div class="sidebar_field">
      <div class="sidebar_label">
        <%= f.label :viewers %>
      </div>
      <input type="checkbox" id="viewers" /><span id="viewers_label"></span>
      <br>
      <% @viewers.each do |item| %>
      <%= f.check_box(:viewers, {:multiple => true, :checked => @trigger.viewers.include?(item)}, item, nil) %><%= User.where(id: item).first.name %><br>
      <% end %>
    </div>
    <% end %>

     <div class="sidebar_field">
      <div class="sidebar_label"><%= f.label 'Allow Comments?' %>
        <div class="align_right">
          <%= f.check_box :comment %>
        </div>
      </div>
    </div>
  </div>

  <div class="table_cell vertical_align">
    <div class="field">
      <div class="label">
        <%= f.label 'Describe the trigger & how it affects your mood and behaviour' %>
      </div>
      <%= f.cktext_area :why, :style => "height: 200px" %>
    </div>
    <div class="field">
      <div class="label">
        <%= f.label t('fix_label') %>
      </div>
      <%= f.cktext_area :fix, :style => "height: 200px" %>
    </div>
  </div>

</div>

<div class="clear"></div>

<div class="actions align_right">
  <%= f.hidden_field :userid, :value => current_user.id %>
  <%= f.submit %>
</div>

<div class="clear"></div>

<% end %>




