<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% @trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <% Category.where(:userid => current_user.id).all.each do |item| %>
      <br />
      <%= f.check_box(:category, {:multiple => true, :checked => @trigger.category.include?(item.id.to_s)}, item.id, nil) %>
      <%= item.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :mood %>
    <% Mood.where(:userid => current_user.id).all.each do |item| %>
      <br />
      <%= f.check_box(:mood, {:multiple => true, :checked => @trigger.mood.include?(item.id.to_s)}, item.id, nil) %>
      <%= item.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :why %><br />
    <%= f.text_area :why %>
  </div>
  <div class="field">
    <%= f.label :fix %><br />
    <%= f.text_area :fix %>
  </div>
  <div class="field">
    <%= f.label :viewers %>
    <% @viewers.each do |item| %>
      <br />
      <%= f.check_box(:viewers, {:multiple => true, :checked => @trigger.viewers.include?(item.to_s)}, item, nil) %>
      <%= User.where(:id => item).first.firstname %> <%= User.where(:id => item).first.lastname %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.hidden_field :userid, :value => current_user.id %>  
    <%= f.submit %>
  </div>
<% end %>
