<div class="align_right" style="margin-bottom: 40px">
  <i class="fa fa-plus-square-o action"></i><%= link_to 'New Trigger', new_trigger_path %>
</div>
<div class="clear"></div>

<% @triggers.each do |trigger| %>
  <div class="trigger">
    <h1 class="trigger_name"><%= link_to trigger.name, trigger %></h1>
    Category:
    <% trigger.category.each do |item| %>
      <%= Category.where(:id => item.to_i).first.name %>
      <% if item != trigger.category.last %>
       <%= ', ' %>
      <% end %>
    <% end %>
    <br />Mood: 
    <% trigger.mood.each do |item| %>
      <%= Category.where(:id => item.to_i).first.name %>
      <% if item != trigger.mood.last %>
        <%= ', ' %>
      <% end %>
    <% end %>
    <div style="margin-top: 20px">
      <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_trigger_path(trigger) %>
      <i class="fa fa-trash-o action" style="margin-left: 20px"></i><%= link_to 'Delete', trigger, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

