<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<% if @triggers.length > 0 %>
  <div class="spacer"></div>
  <% @triggers.each_with_index do |trigger, index| %>
    <% if index+1 == @triggers.length %>
      <div class="trigger no_margin_bottom">
    <% else %>
      <div class="trigger">
    <% end %>
        <h1 class="trigger_name"><%= link_to trigger.name, trigger %></h1>
        <strong><%= t('.created') %></strong> <%= local_time(trigger.created_at, '%A, %B %e, %Y at %l:%M %P') %>
        <% if trigger.category.count > 0 %>
          <br>
          <strong>
            <% if trigger.category.count == 1 %>
              <%= t('.category') %>
            <% else %>
              <%= t('.categories') %>
            <% end %>
          </strong>
          <% trigger.category.each do |item| %>
            <%= fetch_taxonomies(trigger, "trigger", item, "category", false, true) %>
          <% end %>
        <% end %>
        <% if trigger.mood.count > 0 %>
          <br>
          <strong>
            <% if trigger.mood.count == 1 %>
              <%= t('.mood') %>
            <% else %>
              <%= t('.moods') %>
            <% end %>
          </strong>
          <% trigger.mood.each do |item| %>
            <%= fetch_taxonomies(trigger, "trigger", item, "mood", false, true) %>
          <% end %>
        <% end %>
        <% if trigger.strategies.count > 0 %>
          <br>
          <strong>
            <% if trigger.strategies.count == 1 %>
              <%= t('.strategy') %>
            <% else %>
              <%= t('strategies') %>
            <% end %>
          </strong>
          <% trigger.strategies.each do |item| %>
            <%= fetch_taxonomies(trigger, "trigger", item, "strategy", false, true) %>
          <% end %>
        <% end %>
        <div class="small_margin_top">
          <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_trigger_path(trigger) %>
          <i class="fa fa-trash-o action small_margin_left"></i><%= link_to t('.delete'), trigger, method: :delete, data: { confirm: t('.confirm') } %>
        </div>
      </div>
  <% end %>
<% end %>