<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Mood</th>
      <th>Why</th>
      <th>Fix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @triggers.each do |trigger| %>
      <tr>
        <td><%= Category.where(:id => trigger.category).first.name %></td>
        <td><%= trigger.name %></td>
        <td><%= Category.where(:id => trigger.mood).first.name %></td>
        <td><%= trigger.why %></td>
        <td><%= trigger.fix %></td>
        <td><%= link_to 'Show', trigger %></td>
        <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
        <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trigger', new_trigger_path %>
