<% if @trigger.category.count > 0 %>
  <p>
    <strong>
      <% if @trigger.category.count == 1 %>
        Category:
      <% else %>
        Categories:
      <% end %>
    </strong>
    <% @trigger.category.each do |item| %>
      <%= fetch_categories_moods(@trigger, "trigger", item, "category", true) %>
    <% end %>
  </p>
<% end %>

<% if @trigger.mood.count > 0 %>
  <p>
    <strong>
      <% if @trigger.mood.count == 1 %>
        Mood:
      <% else %>
        Moods:
      <% end %>
    </strong>
    <% @trigger.mood.each do |item| %>
      <%= fetch_categories_moods(@trigger, "trigger", item, "mood", true) %>
    <% end %>
  </p>
<% end %>

<% if !@trigger.why.blank? %>
  <p>
    <%= simple_format(@trigger.why) %>
  </p>
<% end %>


<% if !@trigger.fix.blank? %>
  <p>
    <strong>Fix:</strong>
    <%= simple_format(@trigger.fix) %>
  </p>
<% end %>

<% if @no_hide_page %>
  <div class="align_left">
    <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
      <% if @support.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>
          <ul>
          <% @support.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions"> 
        <%= f.hidden_field :userid, :value => current_user.id %>  
        <%= f.hidden_field :support_type, :value => 'trigger' %>  
        <%= f.hidden_field :support_id, :value => @trigger.id %>  
        <% if Support.where(:userid => current_user.id, :support_type => 'trigger').exists? %>
          <% if Support.where(:userid => current_user.id, :support_type => 'trigger').first.support_ids.include?(@trigger.id) %>
            <%= f.submit "Unsupport", :id => 'unsupport' %>
          <% else %>
            <%= f.submit "Support", :id => 'support' %>
          <% end %>
        <% else %>
          <%= f.submit "Support", :id => 'support' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="align_right">
    <%= fetch_supporters(Support.all, @trigger) %>
  </div>
  <div class="clear"></div>
<% end %>

<% if current_user.id == @trigger.userid || @no_hide_page %>

  <%= form_for @comment, :url => { :action => "comment" }, :html => { :method => "post" } do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :comment %>
    </div>

    <div class="actions">
      <%= f.hidden_field :comment_type, :value => 'trigger' %>  
      <%= f.hidden_field :comment_by, :value => current_user.id %>  
      <%= f.hidden_field :commented_on, :value => @trigger.id %>  
      <%= f.submit "Comment" %>
    </div>
  <% end %>

  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="comment_info">Posted by: <%= link_to User.where(:id => comment.comment_by).first.firstname + " " + User.where(:id => comment.comment_by).first.lastname, profile_index_path(:userid => comment.comment_by) %> on <%= comment.created_at %></div>
      <%= simple_format(comment.comment) %>
    </div>
  <% end %>

<% end %>

