<p>
  <strong>Category:</strong>
  <% @trigger.category.each do |item| %>
    <%= Category.where(:id => item.to_i).first.name %>
    <% if item != @trigger.category.last %>
      <%= ', ' %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trigger.name %>
</p>

<p>
  <strong>Mood:</strong>
  <% @trigger.mood.each do |item| %>
    <%= Mood.where(:id => item.to_i).first.name %>
    <% if item != @trigger.mood.last %>
      <%= ', ' %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Why:</strong>
  <%= @trigger.why %>
</p>

<p>
  <strong>Fix:</strong>
  <%= @trigger.fix %>
</p>

<% if current_user.id == @trigger.userid %>
  <%= link_to 'Edit', edit_trigger_path(@trigger) %> 
<% end %>
