<strong>Created:</strong> <%= local_time(@trigger.created_at, '%A, %B %e, %Y at %l:%M %P') %>
<% if @trigger.category.count > 0 %>
  <br>
    <strong>
      <% if @trigger.category.count == 1 %>
        Category:
      <% else %>
        Categories:
      <% end %>
    </strong>
    <% @trigger.category.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "category", true, true) %>
    <% end %>
<% end %>

<% if @trigger.mood.count > 0 %>
  <br>
    <strong>
      <% if @trigger.mood.count == 1 %>
        Mood:
      <% else %>
        Moods:
      <% end %>
    </strong>
    <% @trigger.mood.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "mood", true, true) %>
    <% end %>
<% end %>

<% if !@trigger.why.blank? %>
  <p>
    <div class="label"><%= label_tag t('why_label') %></div>
    <%= simple_format(@trigger.why) %>
  </p>
<% end %>

<% if !@trigger.fix.blank? %>
  <p>
    <div class="label"><%= label_tag t('fix_label') %></div>
    <%= simple_format(@trigger.fix) %>
  </p>
<% end %>

<% if @trigger.strategies.count > 0 %>
  <p>
    <div class="label"><%= label_tag t('strategies_label') %></div>
    <% @trigger.strategies.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "strategy", true, true) %>
    <% end %>
  </p>
<% end %>

<% if @no_hide_page %>
  <% if current_user.id != @trigger.userid %>
    <div class="align_left">
      <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
        <% if @support.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>
            <ul>
            <% @support.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="actions">
          <%= f.hidden_field :userid, :value => current_user.id %>
          <%= f.hidden_field :support_type, :value => 'trigger' %>
          <%= f.hidden_field :support_id, :value => @trigger.id %>
          <% if Support.where(:userid => current_user.id, :support_type => 'trigger').exists? %>
            <% if Support.where(:userid => current_user.id, :support_type => 'trigger').first.support_ids.include?(@trigger.id) %>
              <%= f.submit "Unsupport", :id => 'unsupport' %>
            <% else %>
              <%= f.submit "Support", :id => 'support' %>
            <% end %>
          <% else %>
            <%= f.submit "Support", :id => 'support' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="align_right">
    <%= fetch_supporters(Support.all, @trigger) %>
  </div>
  <div class="clear"></div>
<% end %>

<% if @trigger.comment && (current_user.id == @trigger.userid || @no_hide_page) %>

  <%= form_for @comment, :url => { :action => "comment" }, :html => { :method => "post" } do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :comment %>
    </div>

    <div class="actions">
      <%= f.hidden_field :comment_type, :value => 'trigger' %>
      <%= f.hidden_field :comment_by, :value => current_user.id %>
      <%= f.hidden_field :commented_on, :value => @trigger.id %>
      <%= f.select :visibility, [['Share with everyone', 'all'], ['Share with ' + User.where(:id => @trigger.userid).first.name + ' only', 'private']] %>
      <%= f.submit "Comment" %>
    </div>
  <% end %>

  <% @comments.each do |comment| %>
    <% if comment.visibility == 'all' || (comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid)) %>
        <div class="comment">
          <div class="table">
            <div class="table_cell" style="width: 100px; padding-right: 20px; vertical-align: top">
              <% profile = User.where(:id => comment.comment_by).first %>
                <%= image_tag fetch_profile_picture(profile.avatar.url), class: 'mini_profile_picture' %>
                <br>
            </div>
            <div class="table_cell">
              <div class="comment_info">
                <%= link_to profile.name, profile_index_path(:userid => comment.comment_by) %> on <%= local_time(comment.created_at, '%A, %B %e, %Y at %l:%M %P') %>
              </div>
              <%= simple_format(comment.comment) %>
              <% if comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid) %>
                <div class="subtle">Visible only between you and <%= profile.name %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
<% else %>
  <em>Comments have been disabled.</em>
<% end %>
