<strong><%= t('.created') %></strong> <%= local_time(@trigger.created_at, '%A, %B %e, %Y at %l:%M %P') %>
<% if @trigger.category.count > 0 %>
  <br>
    <strong>
      <% if @trigger.category.count == 1 %>
        <%= t('.category') %>
      <% else %>
        <%= t('.categories') %>
      <% end %>
    </strong>
    <% @trigger.category.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "category", true, true) %>
    <% end %>
<% end %>

<% if @trigger.mood.count > 0 %>
  <br>
    <strong>
      <% if @trigger.mood.count == 1 %>
        <%= t('.mood') %>
      <% else %>
        <%= t('.moods') %>
      <% end %>
    </strong>
    <% @trigger.mood.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "mood", true, true) %>
    <% end %>
<% end %>

<% if !@trigger.why.blank? %>
  <p>
    <div class="label"><%= label_tag t('.why') %></div>
    <%= simple_format(@trigger.why) %>
  </p>
<% end %>

<% if !@trigger.fix.blank? %>
  <p>
    <div class="label"><%= label_tag t('.fix') %></div>
    <%= simple_format(@trigger.fix) %>
  </p>
<% end %>

<% if @trigger.strategies.count > 0 %>
  <p>
    <div class="label"><%= label_tag t('.strategies') %></div>
    <% @trigger.strategies.each do |item| %>
      <%= fetch_taxonomies(@trigger, "trigger", item, "strategy", true, true) %>
    <% end %>
  </p>
<% end %>

<!-- Disabling support feature temporarily -->
<% if false %>
  <% if @no_hide_page %>
    <% if current_user.id != @trigger.userid %>
      <div class="align_left">
        <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
          <% if @support.errors.any? %>
            <div class="error_explanation">
              <%= t('.error_explanation') %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.hidden_field :userid, :value => current_user.id %>
            <%= f.hidden_field :support_type, :value => 'trigger' %>
            <%= f.hidden_field :support_id, :value => @trigger.id %>
            <% if Support.where(:userid => current_user.id, :support_type => 'trigger').exists? %>
              <% if Support.where(:userid => current_user.id, :support_type => 'trigger').first.support_ids.include?(@trigger.id) %>
                <%= f.submit t('.unsupport'), :id => 'unsupport' %>
              <% else %>
                <%= f.submit t('.support'), :id => 'support' %>
              <% end %>
            <% else %>
              <%= f.submit t('.support'), :id => 'support' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="align_right">
      <%= fetch_supporters(Support.all, @trigger) %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

<% if @trigger.comment && (current_user.id == @trigger.userid || @no_hide_page) %>

  <%= form_for @comment, :url => { :action => "comment" }, :html => { :method => "post" } do |f| %>
    <% if @comment.errors.any? %>
        <div class="error_explanation">
          <%= t('.error_explanation') %>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :comment %>
    </div>

    <div class="actions">
      <%= f.hidden_field :comment_type, :value => 'trigger' %>
      <%= f.hidden_field :comment_by, :value => current_user.id %>
      <%= f.hidden_field :commented_on, :value => @trigger.id %>
      <% if current_user.id == @trigger.userid %>
         <%= f.hidden_field :visibility, :value => 'all' %>
      <% else %>
        <%= f.select :visibility, [[t('.share_everyone'), 'all'], [t('.share_with') + User.where(:id => @trigger.userid).first.name + t('.only'), 'private']] %>
      <% end %>
      <%= f.submit t('.comment') %>
    </div>
  <% end %>

  <% @comments.each do |comment| %>
    <% if comment.visibility == 'all' || (comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid)) %>
        <div class="comment">
          <div class="table">
            <div class="table_cell small_profile_picture_div vertical_align_top small_padding_right">
              <% profile = User.where(:id => comment.comment_by).first %>
                <%= image_tag fetch_profile_picture(profile.avatar.url), class: 'mini_profile_picture' %>
                <br>
            </div>
            <div class="table_cell">
              <div class="comment_info">
                <%= link_to profile.name, profile_index_path(:userid => comment.comment_by) %> <%= t('.on') %> <%= local_time(comment.created_at, '%A, %B %e, %Y at %l:%M %P') %>
              </div>
              <%= simple_format(comment.comment) %>
              <% if comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @trigger.userid) %>
                <div class="subtle"><%= t('.visible_only_to') %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
<% else %>
  <em><%= t('.disabled_comments') %></em>
<% end %>
