<div class="table">
	<div class="table_cell" style="width: 200px; padding-right: 40px; vertical-align: top">
		<%= image_tag fetch_profile_picture(@profile.avatar.url), class: 'profile_picture' %>
	</div>
	<div class="table_cell" style="vertical-align: middle">
		<% if @profile.about %>
			<%= @profile.about %>
			<br>
			<br>
		<% end %>
		<% if @profile == current_user %>
			<%= link_to 'Customize profile', edit_user_registration_path %>
			<br>
			<br>
		<% end %>
		<i class="fa fa-location-arrow fa-inline"></i><%= User.where(:id => @profile.id).first.location %>
		<% if @profile.id != current_user.id %>
		 	<br>
			<% if current_user.allies_by_status(:pending_from_ally).include? @profile %>
			 	<br><%= link_to 'Cancel Request', remove_allies_path(ally_id: @profile.id), :method => :post, data: { confirm: 'Are you sure?' } %>
			<% elsif current_user.allies_by_status(:accepted).include? @profile %>
				<br><%= link_to 'Remove', remove_allies_path(ally_id: @profile.id), :method => :post, data: { confirm: 'Are you sure?' } %>
			<% elsif current_user.allies_by_status(:pending_from_user).include? @profile %>
				<br><%= link_to 'Accept', add_allies_path(ally_id: @profile.id), :method => :post %> | <%= link_to 'Reject', remove_allies_path(:userid1 => current_user.id, :userid2 => @profile.id), :method => :post, data: { confirm: 'Are you sure?' } %>
			<% else %>
				<br><%= link_to 'Add to Allies', add_allies_path(ally_id: @profile.id), :method => :post %>
			<% end %>
		<% end %>
	</div>
</div>
<div class="spacer"></div>

<% if !@triggers.nil? %>
	<% @triggers.each_with_index do |item, index| %>
		<% if is_viewer(item.viewers) || current_user.id == @profile.id %>
			<% if index+1 == @triggers.length %>
  				<div class="profile_container" style="margin-bottom: 0">
  			<% else %>
				<div class="profile_container">
			<% end %>
					<h1 class="profile_name"><%= link_to item.name, item %></h1>
					<strong>
				      <% if item.category.count == 1 %>
				        Category:
				      <% else %>
				        Categories:
				      <% end %>
				    </strong>
					<% item.category.each do |category_item| %>
	      				<%= fetch_taxonomies(item, "trigger", category_item, "category", true, true) %>
	    			<% end %>
	    			<br>
	    			<strong>
				      <% if item.mood.count == 1 %>
				        Mood:
				      <% else %>
				        Moods:
				      <% end %>
				    </strong>
					<% item.mood.each do |mood_item| %>
	      				<%= fetch_taxonomies(item, "trigger", mood_item, "mood", true, true) %>
	    			<% end %>
	    			<br>
				    <br>
				    <%= simple_format(item.why[0..200]) %>
				    <% if item.why.length >= 200 %>
	              		<%= " [...]" %>
	            	<% end %>
				    <%= fetch_supporters(Support.all, item) %>
				</div>
		<% end %>
	<% end %>
<% end %>
