<div class="table">
	<div class="table_cell profile_picture_div vertical_align_top padding_right">
		<%= image_tag fetch_profile_picture(@profile.avatar.url), class: 'profile_picture' %>
	</div>
	<div class="table_cell vertical_align_middle">
		<% if @profile.about %>
			<%= @profile.about %>
			<br>
			<br>
		<% end %>
		<% if @profile == current_user %>
			<%= link_to t('.edit_user'), edit_user_registration_path %>
			<br>
			<br>
		<% end %>
		<% if !User.where(:id => @profile.id).first.location.nil? %>
			<i class="fa fa-location-arrow fa-inline"></i><%= User.where(:id => @profile.id).first.location %>
		<% end %>
		<% if @profile.id != current_user.id %>
		 	<br>
			<% if current_user.allies_by_status(:pending_from_ally).include? @profile %>
			 	<br><%= link_to t('.cancel_request'), remove_allies_path(ally_id: @profile.id, refresh: profile_index_path(:userid => @profile.id)), :method => :post, data: { confirm: t('.confirm') } %>
			<% elsif current_user.allies_by_status(:accepted).include? @profile %>
				<br><%= link_to t('.remove_ally'), remove_allies_path(ally_id: @profile.id, refresh: profile_index_path(:userid => @profile.id)), :method => :post, data: { confirm: t('.confirm') } %>
			<% elsif current_user.allies_by_status(:pending_from_user).include? @profile %>
				<br><%= link_to t('.accept_ally'), add_allies_path(ally_id: @profile.id, refresh: profile_index_path(:userid => @profile.id)), :method => :post %> | <%= link_to t('.reject_ally'), remove_allies_path(:ally_id => @profile.id, refresh: profile_index_path(:userid => @profile.id)), :method => :post, data: { confirm: t('.confirm') } %>
			<% else %>
				<br><%= link_to t('.add_ally'), add_allies_path(ally_id: @profile.id, refresh: profile_index_path(:userid => @profile.id)), :method => :post %>
			<% end %>
		<% end %>
	</div>
</div>

<% if !@moments.nil? && !@moments.empty? %>
	<div class="spacer"></div>

	<% @moments.each_with_index do |item, index| %>
		<% if is_viewer(item.viewers) || current_user.id == @profile.id %>
			<% if index+1 == @moments.length %>
  				<div class="profile_container no_margin_bottom">
  			<% else %>
				<div class="profile_container">
			<% end %>
					<h1 class="profile_name"><%= link_to item.name, item %></h1>
					<%= render :partial => '/moments/info', locals: { data: item, show_strategies: true, home: true } %>
				</div>
		<% end %>
	<% end %>
<% end %>
