<%= form_for(@moment) do |f| %>
  <%= react_component('Form', props: {
    inputs: [
      {
        id: 'moment_name',
        type: 'text',
        name: 'moment[name]',
        label: t('common.name'),
        value: @moment.name || nil,
        required: true,
        dark: true
      },
      {
        id: 'moment_why',
        type: 'textarea',
        name: 'moment[why]',
        label: t('moments.form.why'),
        value: @moment.why || nil,
        required: true,
        dark: true,
      },
      {
        id: 'moment_fix',
        type: 'textarea',
        name: 'moment[fix]',
        label: t('moments.form.fix'),
        value: @moment.fix || nil,
        dark: true,
      },
      {
        id: 'moment_comment',
        type: 'checkbox',
        name: 'moment[comment]',
        label: t('comment.allow_comments'),
        value: @moment.comment,
        checked: @moment.comment,
        info: t('comment.hint'),
        dark: true,
      },
      {
        id: 'moment_publishing',
        type: 'checkbox',
        label: t('moments.form.draft_question'),
        dark: true,
        name: 'publishing',
        value: true,
        uncheckedValue: false,
        checked: @moment.published?
      },
      {
        id: 'submit',
        type: 'submit',
        value: t('common.actions.submit'),
        dark: true
      }
    ]
  }) %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top sidebar">

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @categories,
        this_data: @moment.category,
        data_type: 'category',
        data_type_plural: 'categories'
      } %>

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @moods,
        this_data: @moment.mood,
        data_type: 'mood',
        data_type_plural: 'moods'
      } %>

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @strategies,
        this_data: @moment.strategy,
        data_type: 'strategy',
        data_type_plural: 'strategies'
      } %>

    <% if !@viewers.nil? && @viewers.length > 0 %>
      <div class="sidebar_field">
        <div class="sidebar_label expand_toggle" data-toggle="#viewers">
          <a href="#" class="toggle_button">
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="gridRow">
            <%= f.label t('shared.viewers.plural'), class: 'smaller_margin_right' %>
            <%= react_component('Tooltip', props: {
              element: '<i class="fa fa-question-circle"></i>',
              text: t('moments.form.viewers_hint'),
              right: true
            }) %>
          </div>
        </div>
      </div>

      <div id="viewers" class="display_none">
        <div id="viewers_list">
          <label>
            <input type="checkbox" id="viewers_all" />
            <span id="viewers_label"><%= t('common.actions.select_all') %></span>
          </label>

          <% @viewers.each do |item| %>
            <label>
              <%= f.check_box(:viewers, { multiple: true, checked: @moment.viewers.include?(item.id)}, item.id, nil) %>
              <%= User.where(id: item.id).first.name %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
