<%= form_for(@moment) do |f| %>
  <%
  viewers_input = {}
    if !@viewers.nil? && @viewers.length > 0
      checkboxes = []
      @viewers.each do |item|
        checkboxes.push({
          id: "moment_viewers_#{item.id}",
          name: 'moment[viewers][]',
          value: item.id,
          checked: @moment.viewers.include?(item.id),
          label: User.where(id: item.id).first.name
        })
      end
      viewers_input = {
        id: 'moment_viewers',
        name: 'moment[viewers]',
        type: 'checkboxGroup',
        checkboxes: checkboxes,
        label: t('shared.viewers.plural'),
        dark: true,
        accordion: true,
        info: t('moments.form.viewers_hint')
      }
    end
  %>
  <%= react_component('Form', props: {
    inputs: [
      {
        id: 'moment_name',
        type: 'text',
        name: 'moment[name]',
        label: t('common.name'),
        value: @moment.name || nil,
        required: true,
        dark: true
      },
      {
        id: 'moment_why',
        type: 'textarea',
        name: 'moment[why]',
        label: t('moments.form.why'),
        value: @moment.why || nil,
        required: true,
        dark: true,
      },
      {
        id: 'moment_fix',
        type: 'textarea',
        name: 'moment[fix]',
        label: t('moments.form.fix'),
        value: @moment.fix || nil,
        dark: true,
      },
      {
        id: 'moment_comment',
        type: 'checkbox',
        name: 'moment[comment]',
        label: t('comment.allow_comments'),
        value: @moment.comment,
        checked: @moment.comment,
        info: t('comment.hint'),
        dark: true,
      },
      viewers_input,
      {
        id: 'moment_publishing',
        type: 'checkbox',
        label: t('moments.form.draft_question'),
        dark: true,
        name: 'publishing',
        value: true,
        uncheckedValue: false,
        checked: @moment.published?
      },
      {
        id: 'submit',
        type: 'submit',
        value: t('common.actions.submit'),
        dark: true
      }
    ]
  }) %>

<div class="table">

  <div class="table_cell padding_right vertical_align_top sidebar">

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @categories,
        this_data: @moment.category,
        data_type: 'category',
        data_type_plural: 'categories'
      } %>

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @moods,
        this_data: @moment.mood,
        data_type: 'mood',
        data_type_plural: 'moods'
      } %>

    <%= render partial: '/shared/autocomplete_checkboxes', locals: {
        f: f,
        all_data: @strategies,
        this_data: @moment.strategy,
        data_type: 'strategy',
        data_type_plural: 'strategies'
      } %>
  </div>
</div>
<% end %>
