<strong><%= t('moments.show.created') %></strong> <%= local_time(local_assigns[:data].created_at, '%A, %B %e, %Y at %l:%M %P') %>
<% if local_assigns[:data].category.count > 0 %>
  <br>
  <strong>
    <% if local_assigns[:data].category.count == 1 %>
      <%= t('moments.show.category') %>
    <% else %>
      <%= t('moments.index.categories') %>
    <% end %>
  </strong>
  <% local_assigns[:data].category.each do |item| %>
    <span class="notification_wrapper">
      <span class="tip_notifications_button link_style"><%= Category.where(id: item).first.name %></span><% if local_assigns[:data].category.last != item %><%= ', ' %><% end %>
      <%= render :partial => '/notifications/preview', locals: { data: Category.where(id: item).first, edit: edit_category_path(item) } %>
    </span>
  <% end %>
<% end %>

<% if local_assigns[:data].class.name == 'Moment' && local_assigns[:data].mood.count > 0 %>
  <br>
  <strong>
    <% if local_assigns[:data].mood.count == 1 %>
      <%= t('moments.index.mood') %>
    <% else %>
      <%= t('moments.index.moods') %>
    <% end %>
  </strong>
  <% local_assigns[:data].mood.each do |item| %>
    <span class="notification_wrapper">
      <span class="tip_notifications_button link_style"><%= Mood.where(id: item).first.name %></span><% if local_assigns[:data].mood.last != item %><%= ', ' %><% end %>
      <%= render :partial => '/notifications/preview', locals: { data: Mood.where(id: item).first, edit: edit_mood_path(item) } %>
    </span>
  <% end %>
<% end %>

<% if local_assigns[:data].class.name == 'Moment' && local_assigns[:data].strategies.count > 0 && local_assigns[:show_strategies] %>
  <br>
  <strong>
    <% if local_assigns[:data].strategies.count == 1 %>
      <%= t('moments.index.strategy') %>
    <% else %>
      <%= t('moments.index.strategies') %>
    <% end %>
  </strong>
  <% local_assigns[:data].strategies.each do |item| %>
    <%= fetch_taxonomies(local_assigns[:data], "moment", item, "strategy", true, true) %>
  <% end %>
<% end %>

<% if local_assigns[:home] %>
  <div class="spacer"></div>
  <% if local_assigns[:data].class.name == 'Moment' %>
  <%= strip_tags(local_assigns[:data].why[0..200]) %>
  <% if local_assigns[:data].why.length >= 200 %>
    <%= " [...]" %>
  <% end %>
  <% elsif local_assigns[:data].class.name == 'Strategy' %>
  <%= strip_tags(local_assigns[:data].description[0..200]) %>
  <% if local_assigns[:data].description.length >= 200 %>
    <%= " [...]" %>
  <% end %>
  <% end %>
<% end %>

<% if local_assigns[:class_name] %>
<br>
<div class="align_right subtle" id="class_name">
<% if local_assigns[:data].class.name == 'Moment' %>
  Moment
<% elsif local_assigns[:data].class.name == 'Strategy' %>
  Strategy
<% end %>
</div>
<% end %>

<div class="clear"></div>

