<% title t('moments.plural') %>
<% page_new new_moment_path %>

<div class="subtitle">
  <%= t('moments.index.subtitle') %>
</div>

<div class="spacer"></div>

<% if @moments.length > 0 %>
  <%= render :partial => '/search/posts', locals: { data_type: 'moment' } %>

  <%= render :partial => '/shared/stats', locals: { data_type: 'moment' } %>

  <% # https://www.chartkick.com/ - (group_by_day) https://github.com/ankane/groupdate %>
  <% # TODO: use @moments instead of the full data record ... requires understanding this ruby (@_@) https://github.com/ankane/groupdate#arrays-and-hashes %>
  <%= area_chart Moment.group_by_day(:created_at).count, xtitle: "Date", ytitle: "Sentiment"  %>

  <div id="pages">
    <div class="page">
    <%= render @moments %>
    </div>
  </div>

  <%= paginate @moments %>
<% else %>
<%= raw t('moments.index.instructions', {
    icon: '<i class="fa fa-plus-circle"></i>'
  }) %>

<div class="spacer"></div>

<div id="pages">
  <div class="page">
    <div class="moment no_margin_bottom">
    	<h1 class="moment_name">
          <%= content_tag(:span, '<i class="fa fa-lock"></i>'.html_safe, class: 'yes_title small_margin_right', title: t('comment.control')) %>
          <%= t('moments.index.example_name') %>
      	</h1>

        <strong><%= t('categories.label', count: 1) %></strong> <%= t('moments.index.example_category') %>
        <br><strong><%= t('moods.label', count: 3) %></strong> <%= t('moods.example_moods') %>
    </div>
  </div>
</div>
<% end %>
