<% title t('moments.plural') %>
<% page_new new_moment_path %>

<div class="subtitle">
  <%= t('moments.index.subtitle') %>
</div>

<% if @moments.length > 0 %>
  <%= render partial: '/search/posts', locals: { data_type: 'moment' } %>
  <div class="spacer"></div>
  <div class="hideOnMobile">
    <%= react_component("ChartControl", props: {
      types: [],
      initialParams: {
        type: 'Moments',
        data: {
          Moments: @react_moments,
        }
      }
    })%>

    <div class="spacer"></div>
 </div>

  <%= render partial: '/shared/stats', locals: { data_type: 'moment' } %>

  <% if @moments.count > 0 %>
    <div class="spacer"></div>
  <% end %>

  <div class="gridTwo">
    <%= render @moments %>
  </div>

  <%= paginate @moments %>
<% else %>
  <%= raw t('moments.index.instructions') %>

  <div class="gridTwo">
    <div class="gridTwoItemBoxLight">
      <%= react_component('Story', props: {
        name: t('moments.index.example_name'),
        link: moments_path,
        actions: {
          viewers: t('comment.control')
        },
        categories: [t('moments.index.example_category')],
        moods: t('moods.example_moods').split(',')
      }) %>
    </div>
  </div>
<% end %>
