<%= render :partial => '/moments/info', locals: { data: @moment } %>

<% if !@moment.why.blank? %>
  <p>
    <div class="label"><%= label_tag t('.why') %></div>
    <%= raw(@moment.why) %>
  </p>
<% end %>

<% if !@moment.fix.blank? %>
  <p>
    <div class="label"><%= label_tag t('.fix') %></div>
    <%= raw(@moment.fix) %>
  </p>
<% end %>

<% if @moment.strategies.count > 0 %>
  <p>
    <div class="label"><%= label_tag t('.strategies') %></div>
    <% @moment.strategies.each do |item| %>
      <%= fetch_taxonomies(@moment, "moment", item, "strategy", true, true) %>
    <% end %>
  </p>
<% end %>

<!-- Disabling support feature temporarily -->
<% if false %>
  <% if @no_hide_page %>
    <% if current_user.id != @moment.userid %>
      <div class="align_left">
        <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
          <% if @support.errors.any? %>
            <div class="error_explanation">
              <%= t('.error_explanation') %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.hidden_field :userid, :value => current_user.id %>
            <%= f.hidden_field :support_type, :value => 'moment' %>
            <%= f.hidden_field :support_id, :value => @moment.id %>
            <% if Support.where(:userid => current_user.id, :support_type => 'moment').exists? %>
              <% if Support.where(:userid => current_user.id, :support_type => 'moment').first.support_ids.include?(@moment.id) %>
                <%= f.submit t('.unsupport'), :id => 'unsupport' %>
              <% else %>
                <%= f.submit t('.support'), :id => 'support' %>
              <% end %>
            <% else %>
              <%= f.submit t('.support'), :id => 'support' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="clear"></div>
  <% end %>
<% end %>

<%= render :partial => '/shared/viewers_indicator', locals: { data: @moment } %>

<%= render :partial => '/shared/comments', locals: { data: @moment, comments: @comments, comment: @comment, no_hide_page: @no_hide_page, comment_type: 'moment' } %>
