<%= render :partial => '/moments/info', locals: { data: @moment } %>

<% if !@moment.why.blank? %>
  <p>
    <div class="label"><%= label_tag t('.why') %></div>
    <%= simple_format(@moment.why) %>
  </p>
<% end %>

<% if !@moment.fix.blank? %>
  <p>
    <div class="label"><%= label_tag t('.fix') %></div>
    <%= simple_format(@moment.fix) %>
  </p>
<% end %>

<% if @moment.strategies.count > 0 %>
  <p>
    <div class="label"><%= label_tag t('.strategies') %></div>
    <% @moment.strategies.each do |item| %>
      <%= fetch_taxonomies(@moment, "moment", item, "strategy", true, true) %>
    <% end %>
  </p>
<% end %>

<!-- Disabling support feature temporarily -->
<% if false %>
  <% if @no_hide_page %>
    <% if current_user.id != @moment.userid %>
      <div class="align_left">
        <%= form_for @support, :url => { :action => "support" }, :html => { :method => "post" } do |f| %>
          <% if @support.errors.any? %>
            <div class="error_explanation">
              <%= t('.error_explanation') %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.hidden_field :userid, :value => current_user.id %>
            <%= f.hidden_field :support_type, :value => 'moment' %>
            <%= f.hidden_field :support_id, :value => @moment.id %>
            <% if Support.where(:userid => current_user.id, :support_type => 'moment').exists? %>
              <% if Support.where(:userid => current_user.id, :support_type => 'moment').first.support_ids.include?(@moment.id) %>
                <%= f.submit t('.unsupport'), :id => 'unsupport' %>
              <% else %>
                <%= f.submit t('.support'), :id => 'support' %>
              <% end %>
            <% else %>
              <%= f.submit t('.support'), :id => 'support' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="clear"></div>
  <% end %>
<% end %>

<% if @moment.comment && (current_user.id == @moment.userid || @no_hide_page) %>

  <%= form_for @comment, :url => { :action => "comment" }, :html => { :method => "post" } do |f| %>
    <% if @comment.errors.any? %>
        <div class="error_explanation">
          <%= t('.error_explanation') %>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :comment, class: 'comment_textarea' %>
    </div>

    <div class="actions align_right">
      <%= f.hidden_field :comment_type, :value => 'moment' %>
      <%= f.hidden_field :comment_by, :value => current_user.id %>
      <%= f.hidden_field :commented_on, :value => @moment.id %>
      <%= f.select :visibility, [[t('.share_everyone'), 'all'], [t('.share_with') + User.where(:id => @moment.userid).first.name + t('.only'), 'private']] %>
      <%= f.submit t('.comment'), class: 'no_margin_right' %>
    </div>

    <div class="clear"></div>
  <% end %>

  <% @comments.each do |comment| %>
    <% if comment.visibility == 'all' || (comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @moment.userid)) %>
        <% if @comments.first == comment %>
        <div class="comment no_margin_top" %>
        <% else %>
        <div class="comment">
        <% end %>
          <div class="table">
            <div class="table_row">
              <div class="table_cell small_profile_picture_div vertical_align_middle padding_right">
                <% profile = User.where(:id => comment.comment_by).first %>
                  <%= image_tag fetch_profile_picture(profile.avatar.url), class: 'mini_profile_picture' %>
                  <br>
              </div>
              <div class="table_cell">
                <div class="comment_info">
                  <%= link_to profile.name, profile_index_path(:userid => comment.comment_by) %> <%= t('.on') %> <%= local_time(comment.created_at, '%A, %B %e, %Y at %l:%M %P') %>
                </div>
                <div class="comment_text"><%= simple_format(comment.comment) %></div>
                <% if comment.visibility == 'private' && (comment.comment_by == current_user.id || current_user.id == @moment.userid) %>
                  <div class="subtle"><%= t('.visible_only_to') %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
<% else %>
  <em><%= t('.disabled_comments') %></em>
<% end %>
