<% title @moment.name %>
<%= render partial: '/moments/info', locals: { data: @moment } %>

<% if @moment.why.present? %>
  <p>
    <div class="label"><%= label_tag t('moments.form.why') %></div>
    <%= raw(@moment.why) %>
  </p>
<% end %>

<% if @moment.fix.present? %>
  <p>
    <div class="label"><%= label_tag t('moments.form.fix') %></div>
    <%= raw(@moment.fix) %>
  </p>
<% end %>

<% if @moment.strategies.count > 0 %>
  <p>
    <div class="label"><%= label_tag t('moments.show.strategies') %></div>
    <% @moment.strategies.collect { |id| Strategy.find_by_id(id) }.each do |item| %>
      <span class="notification_wrapper">
        <span class="tip_notifications_button link_style">
          <%= item.name %></span><%= ', ' if @moment.strategies.last != item.id %>
        <%= render partial: '/notifications/preview', locals: { data: item, edit: edit_strategy_path(item) } %>
      </span>
    <% end %>
  </p>
<% end %>

<%= render partial: '/shared/viewers_indicator', locals: { data: @moment } %>
<%= render partial: '/shared/comments', locals: { data: @moment, comments: @comments, no_hide_page: @no_hide_page, comment_type: 'moment' } %>
