<!DOCTYPE html>
<html lang="<%= @locale %>">
  <head>
    <title><%= render 'layouts/title' %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= cl_client_hints_meta_tag %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="if me blog" href="https://medium.com/feed/ifme" />

    <!-- Webpack Assets START -->
    <!--
      NOTE: Do not load multiple, separate webpack bundles, as it looks like
      only the last one will load correctly in production, as though there is
      a global registry and the last bundle overwrites the entire registry.
    -->
    <%= javascript_pack_tag 'webpack_bundle' %>
    <%= stylesheet_pack_tag 'webpack_bundle' %>
    <!-- Webpack Assets END -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <!-- Pusher -->
      <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
      <%= tag :meta, name: 'pusher-key', content: ENV['PUSHER_KEY'] %>
    <% end %>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <style type="text/css">
      .ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
        font-weight: normal;
        margin: -$size-1;
        text-align:left;
        font-size:$size-14;
      }
      .ui-autocomplete-loading { background: white url("/assets/ui-anim_basic_16x16.gif") right center no-repeat; }
    </style>

    <!-- Timepicker UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" />

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initAutocomplete"
        async defer></script>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="content <%= user_signed_in? && !static_page? ? 'dashboard' : 'static' %>">
      <%= react_component('Header', props: header_props) %>
      <%= render partial: 'shared/alerts' %>
      <% if user_signed_in? && !static_page? %>
        <div class="dashboardContent">
          <div class="dashboardNav">
            <%= render partial: "shared/dashboard_nav" %>
          </div>
          <div class="dashboardSection">
            <%= render partial: "shared/page_title" %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="staticContent">
          <%= render partial: "shared/page_title" %>
          <%= yield %>
        </div>
      <% end %>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
