<!DOCTYPE html>
<html lang="<%= @locale %>">
  <head>
    <title><%= render 'layouts/title' %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="<%= t('app_description') %>">
    <meta name="theme-color" content="#6d0839">
    <%= csrf_meta_tags %>
    <% if (user_signed_in? && !static_page?) || secret_share_path? %>
    <meta name="robots" content="none">
    <% end %>
    <%= cl_client_hints_meta_tag %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="if me blog" href="https://medium.com/feed/ifme" />

    <!-- Webpack Assets START -->
    <!--
      NOTE: Do not load multiple, separate webpack bundles, as it looks like
      only the last one will load correctly in production, as though there is
      a global registry and the last bundle overwrites the entire registry.
    -->
    <% if Rails.env.production? %>
      <%= inline_css 'webpack_bundle.css' %>
    <% else %>
      <%= stylesheet_pack_tag 'webpack_bundle', media: 'all' %>
    <% end %>
    <%= javascript_pack_tag 'webpack_bundle', 'data-turbolinks-track': true, defer: true %>
    <!-- Webpack Assets END -->

    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <% if Rails.env.production? %>
      <%= inline_css 'application.css' %>
      <%= inline_js 'application.js' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% if user_signed_in? %>
      <!-- Pusher -->
      <% pusher_url = 'https://js.pusher.com/3.0/pusher.min.js' %>
      <link rel="preconnect" href=<%= pusher_url %>>
      <%= javascript_include_tag pusher_url, async: true %>
      <%= tag :meta, name: 'pusher-key', content: ENV['PUSHER_KEY'] %>
    <% end %>
  </head>

  <body>
    <div class="content <%= (user_signed_in? && !static_page?) || secret_share_path? ? 'dashboard' : 'static' %>" role="main">
      <%= react_component('Header', props: header_props) %>
      <%= render partial: 'shared/alerts' %>
      <% if user_signed_in? && !static_page? %>
        <div class="dashboardContent">
          <div class="dashboardNav">
            <%= react_component('HeaderProfile', props: { profile: header_props[:profile] }) %>
            <%= render partial: "shared/dashboard_nav_links" %>
            <%= render partial: "shared/dashboard_nav_actions" %>
          </div>
          <div class="dashboardSection">
            <%= render partial: "shared/page_title" %>
            <%= yield %>
          </div>
        </div>
      <% elsif secret_share_path? %>
        <div class="secretShareContent">
          <%= render partial: "shared/page_title" %>
          <%= yield %>
        </div>
      <% else %>
        <div class="staticContent">
          <%= render partial: "shared/page_title" %>
          <%= yield %>
        </div>
      <% end %>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
