<!DOCTYPE html>
<html>
	<head>
		<title>
			if me
			<% if current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new") %>
				- Sign in
			<% elsif current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create") %>
				- Sign up
			<% elsif current_page?(new_user_password_path) || (params[:controller] == "devise/passwords" && action_name == "new") %>
				- Forgot your password?
			<% elsif current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update") %>
				- Account
			<% else %>
				- <%= @page_title %>
			<% end %>
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<!-- jQuery UI -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<style type="text/css">
			.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
				font-weight: normal;
				margin: -1px;
				text-align:left;
				font-size:14px;
				}
			.ui-autocomplete-loading { background: white url("/assets/ui-anim_basic_16x16.gif") right center no-repeat; }
		</style>
	</head>

	<body>
		<div id="container">
			<%= render partial: "shared/header" %>

			<div class="page-container">

				<div id="header_space"></div>

				<% if current_page?(root_path) || (current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new")) || (current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create")) || (current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update")) || current_page?(about_path) || current_page?(contributors_path) || current_page?(blog_path) %>
				<div id="page_title">
				<% else %>
				<div id="page_title">
				<% end %>
					<div id="page_title_content">
						<% if current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new") %>
							Tell your stories now
						<% elsif current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create") %>
							Join the community now
						<% elsif current_page?(new_user_password_path) || (params[:controller] == "devise/passwords" && action_name == "new") %>
							Forgot your password?
						<% elsif current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update") %>
							Customize your account
						<% elsif !@page_edit.blank? %>
							<div class="align_left">
								<%= @page_title %>
							</div>
							<div class="align_right">
								<a class="page_edit" href=<%= @page_edit %>><i class="fa fa-pencil"></i></a>
							</div>
							<div class="clear"></div>
						<% elsif !@page_new.blank? %>
							<div class="align_left">
								<%= @page_title %>
							</div>
							<div class="align_right">
								<a class="page_new" href=<%= @page_new %>><i class="fa fa-plus-circle"></i></a>
							</div>
							<div class="clear"></div>
						<% elsif !@page_author.blank? %>
							<div class="align_left">
								<%= @page_title %>
							</div>
							<div class="align_right">
								<%= @page_author %>
							</div>
							<div class="clear"></div>
						<% elsif @page_search %>
							<div class="align_left">
								<%= @page_title %>
							</div>
							<div class="align_right">
								<i class="fa fa-search" id="search"></i>
							</div>
							<div class="clear"></div>
							<div id="search_box" style="display: none">
								<%= render :partial => '/search/form' %>
							</div>
						<% elsif current_page?(root_path) && !user_signed_in? %>
							<div class="headline center">
						        <span class="branding_title">
						          if <span class="branding_subtitle">me</span>
						        </span> is a community for mental health experiences
					      </div>
						<% else %>
							<%= @page_title %>
						<% end %>
					</div>
				</div>

				<div id="content">
					<% if !notice.blank? %>
						<div class="notice"><%= notice %></div>
					<% end %>
					<% if !alert.blank? %>
						<div class="alert"><%= alert %></div>
					<% end %>

					<%= yield %>
				</div>

				<div id="footer">
					<div id="footer_content">
						<div class="align_left">
							<%= link_to('About', about_path, class: "spacing") %>
							<%= link_to('Blog', blog_path, class: "spacing") %>
							<%= link_to('Contributors', contributors_path, class: "spacing") %>
							<%= link_to('Privacy Policy', privacy_path, class: "spacing") %>
							<%= link_to('GitHub', "https://github.com/julianguyen/ifme", class: "spacing", target: "blank") %>
							<%= link_to('Twitter', "http://twitter.com/ifmeorg", target: "blank") %>
						</div>
						<div class="align_right">
							Copyright &#169; 2014-<%= Time.now.strftime("%Y") %> if me
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				var the_height = $('#header').height();
				$('#header_space').css({"height": the_height});

				var click_flag = 0;
				var click_flag2 = 0;

				$('.expand_button').click(function(event) {
					event.preventDefault();
					if (click_flag % 2 == 0) {
						$('#expand_me').css({"display": "block"});
						$('#me').css({"opacity": 0.8});
						$('#title_expand').css({"opacity": 0.8});
					} else {
						$('#expand_me').css({"display": "none"});
						$('#me').css({"opacity": 1});
						$('#title_expand').css({"opacity": 1});
					}

					the_height = $('#header').height();
					$('#header_space').css({"height": the_height});
					click_flag++;
				});

				$('.expand_trigger_button').mouseover(function() {
					if ($('#expand_trigger').css('display') == "none") {
						$('#expand_trigger').css({"display": "block"});

						if ($('#expand_me').css('display') == "block") click_flag++;
						$('#expand_me').css({"display": "none"});
						$('#me').css({"opacity": 1});
						$('#title_expand').css({"opacity": 1});

						the_height = $('#header').height();
						$('#header_space').css({"height": the_height});
					}
				});

				$(':not(.expand_trigger_button)').click(function() {
					$('#expand_trigger').css({"display": "none"});
					$('#trigger').css({"opacity": 1});
					$('#title_expand').css({"opacity": 1});
					the_height = $('#header').height();
					$('#header_space').css({"height": the_height});
				});

				$('#search').click(function() {
					if (click_flag2 % 2 == 0) {
						$('#search_box').css({"display": "block"});
					} else {
						$('#search_box').css({"display": "none"});
					}
					click_flag2++;
				});

				$(window).resize(function () {
					var the_height = $('#header').height();
					$('#header_space').css({"height": the_height});
				});
			});
		</script>
	</body>
</html>
