<!DOCTYPE html>
<html>
	<head>
		<title>
			if me
			<% if current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new") %>
				- Sign in
			<% elsif current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create") %>
				- Sign up
			<% elsif current_page?(new_user_password_path) || (params[:controller] == "devise/passwords" && action_name == "new") %>
				- Forgot your password?
			<% elsif current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update") %>
				- Settings
			<% else %>
				- <%= @page_title %>
			<% end %>
		</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!-- jQuery UI -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<style type="text/css">
			.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
				font-weight: normal;
				margin: -1px;
				text-align:left;
				font-size:14px;
				}
			.ui-autocomplete-loading { background: white url("/assets/ui-anim_basic_16x16.gif") right center no-repeat; }
		</style>
	</head>

	<body>
		<script type="text/javascript">
			$(document).ready(function(){
				$(function () {
					var the_height = $('#header').height();
					$('#header_space').css({"height": the_height});

					var click_flag = 0;
					var click_flag2 = 0;

					$('.expand_button').click(function() { 
						if (click_flag % 2 == 0) {
							$('#expand_me').css({"display": "block"});
							$('#me').css({"opacity": 0.8});
							$('#title_expand').css({"opacity": 0.8});
						} else {
							$('#expand_me').css({"display": "none"});
							$('#me').css({"opacity": 1});
							$('#title_expand').css({"opacity": 1});
						}

						the_height = $('#header').height();
						$('#header_space').css({"height": the_height});
						click_flag++;
					});

					var upTimer = false,
						downTimer = false,
						isHover = false;

					$('.expand_trigger_button').hover(function() { 		
						$('#expand_trigger').css({"display": "block"});
						$('#trigger').css({"opacity": 0.8});
						$('#title_expand').css({"opacity": 0.8});
						the_height = $('#header').height();
						$('#header_space').css({"height": the_height});
					});

					$(':not(.expand_trigger_button)').click(function() {
						isHover = false;
						$('#expand_trigger').css({"display": "none"});
						$('#trigger').css({"opacity": 1});
						$('#title_expand').css({"opacity": 1});
						the_height = $('#header').height();
						$('#header_space').css({"height": the_height});
					});



					$('#search').click(function() {
						if (click_flag2 % 2 == 0) {
							$('#search_box').css({"display": "block"});
						} else {
							$('#search_box').css({"display": "none"});
						}
						click_flag2++;
					});

					$(window).resize(function () {
						var the_height = $('#header').height();
						$('#header_space').css({"height": the_height});
					});
				});
			});
		</script>
		<% if current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new") %>
		  	<style>
			  	#header a#signin_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			  	}
			</style>
		<% elsif current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create") %>
		  	<style>
			  	#header a#signup_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			  	}
			</style>
		<% elsif params[:controller] == "categories" %>
			<style>
		  		#header a#categories_link:link {
		  			border-top: 1px solid #ffffff;
		    		border-bottom: 1px solid #ffffff;
		    		opacity: 0.5;
		  		}
			</style>
		<% elsif params[:controller] == "moods" %>
		  	<style>
				#header a#moods_link:link {
					border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			  	}
			</style>
		<% elsif params[:controller] == "triggers" %>
		  	<style>
			  	#header a#triggers_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% elsif params[:controller] == "strategies" %>
		  	<style>
			  	#header a#strategies_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% elsif params[:controller] == "medications" %>
		  	<style>
			  	#header a#medications_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% elsif params[:controller] == "alerts" %>
		  	<style>
			  	#header a#alerts_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% elsif params[:controller] == "allies" %>
		  	<style>
			  	#header a#allies_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% elsif current_page?(root_path) %>
		  	<style>
			  	#header a#home_link:link {
			  		border-top: 1px solid #ffffff;
			    	border-bottom: 1px solid #ffffff;
			    	opacity: 0.5;
			 	}
			</style>
		<% end %>

		<div id="container">
			<div id="header">
				<div id="header_content">
					<div class="table">
						<div class="table_cell" id = "pre_trigger" style="vertical-align: middle">
							<% if user_signed_in? %>
							  	<%= link_to('Home', root_path, class: 'nav_link', id: 'home_link') %>

							</div>
							<div class="table_cell" id = "post_trigger" style="vertical-align: middle">
							 	<span id="trigger" class="expand_trigger_button">
							 	<%= link_to('Triggers', triggers_path, class: 'nav_link', id: 'triggers_link')  %>
							 	</span>
							 	<%= link_to('Strategies', strategies_path, class: 'nav_link', id: 'strategies_link')  %>
							 	<%= link_to('Medications', medications_path, class: 'nav_link', id: 'medications_link')  %>
							 	<% #link_to('Alerts', alerts_path, class: 'nav_link', id: 'alerts_link')  %>
							 	<%= link_to('Allies', allies_path, class: 'nav_link', id: 'allies_link')  %>
							<% else %>
							  	<%= link_to('Sign in', new_user_session_path, id: 'signin_link', class: 'nav_link') %>
							  	<%= link_to('Join', new_user_registration_path, id: 'signup_link', class: 'nav_link') %>
							<% end %>
						</div>
						<div class="table_cell" id="title" style="vertical-align: middle">
							<% if user_signed_in? %>
								If <span id="me" class="expand_button">Me</span>
							<% else %>
								If <%= link_to('Me', root_path, id: 'me') %>
							<% end %>
						</div>
						<% if user_signed_in? %>
							<div class="table_cell expand_button" id="title_expand" style="vertical-align: middle" value = "me">
								<i class="fa fa-sort-asc"></i>
							</div>
						<% end %>
					</div>
					<% if user_signed_in? %>
						<div id = "expand_trigger" style = "display: none">
							<%= link_to('Categories', categories_path, class: 'nav_link', id: 'categories_link')  %>
							<%= link_to('Moods', moods_path, class: 'nav_link', id: 'moods_link')  %> 
						</div>

						<div id="expand_me" style="display: none">
							<%= link_to 'Profile', profile_index_path(:userid => current_user.id), class: 'me_link' %>
							<%= link_to 'Settings', edit_user_registration_path, class: 'me_link' %>
							<%= link_to('Sign out', destroy_user_session_path, :method => :delete, class: 'me_link') %>
						</div>
					<% end %>
					<div class="clear"></div>
				</div>
			</div>

			<div id="header_space"></div>

			<% if current_page?(root_path) || (current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new")) || (current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create")) || (current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update")) || current_page?(about_path) %>
			<div id="page_title">
			<% else %>
			<div id="page_title">
			<% end %>
				<div id="page_title_content">
					<% if current_page?(new_user_session_path) || (params[:controller] == "devise/sessions" && action_name == "new") %>
						Sign in
					<% elsif current_page?(new_user_registration_path) || (params[:controller] == "devise/registrations" && action_name == "create") %>
						Join
					<% elsif current_page?(new_user_password_path) || (params[:controller] == "devise/passwords" && action_name == "new") %>
						Forgot your password?
					<% elsif current_page?(edit_user_registration_path) || (params[:controller] == "registrations" && action_name == "update") %>
						Settings
					<% elsif !@page_edit.blank? %>
						<div class="align_left">
							<%= @page_title %>
						</div>
						<div class="align_right">
							<a class="page_edit" href=<%= @page_edit %>><i class="fa fa-pencil"></i></a>
						</div>
						<div class="clear"></div>
					<% elsif !@page_new.blank? %>
						<div class="align_left">
							<%= @page_title %>
						</div>
						<div class="align_right">
							<a class="page_new" href=<%= @page_new %>><i class="fa fa-plus-circle"></i></a>
						</div>
						<div class="clear"></div>
					<% elsif !@page_author.blank? %>
						<div class="align_left">
							<%= @page_title %>
						</div>
						<div class="align_right">
							<%= @page_author %>
						</div>
						<div class="clear"></div>
					<% elsif @page_search %>
						<div class="align_left">
							<%= @page_title %>
						</div>
						<div class="align_right">
							<i class="fa fa-search" id="search"></i>
						</div>
						<div class="clear"></div>
						<div id="search_box" style="display: none">
							<%= render :partial => '/search/form' %>
						</div>
					<% elsif current_page?(root_path) && !user_signed_in? %>
						<div class="headline center">
					        <span class="branding_title">
					          if <span class="branding_subtitle">me</span>
					        </span> is a community for mental health experiences
				      </div>
					<% else %>
						<%= @page_title %>
					<% end %>
				</div>
			</div>

			<div id="content">

				<% if !notice.blank? %>
					<div class="notice"><%= notice %></div>
				<% end %>
				<% if !alert.blank? %>
					<div class="alert"><%= alert %></div>
				<% end %>

				<%= yield %>

			</div>

			<div id="footer">
				<div id="footer_content">
					<div class="align_left">
						<%= link_to('About', about_path, class: "spacing") %>
						<a href="https://github.com/julianguyen/ifme" target="_blank">Contribute</a>
					</div>
					<div class="align_right">
						&#169; 2014-<%= Time.now.strftime("%Y") %> if me
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>
